[2020-05-13 14:14] mtreacy002 opened #1 "test"
test

[2020-05-14 04:19] mtreacy002 opened #2 "UI: High-fidelity Mockup - Register"
@mtreacy002 commented on [Thu May 14 2020](https://github.com/anitab-org/bridge-in-tech-backend/issues/20)

## Description
As a student,
I need create high-fidelity mockup for Register,
so that I can move forward with on the planning stage.

## Mocks
Initial idea (per proposal)
Figure 1.1. Register
<img width="1133" alt="BridgeInTech MockUp - Register" src="https://user-images.githubusercontent.co

[2020-05-14 04:43] mtreacy002 commented on #2
Update:
@isabelcosta, @ramitsawhney27, and @foongminwong. Here is the high-fidelity for Register page I made using _justinmind_ as suggested. Color code are taken from AnitaB.org logo color mix.

<img width="1025" alt="Screen Shot 2020-05-14 at 3 16 33 pm" src="https://user-images.githubusercontent.com/29667122/81895604-f9e0b200-95f5-11ea-9843-10538cc34c4f.png">

[Link to file](https://drive.googl

[2020-05-14 04:58] #1 closed, assigned to nobody

[2020-05-14 19:18] foongminwong commented on #2
Like your design! When a user checks 'Yes' for 'Do you represent an organization?', will an extra space pop up so that the user can enter his/her/their organization?

[2020-05-14 22:57] isabelcosta commented on #2
@mtreacy002 about the share button, we can troubleshoot this in our 1:1 this Saturday ;)
Excited to see this mockup 🤗

Questions that came up:
- Is the "Available to be a mentor or mentee", relevant to an organization profile?
- if you are just registering (you are not a logged user), are you supposed to be able to see Programs, Organizations, mentors and mentees etc?

[2020-05-15 00:41] mtreacy002 commented on #2
Thanks, @isabelcosta.
On your questions:

Yes, because:
* only a user can create an organization. When they register, they register as a user, not as organization. But the answer to `Do you represent to an organization` will initiate the `User_Extension` with the new registered user Id so when they login at a later session, they are allowed to create an Organization profile then create a program/s

[2020-05-15 00:43] mtreacy002 commented on #2
Update:
I've made adjustment to the Register page. I've added `Both` as the 3rd options for `Available to be a:....` (as per the recent change made on Mentorship Android UI).

<img width="1027" alt="Screen Shot 2020-05-15 at 10 19 15 am" src="https://user-images.githubusercontent.com/29667122/81999599-ee929280-9698-11ea-8158-7268167345f2.png">

[2020-05-15 01:39] mtreacy002 commented on #2
@foongminwong, atm, I''m thinking that with this checkbox, if it's `ticked` (==true) once the user data related to `User` table is recorded in MS schema, the new user id will be used to create an instance of `User_extention` in BIT schema. When the user login for the first time, they'll be taken to the [`Create Profile - fig.4.6` then `Create Company Profile - fig.3.3`](https://github.com/anitab-o

[2020-05-15 01:59] mtreacy002 commented on #2
Hi @anitab-org/bridgeintech-maintainers, I have something I'd like your vote/opinion on.
Atm, I have separate tabs for Mentors and Mentees (lists) because originally on Mentorship System we're not allowing a mentor to also be a mentee. With the recent change (`Both` as 3rd option on `Available to be a:...` question). Now I'm thinking of just putting the Mentors and Mentees together in one tab. I'm

[2020-05-22 20:50] mtreacy002 commented on #2
Note to self:

* Need to add `Login` button to alternate between SignUp and Login pages.
* Need to add `Timezone` field to register page (to initiate the users_extension table, we need: user_id, is_organization_rep, timezone)).

[2020-05-24 13:06] isabelcosta commented on #2
@mtreacy002 I like :koala: Members :) but I'm biased since I am using that on mentorship system. I feel it's less specific about the roles of the users. Then you can specify in the item in the list thst represents a user. This is my opinion :)

[2020-05-24 13:33] foongminwong commented on #2
Some comments:
* To follow the current UI design on mentorship-android, change the check buttons of "Mentor, Mentee, Both" to radio buttons
* I would prefer `Members`  (`Participants` is a little too common,  `Professionals` sounds a little related to organizations, `Collaborators` might confuse users who join BIT that they might be working on projects)

[2020-05-24 14:02] foongminwong commented on #2
Remember to let users enter `email address` for registration

[2020-05-24 14:08] foongminwong opened #3 "UI: High-fidelity Mockup - Login"
## Description
As a student,
I need to create high-fidelity mockup for Login,
so that I can move forward with on the planning stage.

## Mocks
Initial idea (per proposal)
Figure 1.2. Login
<img width="1133" alt="BridgeInTech MockUp - Login" src="https://user-images.githubusercontent.com/29667122/81494743-76217f80-92ee-11ea-9d61-6a4fb4790af2.png">
## Acceptance Criteria
### Update [Required]
- [x]

[2020-05-24 14:09] foongminwong commented on #3
@mtreacy002 feel free to edit/insert your proposal `Login` mock on this issue

[2020-05-25 23:06] mtreacy002 commented on #2
Update:
Register page (now using Figma)

<img width="928" alt="Screen Shot 2020-05-26 at 5 47 25 pm" src="https://user-images.githubusercontent.com/29667122/82874592-86d22680-9f79-11ea-9ed9-b43bcb3c2022.png">

[link to file](https://www.figma.com/file/jxCqu1lq55H7jC4FDY119a/BridgeInTech?node-id=10%3A1)

[2020-05-25 23:08] mtreacy002 commented on #3
Update:

Login page.

<img width="931" alt="Screen Shot 2020-05-26 at 9 03 37 am" src="https://user-images.githubusercontent.com/29667122/82847235-603bcd80-9f30-11ea-9fc6-c908e5388072.png">

[link to file](https://www.figma.com/file/jxCqu1lq55H7jC4FDY119a/BridgeInTech?node-id=10%3A1)

[2020-05-25 23:16] mtreacy002 commented on #3
@anitab-org/bridgeintech-maintainers, I think we don't need the radio button for `Organization` or `Mentor/Mentee` anymore because an organization must be represented by a user who doesn't have to be a mentor or mentee but can be if they want to. Plus, we don't have separate registration form for an organization (its user representative is the one who will create organization profile). So, can we

[2020-05-26 05:22] mtreacy002 commented on #3
Update:

On second thought, I think it's ok to keep the radio button to check if the user is a representative of an organization (so we don't have to query all users data to check if user is rep to get the relevant users_extension table).
So, the latest mockup login I have is as below:

<img width="927" alt="Screen Shot 2020-05-26 at 5 47 54 pm" src="https://user-images.githubusercontent.com/29667

[2020-05-26 05:33] mtreacy002 opened #4 "UI: High-fidelity Mockup - Homepage"
## Description
As a student,
I need to create high-fidelity mockup for Homepage,
so that I can move forward with on the planning stage.

## Mocks
as per initial proposal:
<img width="855" alt="BridgeInTech MockUp - Homepage" src="https://user-images.githubusercontent.com/29667122/81494778-bda80b80-92ee-11ea-9ba7-482fa7c685e1.png">

## Acceptance Criteria
### Update [Required]
- [ ] About BridgeInT

[2020-05-26 16:05] foongminwong commented on #3
Hmm if you are planning to keep the radio buttons on the `Login`, based on your latest mockup, it doesn't have radio buttons. If not, your current mockup looks good

[2020-05-26 23:46] mtreacy002 commented on #3
Sorry @foongminwong , posted wrong image... 😂
<img width="868" alt="Screen Shot 2020-05-27 at 9 45 46 am" src="https://user-images.githubusercontent.com/29667122/82960808-e0c8ff80-9ffe-11ea-9ee9-313480536f5c.png">

[2020-05-26 23:50] mtreacy002 commented on #3
Although, now that I think of it, we can't rely on user on this.Coz, what if the user is `naughty` and say yes, but actually they don't represent an organisation? Or what if the other way around, the user is representing an organisation but they say `no` to the answer (maybe they forgot 😂). If we don't give this option (radio button) then, we just have to look into the user record in the user_exte

[2020-05-27 10:59] mtreacy002 commented on #4
Update:

Here's the Landing (Homepage) Mockup I have in mind. There are 3 internal sections on this Homepage:

1. **About** section
<img width="874" alt="Screen Shot 2020-05-27 at 8 52 08 pm" src="https://user-images.githubusercontent.com/29667122/83010825-341d6b00-a05c-11ea-80ce-c82d137afb5f.png">

2. **Benefit** section
<img width="937" alt="Screen Shot 2020-05-27 at 9 50 23 pm" src="https://use

[2020-05-27 12:33] isabelcosta commented on #4
@mtreacy002 I really love the mockups, it's so much realistic and relatable 🤗

[2020-05-28 00:13] mtreacy002 commented on #4
Thanks, @isabelcosta. As per your suggestion, I'll keep the Homepage as static page for the MVP. Meaning that the `Recent Programs` section will be for Future Feature 😉

[2020-05-28 02:46] mtreacy002 commented on #2
Update:
Hi @anitab-org/bridgeintech-maintainers. I've made tiny (but important change) to the Register page. Now it has the `Timezone` field so user can tell us their timezone at the time of registration. this will be a selector from list of Timezone enum.

<img width="473" alt="Screen Shot 2020-05-28 at 12 34 00 pm" src="https://user-images.githubusercontent.com/29667122/83092130-0da11380-a0e0-11

[2020-05-28 07:09] mtreacy002 opened #5 "UI: High-fidelity Mockup - Create User Profile"
## Description
As a student,
I need create a high-fidelity Mockup on Create User Profile,
so that I can move forward with my planning stage.

## Mocks
as per initial proposal
**Figure 4.6. Create Profile**
<img width="501" alt="BridgeInTech MockUp - Create_Profile" src="https://user-images.githubusercontent.com/29667122/81495112-3d36da00-92f1-11ea-8aed-9935103e6a03.png">

## Acceptance Criteria
##

[2020-05-28 07:12] mtreacy002 commented on #5
Update:
Hi @anitab-org/bridgeintech-maintainers. Here's the Create/Update User Profile Mockup.
Note: I divided the form t be 3 different section because we have 3 different tables related to each sections:
1. Personal Details section - MS schema User table
1. Additional Information section - BIT schema User_Extansion table
1. Personal Background section - BIT schema Personal_Background table.

Thi

[2020-05-28 07:21] meenakshi-dhanani commented on #5
In the user profile, may be we just add a * to show if all the fields are
mandatory. It looks good otherwise :)

On Thu, May 28, 2020 at 12:39 PM Maya Treacy <notifications@github.com>
wrote:

[2020-05-28 07:43] mtreacy002 commented on #5
mmm... as we're using the MS table on this, the default settings of these fields for User profile on MS are not mandatory (so the mandatory ones are just the one from Register form). Perhaps only one field qualified to be mandatory, which is `Name`. Do we still want the asterix `*` in there?

[2020-05-28 07:48] meenakshi-dhanani commented on #5
Then maybe would it make sense to have a * for name so that it is clear
that is mandatory?

On Thu, May 28, 2020 at 1:13 PM Maya Treacy <notifications@github.com>
wrote:

[2020-05-28 09:30] mtreacy002 commented on #5
that is mandatory?

yup, will add it now 😉

[2020-05-28 09:52] mtreacy002 commented on #5
Update:
added asterix `*` for the `Name` field 😃

<img width="966" alt="Screen Shot 2020-05-28 at 7 49 22 pm" src="https://user-images.githubusercontent.com/29667122/83126775-a6558480-a11c-11ea-8b93-46a8922ed7ff.png">

[2020-05-28 12:45] mtreacy002 commented on #5
Update:
User Profile - Additional Information section

<img width="876" alt="Screen Shot 2020-05-28 at 10 44 23 pm" src="https://user-images.githubusercontent.com/29667122/83143134-d3159600-a134-11ea-96d7-248ffc7a0d87.png">

[2020-05-28 12:50] mtreacy002 commented on #5
Update: Change the buttons at the bottom

1. User Profile - Personal details

<img width="922" alt="Screen Shot 2020-05-28 at 11 53 12 pm" src="https://user-images.githubusercontent.com/29667122/83150309-79b26480-a13e-11ea-97b4-4c8402de52a6.png">

[2020-05-28 13:55] mtreacy002 commented on #5
Update:
2. User Profile - Additional Information

<img width="931" alt="Screen Shot 2020-05-28 at 11 54 40 pm" src="https://user-images.githubusercontent.com/29667122/83150466-a49cb880-a13e-11ea-81da-d60ef7545f96.png">

[2020-05-28 13:56] mtreacy002 commented on #5
Update:
3. User Profile - Personal Background

<img width="792" alt="Screen Shot 2020-05-29 at 12 12 20 am" src="https://user-images.githubusercontent.com/29667122/83152406-1e35a600-a141-11ea-8525-5b5ec2bc0b4b.png">

[2020-05-28 14:14] mtreacy002 commented on #5
[Link to file](https://www.figma.com/file/jxCqu1lq55H7jC4FDY119a/BridgeInTech?node-id=10%3A1)

[2020-05-29 01:03] mtreacy002 commented on #3
Update:
as per discussion on [BIT weekly meeting, Wednesday, May 27th](https://docs.google.com/document/d/1QRHzy0IWgAE5bjkwI_Lp67Dv50aywGuUmzmWewQ1rpY/edit#heading=h.uj7p49x423h) it is decided that we'll go ahead with mockup below

<img width="927" alt="Screen Shot 2020-05-26 at 5 47 54 pm" src="https://user-images.githubusercontent.com/29667122/83209659-2ec73a00-a19c-11ea-9e9e-a037a6e829e2.png">

[2020-05-29 05:36] mtreacy002 commented on #5
Update:
Modified User Profile - Create/Update pages with `My Space` for Main navbar and added sub navbar under this tab

so, when user logged in, they can select the `My Space` tab on main navbar to get to their own `My Portfolio`, `MyProfile` and `My Contact` pages. Under Members tab we'll have the same sections but without `'My...' on the sub nav titles.

Here're the mockups
1. User Profile - Up

[2020-05-29 06:38] mtreacy002 commented on #5
Update:
Hi @anitab-org/bridgeintech-maintainers. Changed my mind on the sub nav under My Space section. Now it has `Request History` instead of `My Contact`

(will only put one image here to show the change. But have changed the relevant tabs in the [Figma file](https://www.figma.com/file/jxCqu1lq55H7jC4FDY119a/BridgeInTech?node-id=10%3A1))

<img width="862" alt="Screen Shot 2020-05-29 at 4 35 41

[2020-05-29 06:55] mtreacy002 opened #6 "UI: High-fidelity Mockup - Create Organization Profile"
## Description
As a student],
I need create a high-fidelity mockup for Create/Update Organization Profile,
so that I can move ahead with my planning stage.

## Mocks
as per initial proposal:

**Figure 3.3. Create Company Profile**
<img width="851" alt="BridgeInTech MockUp - Create_Company" src="https://user-images.githubusercontent.com/29667122/81495050-aec25880-92f0-11ea-8774-3c949eaac30a.png">

[2020-05-29 10:57] mtreacy002 commented on #6
Update:
Hi @anitab-org/bridgeintech-maintainers. Here's the mockup for Organization Profile - Create/Update form. Let me know what you think 😉

<img width="813" alt="Screen Shot 2020-05-29 at 9 19 22 pm" src="https://user-images.githubusercontent.com/29667122/83254450-1c77eb00-a1f2-11ea-9da0-addf2678340f.png">

[2020-05-29 11:29] mtreacy002 commented on #6
Update:
And here's the Organization Profile - View Details

![Screen Shot 2020-05-30 at 4 58 47 pm](https://user-images.githubusercontent.com/29667122/83321929-e476b380-a296-11ea-86e8-8a26a4338f38.png)

[2020-05-29 11:37] mtreacy002 commented on #6
Note: this is only MVP. In the future (Future Feature), we can add a function where the current representative can remove themselves so they are no longer representing the organization by selecting another user on the update form. After the update is successful, the current user will automatically be removed and won't see `My Organization` tab again from their Main Navbar.
It's similar to how `Adm

[2020-05-29 11:52] mtreacy002 opened #7 "UI: High-fidelity Mockup - Create Program"
## Description
As a student,
I need to create a high-fidelity mockup on Create Program,
so that I can move forward with the planning stage.

## Mocks
**Figure 4.1. Create Program 1/3**
<img width="848" alt="BridgeInTech MockUp - Create_Program1of3" src="https://user-images.githubusercontent.com/29667122/81495056-c568af80-92f0-11ea-870c-4ee9bf9c63f9.png">

**Figure 4.2. Create Program 2/3**
<img wi

[2020-05-30 03:14] mtreacy002 commented on #3
Hi @anitab-org/bridgeintech-maintainers. I prefer if we keep the `forgot password` feature as a `Nice To Have` feature and not `Required` feature. Should I take it out of the Mockup so that it represents what will really work as an MVP?

[2020-05-30 05:43] meenakshi-dhanani commented on #3
Yup. I think it makes sense to not include it in the MVP.

On Sat, May 30, 2020 at 8:45 AM Maya Treacy <notifications@github.com>
wrote:

[2020-05-30 05:45] mtreacy002 commented on #3
cool 👍. I'll take it off the mockup then 😉. Thanks for the input, @meenakshi-dhanani

[2020-05-30 06:54] mtreacy002 commented on #3
Update:
now without `forgot password` link

![Screen Shot 2020-05-30 at 4 53 22 pm](https://user-images.githubusercontent.com/29667122/83321855-3539dc80-a296-11ea-9c89-6dfb574c3978.png)

[2020-05-31 11:12] mtreacy002 commented on #4
Just wanna take notes on possible Reusable components based on the Homepage mockup:

* Public/Non Logged-in users Main-navbar
<img width="706" alt="Screen Shot 2020-05-31 at 9 02 24 pm" src="https://user-images.githubusercontent.com/29667122/83350877-7f988780-a382-11ea-84e5-135886669ff4.png">

* Logged-in users Main-Navbar - Not representative of an organization
<img width="707" alt="Screen Shot 2

[2020-05-31 11:15] mtreacy002 commented on #4
Also, I've updated the Homepage to the followings:

* About page
<img width="722" alt="Screen Shot 2020-05-31 at 9 14 02 pm" src="https://user-images.githubusercontent.com/29667122/83350997-bae78600-a383-11ea-9898-b7de1599a5f1.png">

* Benefit page
<img width="719" alt="Screen Shot 2020-05-31 at 9 14 09 pm" src="https://user-images.githubusercontent.com/29667122/83351002-c2a72a80-a383-11ea-9f67-65

[2020-05-31 11:24] mtreacy002 commented on #2
Note for potential reusable components:

* Text input field
<img width="403" alt="Screen Shot 2020-05-31 at 9 17 00 pm" src="https://user-images.githubusercontent.com/29667122/83351074-54af3300-a384-11ea-8ba3-c06bab4b8aca.png">

* Password input field
<img width="405" alt="Screen Shot 2020-05-31 at 9 17 17 pm" src="https://user-images.githubusercontent.com/29667122/83351085-655fa900-a384-11ea-9e4c

[2020-05-31 11:38] mtreacy002 commented on #5
Note for Reusable components:

* Sub-Navbar for Member users (under `My Space` main-navbar tab)
<img width="360" alt="Screen Shot 2020-05-31 at 9 34 45 pm" src="https://user-images.githubusercontent.com/29667122/83351416-018aaf80-a387-11ea-909f-560f36a627c2.png">

[2020-05-31 13:03] foongminwong commented on #5
Suggestions:
* Change `IRC ID` to `Zulip username` or explaining what IRC ID is
* Remove `Exit` button

Note: 3 pages for one user profile

[2020-05-31 13:34] foongminwong commented on #6
I saw the difference between `Update Organization Profile` and `Organization profile`. When a user clicks `Organization Profile`, it will show the purple one and then after the user clicks `Update`, it will show the orange one. What if the user wants to update again, which button should he/she clicks to update on the orange one? (Just discussed with you, you can put an `Edit` button on the oragne

[2020-05-31 13:35] foongminwong commented on #6
Swap `Exit` button to `Edit` button

[2020-05-31 13:44] foongminwong commented on #5
Self-note: 3 pages for one user profile

[2020-05-31 13:51] meenakshi-dhanani commented on #2
Hey @mtreacy002 looks good, I however have an alternate approach. We can think of the RegistrationForm/Register as a component, when you see a repetition/duplication while creating other components, you can then extract it out to a reusable/common one. If you pre-plan this, I'm afraid we may cause a certain amount of over-engineering. So start off with one component, and wait till you see duplicat

[2020-05-31 14:13] foongminwong opened #8 "Register a user"
## Description
As a user,
I want to register on BIT,
So that I can sign up as mentor/mentee for programs I like

## Mocks
See the latest mock under https://github.com/anitab-org/bridge-in-tech-web/issues/2

## Linked Issue
[Create Registration API](https://github.com/anitab-org/bridge-in-tech-backend/issues/24
)
## Out of Scope
Handling duplicate registrations

## Acceptance Criteria
### Update [R

[2020-05-31 14:20] meenakshi-dhanani commented on #8
Hey @foongminwong, since a user story is supposed to be of value to the customer, I'm going to modify the acceptance criteria to include the backend as well. It needs to be a complete slice (frontend + backend) to have a working story. Hope that's okay

[2020-05-31 14:25] mtreacy002 commented on #5
mmm... the issue is not all organization are the same, some might use Zulip, some might use Slack or other rIRC tools. Can I just add a `?` icon so when user wants further information, they can hover or click and we give them extra information saying "IRC is an Interactive Relay Channel. e.g, Zulip, Slack, Skype, etc"

Yup 👍, will do that.

Yup 😊

[2020-05-31 14:26] foongminwong commented on #8
Yes! Feel free to make changes on the issue :)

[2020-05-31 14:29] mtreacy002 commented on #2
Agree. I was actually thinking about that too... Making it as Form level (Register Form) as component will probably help make it faster to be reused rather than adding field one at a time... 😂. Thanks for the tips, @meenakshi-dhanani

[2020-05-31 17:45] meenakshi-dhanani opened #9 "UI Repository base setup"
## Description
Have a setup working with all dependencies and required directory structure.

## Acceptance Criteria
- [x] create a base setup for a react app
- [ ] add dependencies for testing
- [x] you should be able to build and run your app

## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 2 mentor.

## Estimation
1 day

[2020-05-31 23:41] mtreacy002 commented on #8
Thanks, @meenakshi-dhanani and @foongminwong for preparing this issue. I'll touch on it as soon as I'm done with backend [issue#24](https://github.com/anitab-org/bridge-in-tech-backend/issues/24) 😉
Just a note for password validation, @anitab-org/bridgeintech-maintainers, the rules we'll apply here must be used across all mentorship system backend and frontend (android) as well. We cannot have dif

[2020-05-31 23:49] mtreacy002 commented on #8
Actually, please don't open a new issue or channel on Zulip. I have started a discussion on this in [issue#710](https://github.com/anitab-org/mentorship-android/issues/710) mentorship android) and Zulip topic [#Common input validations](https://anitab-org.zulipchat.com/#narrow/stream/222534-mentorship-system/topic/Common.20Input.20validations) under mentorship-system channel. So, please use these

[2020-06-02 04:11] mtreacy002 commented on #2
Update:

To overcome the [issue](https://github.com/anitab-org/bridge-in-tech-backend/issues/24#issuecomment-636914484) blocking [issue#26 backend](https://github.com/anitab-org/bridge-in-tech-backend/pull/26), the Register form needs to be modified as below:

<img width="530" alt="Screen Shot 2020-06-02 at 2 03 05 pm" src="https://user-images.githubusercontent.com/29667122/83478845-42dfa400-a4da-

[2020-06-02 09:33] mtreacy002 commented on #9
@meenakshi-dhanani. Just wanna check.
So, I've created the basic setup for react using create-react-app boilerplate and merge it with the existing files/folder from the bridge-in-tech-web. The react app run successfully. Would this suffice for this issue? If so, I'll open the PR and push the code changes.

<img width="1680" alt="Screen Shot 2020-06-02 at 7 31 10 pm" src="https://user-images.github

[2020-06-02 12:26] meenakshi-dhanani commented on #9
Replace the default page with a default page for your app. Maybe have Bridge-in-tech and some 1-2 line description and that should be enough :)

[2020-06-02 12:31] mtreacy002 commented on #9
Ok 👍 will work on it..

[2020-06-02 17:09] meenakshi-dhanani opened #11 "As a user, I want to register on BIT"
## Description
As a user,
I want to register on BIT,
So that I can sign up as mentor/mentee for programs I like.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
2 days

[2020-06-02 18:20] meenakshi-dhanani commented on #8
@mtreacy002 I have updated the validation details on this. Validation needs to be a check on the front end, as well on the backend API. I'll add it to that issue as well. In case someone bypasses the front end and hits the API, the backend needs to be protected too.

[2020-06-04 06:56] meenakshi-dhanani commented on #9
All looks good. Except this directory called js(Not a really meaningful name) and it has just one file so again it doesn't need to be extracted into a directory. In future when you have multiple related files, choose to move them to related directories.

My suggestion: Put Home.jsx back to the src directory. Remove js directory

[2020-06-04 10:09] meenakshi-dhanani opened #12 "Setup Travis CI to run tests for BIT React frontend"
## Description
As a developer,
I need run tests on every PR on CI,
so that I can immediately get feedback on a build

## Out of Scope
Deploying to a higher environment when the push is on the develop branch

## Acceptance Criteria
- [ ] Build gets triggered on push
- [ ] Tests run for build

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentors.

## Estim

[2020-06-04 10:10] meenakshi-dhanani commented on #12
@isabelcosta This issue will not deal with deploying, this is at minimum to run tests. Is there a higher environment though(heroku/aws/any other) that we have where we can deploy and see BIT? We could make it part of the future issue for setting up in Travis

[2020-06-04 14:48] meenakshi-dhanani opened #13 "AnitaB logo does not load on nav bar"
**Describe the bug**
The AnitaB logo is not seen

**To Reproduce**
On the home page of the app

**Expected behavior**
Logo should be seen

**Screenshots**
If applicable, add screenshots to help explain your problem.

<img width="917" alt="Screen Shot 2020-06-04 at 3 31 45 PM" src="https://user-images.githubusercontent.com/14279061/83743671-ab648780-a678-11ea-86a7-ff167aac1c42.png">

[2020-06-05 00:01] isabelcosta commented on #12
@meenakshi-dhanani https://github.com/anitab-org/bridge-in-tech-backend/issues/22#issuecomment-636314931 yes. Until @mayburgos gets back to use with updates from AWS, we can use Heroku. That is what we are using at MS backend. Could we use it for Web as well?

[2020-06-05 04:33] meenakshi-dhanani commented on #12
@isabelcosta Thank you. Would be good to use for front end as well, where can I access it as a developer? Not sure if I require separate credentials for that?

[2020-06-05 16:36] foongminwong commented on #13
Not sure this will help
https://stackoverflow.com/questions/34582405/react-wont-load-local-images?answertab=active#tab-top

[2020-06-05 18:25] #9 closed, assigned to mtreacy002

[2020-06-06 23:39] mtreacy002 commented on #13
Thanks, @foongminwong. Will give it a look ....

[2020-06-06 23:47] mtreacy002 commented on #13
Yeah.... that link is if we are going to use webpack bundler as I mentioned [here](https://anitab-org.zulipchat.com/#narrow/stream/237630-bridge-in-tech/topic/React/near/199741769). But according to @meenakshi-dhanani 's  [response](https://anitab-org.zulipchat.com/#narrow/stream/237630-bridge-in-tech/topic/React/near/199745845), we are not using Webpack now so we can't really apply the solution g

[2020-06-07 14:50] foongminwong opened #14 "Login a user"
## Description
As a user,
I want to login on BIT,
So that I can login as mentor/mentee to see programs I like

## Out of Scope
- [ ] Persisting the auth JWT token on the client side and using it in every request to backend
- [ ] Being able to login via email
- [ ] On successful login, when user directed to Member Portfolio page, the Login link should be replaced with Logout option & Register shoul

[2020-06-09 06:01] meenakshi-dhanani opened #16 "Remove .vscode"
## Description
.vscode should not be committed

## Acceptance Criteria
- [ ] Delete .vscode
- [ ] Add .vscode to .gitignore so that it is not added in the future

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentor.

[2020-06-10 13:43] foongminwong opened #17 "Navigation to sub menus"
## Description
As a user,
I want to see the BIT public landing page/ Homepage,
so that I can see programs I like after login.

## Mocks
See the latest mock under https://github.com/anitab-org/bridge-in-tech-web/issues/4

## Acceptance Criteria
### Update [Required]
- [ ] About BridgeInTech section
- [ ] Benefits BIT section
- [ ] Recent mentoring opportunities section
- [ ] Contact form section (w

[2020-06-14 13:25] mahakbansal2019 commented on #16
hey @meenakshi-dhanani!
I would like to work on this.
Can I take this up?
Thanks :)

[2020-06-14 13:41] mtreacy002 opened #19 "Doc: Add link to Bridge In Tech Setup Instructions"
## Description
As a contributor,
I need to see a link on the README file to where I can read setup instruction for development environment of Bridge In Tech backend,
so that I can contribute to the project.

## Mocks
NA
## Acceptance Criteria
### Update [Required]
- [ ] Add a link with necessary description on README.md to go to BridgeInTech Development Environment Setup Instructions which can be

[2020-06-14 13:56] mtreacy002 opened #20 "QA: Write test cases for Register User"
## Description
As a student,
I need write test cases for Register user calls to API,
so that I can make sure the code I wrote work as expected.

### Out of Scope
A separate issue will take care of testing validations for each input of the register form.

## Acceptance Criteria
### Update [Required]
- [ ] test to see if the API call is made to MS API

### Enhancement to Update [Optional]

## Defini

[2020-06-14 16:03] mahakbansal2019 commented on #19
Hey @mtreacy002!
Can I work on this ?
Thanks :)

[2020-06-14 16:28] meenakshi-dhanani commented on #16
Let me know if you need any help :) Assigned the issue to you @mahakbansal2019

[2020-06-15 04:48] mtreacy002 commented on #19
Sure, go ahead, @mahakbansal2019 . Let me know if you need any help. Also, I'll move this issue to backend. I put it on frontend by accident. So, please add the link to the bridge-in-tech-backend repository README.md, not frontend 😉

[2020-06-15 04:48] #19 closed, assigned to mahakbansal2019

[2020-06-15 04:48] mtreacy002 commented on #19
Issue moved to [anitab-org/bridge-in-tech-backend #55](https://github.com/anitab-org/bridge-in-tech-backend/issues/55) via [**ZenHub**](https://www.zenhub.com/)

[2020-06-15 14:35] #16 closed, assigned to mahakbansal2019

[2020-06-15 14:58] #8 closed, assigned to mtreacy002

[2020-06-20 07:08] mtreacy002 commented on #14
Update: @anitab-org/bridgeintech-maintainers . I'll have to cut down and change few details of this login form.
It will no longer need `Login as:` `Organization` or `Mentor/Mentee` radio buttons following the development/what we have now in the Register form.

I also will not attempt the `forgot password` link for now. This can be revisited later after we've got MVP done (so, this can be part of `

[2020-06-21 13:17] #12 closed, assigned to mtreacy002

[2020-06-21 14:55] foongminwong opened #27 "View User Profile - Personal Details"
## Description
As a user,
I want to view the user profile
so that I can edit my personal user information.

## Out of Scope
 - [ ] Updating profile information
-  [ ] Displaying additional information
-  [ ] Displaying Personal Background

## Mocks
See the latest mock under https://github.com/anitab-org/bridge-in-tech-web/issues/5

## Acceptance Criteria

- [ ] all details present in the mockup mu

[2020-06-22 17:54] meenakshi-dhanani opened #28 "Test: Write tests for input validations on the Register form"
## Description
The Register component has many input fields. And it raises or displays a validation message if any of the inputs are not according to the format expected.

## Acceptance Criteria
- [ ] Write tests using React Testing Library in the Register.test.js file
- [ ] Test if validation message shows up for name
- [ ] Test if validation message shows up for username
- [ ] Test if validation

[2020-06-22 19:57] isabelcosta commented on #12
@meenakshi-dhanani , @mtreacy002 can provide you access to the mentorship-backend-bit deployed heroku app, as she has owenership of that.

[2020-06-23 03:36] mtreacy002 opened #29 "Test: Write test case for Login"
## Acceptance Criteria
### Update [Required]
- [ ] test when user enters incorrect credentials error message is seen
- [ ] test when user enters correct credentials error message is not seen
- [ ] test when login post call is unsuccessful appropriate error message is shown

### Enhancement to Update [Optional]
NA

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval

[2020-06-23 05:10] meenakshi-dhanani opened #30 "Persist auth token on client side for each request to backend"
## Description
As a registered user,
I need to have an auth token in the client side,
so that I can make authenticated requests to backend.

## Linked Issue
[Create Login API](https://github.com/anitab-org/bridge-in-tech-backend/issues/47)

## Acceptance Criteria
### Update [Required]
- [ ] Given a user enters credentials to login, When the auth token is received, Then it gets persisted on the fro

[2020-06-23 05:11] meenakshi-dhanani commented on #30
We'll have to figure which is that other call you make that has the auth token in it's header. Considering a logged in user will not make the register/login calls. We will need to figure something else to call to test this. We can come to that later

[2020-06-25 03:16] #20 closed, assigned to mtreacy002

[2020-06-25 03:53] foongminwong opened #31 "Autoprefixer 9.8.1 to 9.8.0?"
**Describe the bug**
Tried to reclone `anitab-rg/bridge-in-tech-web` and run BIT web app, and I got this error:
<code>
./src/register/Register.css (./node_modules/css-loader/dist/cjs.js??ref--6-oneOf-3-1!./node_modules/postcss-loader/src??postcss!./src/register/Register.css)
Error: Package exports for 'C:\Users\foongmin\Desktop\bridge-in-tech-web\node_modules\autoprefixer\node_modules\kleur' do no

[2020-06-26 23:28] mtreacy002 opened #32 "Test: write tests for input validations on Login form"
## Description
As a developer,
I need check if a warning comes up for each of the form fields if input inserted is invalid,
so that I can make sure user insert a valid input.

## Mocks

## Acceptance Criteria
### Update [Required]
- [ ] Write tests using React Testing Library in the Login.test.js file
- [ ] Test if validation message shows up for username
- [ ] Test if validation message shows up

[2020-06-26 23:35] mtreacy002 opened #33 "Test: Write test successful login user gets redirected to Homepage with username on main navbar"
## Description
As a developer,
I need test if redirection post successful login works
so that I can make sure user who has successfully logged-in gets redirected to the homepage with the main navbar showing username of login user.

## Mocks

## Acceptance Criteria
### Update [Required]
- [ ] Write tests using React Testing Library in the Login.test.js file
- [ ] test if user gets redirected to hom

[2020-06-27 02:27] #14 closed, assigned to mtreacy002

[2020-06-27 03:38] mtreacy002 commented on #31
@foongminwong  After you clone the repo, did you delete package-lock.json and node_module folder (this folder shouldn't be there, but just in case) before you run npm install?

Please do try this and let me know if this still an issue after that.

[2020-06-27 03:43] mtreacy002 commented on #31
Also, after the done the above (delete mentioned files and run npm install, try to run `npm run build` first before running nom start. just in case

[2020-06-28 13:42] foongminwong commented on #31
Thank you for the help @mtreacy002 ! I reclone the project repo and it worked fine, I'll close it now 👍

[2020-06-28 13:42] #31 closed, assigned to nobody

[2020-07-09 19:19] #30 closed, assigned to nobody

[2020-07-10 12:54] mtreacy002 commented on #27
@meenakshi-dhanani . Can I split this into 3 seeparate sub issues:
* view personal details page
* view additional information page
* view personal background page

Each of this page will come with their own test cases. Combining them into one PR will make the PR too big. What do you think?

[2020-07-10 14:43] meenakshi-dhanani opened #35 "View User Profile - Additional Information"
## Description
As a registered user,
I want to see my profile - additional information,
so that I can update it in the future when necessary.

## Mocks
#5

## Acceptance Criteria
- [ ] Additional profile information details - phone, mobile, number, personal website, etc. should be displayed
- [ ] Tests for display of each of these fields must be present

## Definition of Done
- [ ] All of the requ

[2020-07-10 14:45] meenakshi-dhanani commented on #35
Are you sure @mtreacy002 you want to do the upload resume in the mockup as part of the MVP or part of this story?

[2020-07-10 14:51] meenakshi-dhanani opened #36 "View Profile - Personal Background"
## Description
As a registered user,
I want to view my personal background details,
so that I can see if they are the latest.

## Mocks
#5

## Acceptance Criteria
- [ ] Display details related to personal background as per the mockup - gender, age, ethnicity, sexual orientation, religion, physical ability, mental ability, socio economic, highest education, years of experience
- [ ] Add unit tests

[2020-07-11 00:28] mtreacy002 commented on #35
@meenakshi-dhanani , the fields on BIT only resemble what MS has as fields on their form. BIT is tightly coupled with MS in that sense in that all fields in MS need to be in BIT otherwise partial data that BIT sending will be considered invalid data.
But BIT can take few things out of the responses from MS (like I did with the refresh-token and refresh-expiry).
 @isabelcosta probably can answer wh

[2020-07-11 00:49] mtreacy002 commented on #35
I can take out any fields that are not currently on MS such as phone, mobile number and personal website from additional information. That Additional information can just be for the important 2 information BIT must have: timezone and if user is_organization_rep.
I put the phone, mobile number and personal website as `not required` anyway on the form.

<img width="930" alt="Screen Shot 2020-07-11 a

[2020-07-11 01:05] mtreacy002 commented on #35
We can also hide some user's personal details like phone, mobile phone, resume and photo urls on the Member Portfolio page if user viewing the profile page is not the owner of the profile. But we can include those details on the Program application form when the user is applying to a Mentoring program. What do you all  think?

[2020-07-11 09:41] meenakshi-dhanani commented on #35
Whatever works for you, without having to make a change in MS for now. If MS returns some fields we can show whatever MS get call returns. For the future however, for MS it would make sense to have the same details in get and post calls.

[2020-07-14 16:30] #17 closed, assigned to mtreacy002

[2020-07-17 01:36] mtreacy002 opened #39 "Test: write test cases for personal details functionality"
## Description
As a student,
I need write test cases for View user's personal details functionality,
so that I can ensure the View user personal details does what it is supposed to do, allow user to view their personal details.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] write test cases using react-testing-library
- [ ] write test to check if user personal details information

[2020-07-18 10:55] isabelcosta opened #42 "Create README documentation"
## Description
As a contributor,
I need know how to run the project,
so that I can contribute to it and run it locally.

Currently, README is empty, so a newcomer that wishes to contribute to the project may not know how to run the project.

## Acceptance Criteria
### Update [Required]
- [ ] Update README to contain the setup and run instructions of the app, everything one needs to run this projec

[2020-07-19 11:42] #27 closed, assigned to mtreacy002

[2020-07-25 02:07] #36 closed, assigned to nobody

[2020-07-25 02:32] #35 closed, assigned to nobody

[2020-07-25 13:26] #42 closed, assigned to mtreacy002

[2020-07-25 13:38] foongminwong opened #47 "Update User Personal Details"
## Description
As a user,
I need to update the personal details ,
so that I can change my personal details information.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] Create an "Update" functionality for user personal details page

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentors.

## Estimation
1 day

[2020-07-25 13:40] foongminwong opened #48 "Update User Additional Info"
## Description
As a user,
I need to update the user additional info ,
so that I can change my additional information.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] Create an "Update" functionality for user additional information page

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentors.

## Estimation
1 day

[2020-07-25 13:41] foongminwong opened #49 "Update User Personal Background"
## Description
As a user,
I need to update the user personal background ,
so that I can change my personal background.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] Create an "Update" functionality for user personal background page

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentors.

## Estimation
1 day

[2020-07-25 13:48] foongminwong opened #50 "View Organization Profile"
## Description
As a user,
I can be an representative of an organization to get an organization profile BridgeInTech,
so that I can view the information for my organization profile.

## Mocks
See mockup under https://github.com/anitab-org/bridge-in-tech-web/issues/6

## Acceptance Criteria
### Update [Required]
- [ ] must have section title Organization Profile with necessary components as per init

[2020-07-25 14:02] foongminwong opened #51 "Create or Update Organization Profile"
## Description
As an organization,
I need to create or update the organization profile BridgeInTech,
so that I can create or modify the information inside my organization profile.

## Mocks
See mockup under https://github.com/anitab-org/bridge-in-tech-web/issues/6

## Acceptance Criteria
### Update [Required]
- [ ] must have a button to Save Organization Profile with necessary components as per in

[2020-07-25 14:04] foongminwong opened #52 "View Organization List"
## Description
As a user,
I need to see the list of all organizations involved in BridgeInTech,
so that I can go through the list and select which organization I should work with in the mentoring program.,

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] must have a list of organizations so that users can view the mentoring program

## Definition of Done
- [ ] All of the required i

[2020-07-25 14:12] foongminwong opened #53 "Create Program"
## Description
As an organization,
I need to create a program,
so that I can provide progams for users to participate.

## Mocks
See mockup under https://github.com/anitab-org/bridge-in-tech-web/issues/7

## Acceptance Criteria
### Update [Required]
- [ ] Must have the Create Program components as per initial mockup or with some adjustments that are approved by the mentors

## Definition of Done
-

[2020-07-27 03:56] mtreacy002 opened #55 "Bug: add missing payload to pass expected fields validation check backend"
**Describe the bug**
Backend code has been modified by adding the expected fields validation check which means if frontend payload does not match request body, it will response with error code Bad reequest (400)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Register and register as a new user with only one availability checked ("available as mentor" or "need mentoring", but not both)

[2020-07-30 05:51] mtreacy002 opened #58 "Feat: View Members List"
## Description
As a student,
I need to create Members List UI,
so that I can give BIT users ability to view list of BIT users/members.

## Mocks
<img width="1067" alt="Screen Shot 2020-07-30 at 8 33 06 pm" src="https://user-images.githubusercontent.com/29667122/88913282-f0d1b980-d2a3-11ea-9852-350225c6820e.png">

## Acceptance Criteria
### Update [Required]
- [ ] view list of verified users of BIT

[2020-07-30 10:13] mtreacy002 commented on #58
@anitab-org/bridgeintech-maintainers . I have few technical challenges on this PR that I'd like to ask your advice on.
1. Any suggestion on how I can intercept the jwt token so user does not need to login to view the members list (send GET /users request to MS API)? Currently as per MS, this feature only available to login user. Should I modify to make this the same to BIT just for simplicity for

[2020-07-30 10:42] mtreacy002 commented on #58
Update @anitab-org/bridgeintech-maintainers. I modified the Mockup in PR description by removing email and timezone to show user's availability instead which will be more meaningful information. Timezone is removed for 2 reasons:
1. location is enough to inform viewer the zone of the member is in
2. if timezone information need to be included, 2 api calls need to be made as timezone is part of GET

[2020-07-30 11:16] mtreacy002 commented on #58
NOTE @anitab-org/bridgeintech-maintainers . Column `Programs completed` for this stage is not going to be shown as this is on be available after the users are involved in Programs, which means Organization, Program, and Mentorship Relation functionality need to be completed first for BIT to be able to do calculation on this column.

So, this column will be put as `Icebox` for now.
PS: the same goe

[2020-07-30 12:16] mtreacy002 commented on #58
PS @meenakshi-dhanani. for [quest.3](https://github.com/anitab-org/bridge-in-tech-web/issues/58#issuecomment-666277994), I found the solution. Will pushed the PR now. 😉

[2020-07-30 12:59] mtreacy002 opened #60 "Feat: View Other Member details"
## Description
As a student,
I need to create View member details functionality,
so that I can give user ability to view other member's detail.

## Mocks

## Acceptance Criteria
### Update [Required]
- [ ] View Other member's detail
- [ ] include test cases

### Enhancement to Update [Optional]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Es

[2020-07-30 16:28] meenakshi-dhanani commented on #55
Hey @mtreacy002 , when you describe the bug instead of making the description very technical you can focus on what exactly is the problem from a business perspective.
eg. If we select either of the two options, the input is still invalid.

And in notes or something, you can mention technical details.
Diving right into the implementation, makes it difficult to read through the issue

[2020-08-01 13:54] #47 closed, assigned to nobody

[2020-08-02 13:31] #55 closed, assigned to nobody

[2020-08-08 17:27] #29 closed, assigned to mtreacy002

[2020-08-10 17:10] #48 closed, assigned to mtreacy002

[2020-08-10 17:11] #58 closed, assigned to mtreacy002

[2020-08-10 17:15] #49 closed, assigned to mtreacy002

[2020-08-11 10:54] #60 closed, assigned to mtreacy002

[2020-08-11 11:27] meenakshi-dhanani commented on #39
@anitab-org/bridgeintech-maintainers  can you please approve this PR? It's an example for API call unit tests so that @mtreacy002 can do similar tests for other components.

[2020-08-11 12:35] meenakshi-dhanani opened #64 "Test: Add tests for validations on personal detail fields"
## Acceptance Criteria
- [ ] Assert if validation check pops up for username - "Must be between 5-25 characters long. Can only contain alphabets, numbers and underscore _"
- [ ] Asset if validation check pops up for name field - "Must be between 2-30 characters long. Can only contain alphabets, whitespace and dash -"
- [ ] Use the react testing library for writing tests

## Definition of Done
- [

[2020-08-11 12:41] meenakshi-dhanani opened #65 "Test: Add tests for validating error message displays when API calls fail"
## Acceptance Criteria
- [ ] Test if GET call returns 500, SERVICE_UNAVAILABLE_ERROR message is shown
- [ ] Test if PUT call fails, (status: 500) SERVICE_UNAVAILABLE_ERROR message is displayed on the form
- [ ] Test if GET call returns other status code eg. 403, then server defined message is displayed on screen
- [ ] Test if PUT call returns other status code eg. 400, then server defined message

[2020-08-13 15:13] Frenzyritz13 opened #66 "Create the config.yml file for the Welcome Bot"
## Description
 As a first time contributor,
 I need a bot to help guide my first contribution,
 so that I can follow this org's contribution guidelines.

 ## Mocks
 ![Screen Shot 2020-08-06 at 10 26 14 AM](https://user-images.githubusercontent.com/2440938/89543720-44299780-d7cf-11ea-82a0-bd81664f0d8e.png)

 ## Acceptance Criteria
 ### Update [Required]
 * [ ]  newIssueWelcomeComment is complete w

[2020-08-15 16:11] #39 closed, assigned to mtreacy002

[2020-08-16 16:16] meenakshi-dhanani opened #67 "Fix: typos on Register Form"
You will find the typos in the `Register.jsx` file
## Acceptance Criteria
- [x] Rename the text on the form from "Register Form" -> "Register"
- [x] "Already register?" to "Already registered?"
- [x] "Login here" -> "Click on Login"

## Definition of Done
- [ ] All of the required items are completed.
- [x] Approval by 1 mentor.

## Estimation
1 hour

[2020-08-16 16:19] meenakshi-dhanani opened #68 "Fix: typo on Login form"
You will find typos in the `Login.jsx` file.

## Acceptance Criteria
- [x] Change from  "Not yet register?" -> "Not yet registered?"
- [x] Instead of "Sign up here" -> "Click on Sign Up"

## Definition of Done
- [ ] All of the required items are completed.
- [x] Approval by 1 mentor.

## Estimation
1 hour

[2020-08-18 16:29] Manav-03 commented on #67
Please review my PR.

[2020-08-18 17:48] Manav-03 commented on #68
Please check my PR.

[2020-08-18 19:30] 19-pragya commented on #68
can i work on this issue??

[2020-08-18 22:17] isabelcosta commented on #67
@Manav-03 before creating a PR you have to be assigned. So the usual procedure is to ask to work on it or be assigned, then managers and maintainers can assign this to you and then you can submit a PR. Can you please do that the next time? :)

[2020-08-18 22:18] isabelcosta commented on #68
@19-pragya I will assign this to you, since @Manav-03 already sent a PR to another first timer issue.

[2020-08-19 03:39] 19-pragya commented on #68
@isabelcosta  thankyou mam!! please have a look, here i have made changes
https://github.com/anitab-org/bridge-in-tech-web/pull/73

[2020-08-19 04:15] 19-pragya commented on #67
can i work on this

[2020-08-19 04:23] 19-pragya commented on #13
can i work on this??

[2020-08-19 04:28] 19-pragya commented on #7
can i work on this

[2020-08-19 04:29] 19-pragya commented on #51
can i work on this??

[2020-08-19 04:29] meenakshi-dhanani commented on #67
@19-pragya Apologies, the issue is already assigned. Maybe you can work on another one :)

[2020-08-19 04:31] 19-pragya commented on #67
@meenakshi-dhanani  can you please suggest me some other issues??

[2020-08-19 04:31] #67 closed, assigned to Manav-03

[2020-08-19 04:39] meenakshi-dhanani commented on #13
Hey @19-pragya, you have already been assigned a first timer issue. Would prefer if you'd want to sign up for other open issues and leave this issue for another first timer.

[2020-08-19 04:43] 19-pragya commented on #13
i left the issue for first timers.. can i get assigned now??

[2020-08-19 05:28] meenakshi-dhanani commented on #13
@19-pragya you have already raised the PR. And the issue already has an approval, I'd prefer you assign yourself back to it. I shall reassign you to it

[2020-08-19 05:34] meenakshi-dhanani commented on #7
@19-pragya you might want to filter issues on the repository that have a label as Status:Available

[2020-08-19 05:34] #7 closed, assigned to mtreacy002

[2020-08-19 05:35] #6 closed, assigned to mtreacy002

[2020-08-19 05:35] #5 closed, assigned to mtreacy002

[2020-08-19 05:35] #4 closed, assigned to mtreacy002

[2020-08-19 05:35] #3 closed, assigned to mtreacy002

[2020-08-19 05:36] #2 closed, assigned to mtreacy002

[2020-08-19 05:36] 19-pragya commented on #13
Ok

[2020-08-19 05:36] 19-pragya commented on #13
Please assign me back

[2020-08-19 05:38] 19-pragya commented on #13
@meenakshi-dhanani please assign me back.

[2020-08-19 05:38] meenakshi-dhanani commented on #13
you have been assigned to this issue - https://github.com/anitab-org/bridge-in-tech-web/issues/68

[2020-08-19 06:50] Manav-03 commented on #67
@isabelcosta Just getting familiar with how it works. I'll make sure I
follow that procedure next time. Thank you. :)

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#m_1767839287791138943_DAB4FAD8-2D

[2020-08-20 01:25] mtreacy002 opened #75 "View programs list and program where user is representative"
## Description
As a GSoC student,
I need create view programs list and programs from route `MyOrganization` > `Portfolio`,
so that I can view programs list and selected program details where the logged in user is the organization representative.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] View list of programs under `MyOrganization` > `Portfolio
- [ ] View Program profile when

[2020-08-20 01:32] mtreacy002 commented on #75
Update @meenakshi-dhanani . I'm not sure how to make multiple fetch calls for listing the Programs under this Organization portfolio page. When it was just one fetch call (GET /organization) I've got the correct response (organizatio object). But when I added the second one, the page shows error:
<img width="584" alt="Screen Shot 2020-08-20 at 11 13 23 am" src="https://user-images.githubuserconten

[2020-08-22 16:50] khushishikhu commented on #13
may i try to work on this issue?

[2020-08-22 17:54] meenakshi-dhanani commented on #13
Sure @khushishikhu I am assigning it to you

[2020-08-23 07:51] meenakshi-dhanani opened #78 "Feat - Add program to list of programs for an organization that a user represents"
## Description
As an organization representative,
I want to add a program,
so that members can sign up for it.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentor.

[2020-08-23 07:54] #68 closed, assigned to 19-pragya

[2020-08-24 13:09] Shashwati-tidke commented on #65
@meenakshi-dhanani  can i work on this issue?

[2020-08-24 13:11] Shashwati-tidke commented on #64
@meenakshi-dhanani  I would like to work on this issue, Can I?

[2020-08-24 13:21] Shashwati-tidke commented on #33
@meenakshi-dhanani  Can I work on this issue?

[2020-08-24 16:43] meenakshi-dhanani commented on #64
@Shashwati-tidke sure, assigning this to you. Please read the contribution guidelines before you start. Also, I can assign you to only one issue at a time. When this gets done, I can assign you to another :)

[2020-08-24 16:44] meenakshi-dhanani commented on #65
Hey @Shashwati-tidke , I have already assigned you to one issue.

[2020-08-24 17:10] Shashwati-tidke commented on #65
OK,thanks ! :)

[2020-08-24 17:11] Shashwati-tidke commented on #64
Thanks !I  will start working on it

[2020-08-25 06:25] khushishikhu commented on #13
is this frontend  bug only?

[2020-08-25 06:26] mtreacy002 commented on #13
Yes, @khushishikhu, this is a frontend bug only. This has nothing to do with backend as the logo file is kept on frontend 😉

[2020-08-25 14:54] #50 closed, assigned to mtreacy002

[2020-08-26 08:26] #13 closed, assigned to khushishikhu

[2020-08-26 08:33] Aaishpra commented on #66
@Frenzyritz13 can i work on this

[2020-08-27 07:16] Aaishpra commented on #66
can anyone please assign this to me

[2020-08-27 07:19] mtreacy002 commented on #66
@Aaishpra , I'm assigning this to you, since @Frenzyritz13 didn't seem to currently working on it. cc @anitab-org/bridgeintech-maintainers

[2020-08-27 07:22] Aaishpra commented on #33
Hey @mtreacy002 if no one is working on this can u assign this to me

[2020-08-27 07:25] mtreacy002 commented on #51
I'm closing this issue since this was fixed by PR #69.

[2020-08-27 07:25] #51 closed, assigned to mtreacy002

[2020-08-27 07:32] Aaishpra commented on #66
Sure ! Thanks

Sure

[2020-08-27 09:13] khushishikhu commented on #32
can i take this issue?

[2020-08-27 09:15] mtreacy002 commented on #32
Sure, @khushishikhu , assigning this to you now 😉

[2020-08-27 09:20] Aaishpra commented on #28
hey can u assign this to me @meenakshi-dhanani

[2020-08-27 09:24] mtreacy002 commented on #28
@Aaishpra . You've already been assigned to issue #66 . So, we'll keep this one open for others to pickup. 😁

[2020-08-27 09:29] Aaishpra commented on #28
sorry, @mtreacy002 I guess I wouldn't be able to work on that but this issue belongs to my field of knowledge and I will be able to work on this so please assign this to me and I have already unassigned from #66 .
Sorry for inconvenience

[2020-08-27 09:31] mtreacy002 commented on #28
That's OK, @Aaishpra . I'll assign you to this one then. Thanks for letting me know. 👍

[2020-08-27 15:31] #52 closed, assigned to nobody

[2020-08-28 07:38] khushishikhu commented on #32
@mtreacy002  in `Login.jsx` there isn't any validation message code written for Username field. So how we can test this case.

[2020-08-28 08:25] mtreacy002 commented on #32
@meenakshi-dhanani . Can you please also make it clear on what validation we're actually looking here at frontend? I forgot why we need to do this.
IMO we don't need to check for input validations on Login form. Because the task to do the validation input on username and password are already handled on the Registration form. In Login form, user simply need to give a valid username and password com

[2020-08-28 08:27] mtreacy002 commented on #32
Or, perhaps, we want to test the response message should show `username or password is invalid` in the case of wrong credentials given? And if the input is valid, then the homepage should be rendered as a result with the Navbar showing `Logout` and `Welcome userXXX!` on the top right.?  I think that's more likely the case, @meenakshi-dhanani and @khushishikhu, what do you reckon?

[2020-08-28 10:03] #53 closed, assigned to mtreacy002

[2020-08-28 10:56] mtreacy002 opened #81 "Bug: Minimum payment amount for program should be 0 not 1"
**Describe the bug**
Currently minimum payment on `payment_amount` on Program Profile form is set to 1. this should be 0 instead.

**To Reproduce**
Steps to reproduce the behavior:
1. Login as a user who has an organization (or create one if you don't have any)
2. Create a program with Payment amount is left at 0 as per the default
3. Click on `Save`
4. See error `Value must be greater than or equ

[2020-08-28 15:58] #81 closed, assigned to mtreacy002

[2020-08-29 17:19] khushishikhu commented on #32
@mtreacy002  but the case of wrong credentials is already written. so can you please clarify me what tests i need to do?

[2020-08-29 23:09] mtreacy002 commented on #32
@khushishikhu . I think you can test if either username or password field is empty, a warning should be shown to user. What do you think? cc @meenakshi-dhanani

[2020-08-30 05:12] mtreacy002 commented on #75
Fixed by PR #79

[2020-08-30 05:12] #75 closed, assigned to mtreacy002

[2020-08-30 05:14] mtreacy002 commented on #78
Fixed by PR #79

[2020-08-30 05:14] #78 closed, assigned to nobody

[2020-08-30 06:11] khushishikhu commented on #32
@mtreacy002  yes it can be done.

[2020-08-30 06:19] mtreacy002 commented on #32
Thank you @khushishikhu .
Btw, I've just noticed the culprit on the bug that you raised [here](https://anitab-org.zulipchat.com/#narrow/stream/237630-bridge-in-tech/topic/Questions/near/207783890). It turned out that the `local` option is missing on the `FLASK_ENVIRONMENT_CONFIG`from the template. Thanks for bringing it up to our attention. Have just pushed PR [#123](https://github.com/anitab-org/

[2020-08-31 03:26] mtreacy002 commented on #65
@Shashwati-tidke . Are you still working on this issue? I've noticed that the status is still stated as available. If you need more time to work on this I can remove the `Status: Available`.

[2020-08-31 03:27] mtreacy002 commented on #64
@Shashwati-tidke . Can you give us an update on where you upto on this issue? Do you need more time?

[2020-08-31 03:30] mtreacy002 commented on #28
@Aaishpra. Can you please give an update on your progress on this issue? Just in case you need help with anything. 😉

[2020-08-31 04:35] Aaishpra commented on #28
Hey @mtreacy002 sorry for no updates still working on that i think it will be completed in 2 days and i will make a pr then .

[2020-08-31 04:37] mtreacy002 commented on #28
No worries, @Aaishpra . Just checking because I'm tidying up the repository atm. Take your time 😉

[2020-09-01 04:06] Aaishpra commented on #28
@mtreacy002 do i need to make seprate tests for testing seprate fields

[2020-09-01 04:22] mtreacy002 commented on #28
@Aaishpra, I think it's best to have them separate, since on the UI, the warning will be given on the first incorrect field found. For example, if the name and the username are wrong, the warning only will show that the name is wrong, the username is not checked. If the name is then corrected, then it'll check for the next field which is username. Does this make sense?

cc @meenakshi-dhanani , do

[2020-09-01 04:27] Aaishpra commented on #28
Yes sure will make seprate tests for each field

[2020-09-01 04:29] mtreacy002 commented on #28
Although, @Aaishpra . You could also do one for all fields in one test where the error message  are shown in red text per each field (see screenshot below)
<img width="1151" alt="Screen Shot 2020-09-01 at 2 27 37 pm" src="https://user-images.githubusercontent.com/29667122/91794829-604e1680-ec5f-11ea-9afc-4b82b56a4d1b.png">

Notice that a warning that check for blank fields comes one field at a tim

[2020-09-01 05:02] Aaishpra commented on #28
@mtreacy002 I couldn't find where this warning for the empty field " Please fill in this field " is written. Can u help me with this?

[2020-09-01 05:32] mtreacy002 commented on #28
@Aaishpra . That comes from the use of html `required` attribute as shown in the code below

<img width="821" alt="Screen Shot 2020-09-01 at 3 29 15 pm" src="https://user-images.githubusercontent.com/29667122/91798502-5ed51c00-ec68-11ea-8dac-d016959ed458.png">

@testing-library/jest-dom has [.toBeRequired()](https://github.com/testing-library/jest-dom#toberequired) to check this attribute. Hope th

[2020-09-01 06:07] mtreacy002 opened #84 "Feat: Add show/hide password toggle functionality on password fields"
**Is your feature request related to a problem? Please describe.**
At the moment password field has no show/hide visibility option on the login and register form.

**Describe the solution you'd like**
Password fields need to have a show/hide visibility option so they can check their input on the field.

**Describe alternatives you've considered**
Open to contributor's idea as long as it fits the a

[2020-09-01 06:17] mtreacy002 opened #85 "Feat: Add confirrm password field and validation to Register form"
**Is your feature request related to a problem? Please describe.**
At the moment there is no confirm password field on the Register form.

**Describe the solution you'd like**
Confirm password field and its validation (checking that the password and confirm password fields match) is useful to help user confirm the password they have given on the password field.

**Describe alternatives you've cons

[2020-09-01 06:39] mtreacy002 opened #86 "Feat: Disable `Go to Programs` and `Save` buttons on Organization Profile page if user is not an organization representative."
**Is your feature request related to a problem? Please describe.**
At the moment for login user who is not an organization representative (has not declared that they are), when they go to `My Organization`, on the Organization Profile page they can try to click on the `Go to Programs` or `Save` buttons which should've been prevented.

**Describe the solution you'd like**
Disable the `Go to Prrogra

[2020-09-01 06:48] mtreacy002 opened #87 "Feat: Disable `Go to Programs` button on `Organization Profile` page if user who represents organization has not created the organization."
**Is your feature request related to a problem? Please describe.**
At the moment the login user who represents an organization but has not created the organization profile can click the button `Go to Programs` on the bottom of the Organization Profile page (under `My Organization` Navbar tab) which should've been prevented.

**Describe the solution you'd like**
Disable the `Go to Programs` button

[2020-09-01 15:34] Aaishpra commented on #28
![image](https://user-images.githubusercontent.com/66299533/91873182-5bf12000-ec96-11ea-96a6-3f32a3484d20.png)
Don't know why I am getting this, In my view there is only one element that contains placeholder "Username"

[2020-09-02 06:13] mtreacy002 commented on #28
@Aaishpra , there's an example on PersonalDetails.test.js line 51 on how to use getByLabelText narrowing down using the `selector`
<img width="866" alt="Screen Shot 2020-09-02 at 4 02 43 pm" src="https://user-images.githubusercontent.com/29667122/91937800-15530280-ed36-11ea-950b-1cd5c4dfb96c.png">

Noticed that in PersonalDetails.jsx, the `label` is used with `id` instead of `htmlFor` and `input`

[2020-09-02 06:19] mtreacy002 commented on #28
@Aaishpra, if you could send a PR with the current code you have (it doesn't matter if it's not quite right yet, you could add label `WIP | ...<PR title>` at the beginning of your PR, to help give me a clearer picture on where your code might have gone wrong. Can you do that?

[2020-09-02 06:50] heyanurag commented on #84
Can I try solving this issue? I am a first time contributor participating in Open Source Hack

[2020-09-02 07:09] mtreacy002 commented on #84
HI @singhanurag05 . Thank you for showing an interest on contributing to BridgeInTech project. You are most welcome to work on the issue. Although, I have to make it clear that as far as I'm aware, this project is not one of the projects listed on the Open Source Hack (in fact only 3 projects are selected for the Open Source Hack). If I'm not mistaken, the 3 selected projects are [vms](https://git

[2020-09-02 07:29] anna4j commented on #84
Yes that is correct @mtreacy002

[2020-09-02 07:48] Aaishpra commented on #28
Done @mtreacy002

[2020-09-02 09:21] heyanurag commented on #84
I would like to try this. How much time will I get to complete the task?

[2020-09-02 09:34] mtreacy002 commented on #84
That's good. Take how ever long you need, @singhanurag05, but please make sure you give us update on your progress. We normally ask you for an update if after 3 days you don't show activity on the PR, just to see if you need more time to work on it or if you are facing some blockers that we could help you with. But you will still be able to continue to work on it till it's completed. Again, thank

[2020-09-02 10:32] heyanurag commented on #84
Thank you! On  it.

[2020-09-03 05:30] heyanurag commented on #84
Hi @mtreacy002, I had some doubts regarding setting up the environment. Do I ask them right here or do we have a slack channel or something?

[2020-09-03 05:56] mtreacy002 commented on #84
@singhanurag05 , can you please ask on the Zulip channel under #bridge-in-tech > Dev env setup. It would help others who might come across the same issue.

[2020-09-03 12:17] ruppysuppy commented on #85
I would like to work on this issue

[2020-09-03 13:35] mtreacy002 commented on #85
Yup, @ruppysuppy , you can work on this issue now 👍

[2020-09-04 09:48] Aaishpra opened #90 "Doc : Some Grammatical Error in Readme and Setup guide."
**Describe the bug**
Some Grammatical Errors in Readme and Setup guide.

**Screenshots for what changes should be added**
![image](https://user-images.githubusercontent.com/66299533/92225873-79560200-eec1-11ea-9d75-792266e37eae.png)
![image](https://user-images.githubusercontent.com/66299533/92225930-8b37a500-eec1-11ea-9d8d-b323ba5b9bbd.png)
![image](https://user-images.githubusercontent.com/66299

[2020-09-04 09:51] Aaishpra commented on #90
@mtreacy002 please take a look at the issue and tell me if I can link a PR with this. If yes I am done with the changes and would submit a PR if you assign this to me

[2020-09-04 09:59] mtreacy002 commented on #90
It's ok with me. cc @anitab-org/bridgeintech-maintainers. I can assign you on this.

[2020-09-04 10:06] mtreacy002 commented on #90
@Aaishpra . I changed my mind. can you please finish PR #88 that you've been working on? It's not far to go.

[2020-09-04 10:08] Aaishpra commented on #90
No Problem @mtreacy002 but i have linked a PR

[2020-09-04 14:58] ruppysuppy commented on #84
I would like to work on this issue. Would a checkbox below (saying "show password" do)? And where do I have to add them (login and register)?

[2020-09-05 08:22] #32 closed, assigned to khushishikhu

[2020-09-06 04:34] mtreacy002 commented on #84
@ruppysuppy . sure, you can work on this. Yup, a checkbox will do. This feature need to be applied on both Login and Register form. Although, I suggest you start with Login form first. I'd prefer if PR #89 (confirm password field) is approved first so wheen you work on it on Register form, the checkbox will work on both `password` and `confirm password` fields. @anitab-org/bridgeintech-maintainers

[2020-09-06 07:32] aastha985 commented on #66
Hi! Can I work on this issue? @mtreacy002

[2020-09-06 07:33] mtreacy002 commented on #66
Definitely. I'll assign this to you, @aastha985

[2020-09-06 07:55] #85 closed, assigned to ruppysuppy

[2020-09-10 22:31] #90 closed, assigned to Aaishpra

[2020-09-10 23:01] #84 closed, assigned to ruppysuppy

[2020-09-11 02:56] Aaishpra commented on #64
@mtreacy002 if @Shashwati-tidke is not working on this can i work on this?

[2020-09-11 05:16] mtreacy002 commented on #64
Sure, @Aaishpra . I'll assign this to you since we didn't get any update from @Shashwati-tidke .

[2020-09-11 12:45] aastha985 commented on #33
Hi! @mtreacy002 Can I work on this issue?

[2020-09-11 23:59] mtreacy002 commented on #33
sure @aastha985. Go ahead 👍.

[2020-09-13 10:26] #66 closed, assigned to aastha985

[2020-09-14 11:23] aastha985 commented on #33
Hi! I had to update about the status in 3 days. Haven't been able to work on this yet. I will do it by the weekend. I hope that's fine.

[2020-09-14 12:32] mtreacy002 commented on #33
Yep, sure, @aastha985. Thank you for notifying us on your situation. Let me know if you need any help with the task.

[2020-09-14 12:37] aastha985 commented on #33
Sure! Thanks😊

[2020-09-15 23:06] #64 closed, assigned to Aaishpra

[2020-09-16 06:46] mtreacy002 opened #96 "Feat: View About page"
## Description
As a public user,
I need see `About` page,
so that I can see infomation about the BridgeInTech Application.

## Mocks
Based on [Target MVP](https://www.figma.com/file/jxCqu1lq55H7jC4FDY119a/BridgeInTech?node-id=10%3A1), add a content describing what BridgeInTech application is about:
<img width="1098" alt="Screen Shot 2020-09-16 at 4 35 57 pm" src="https://user-images.githubusercont

[2020-09-16 07:04] mtreacy002 opened #97 "Feat: View Benefit page"
## Description
As a public user,
I need see `Benefit` page,
so that I can read about the benefit becoming a member of BridgeInTech.

## Mocks
Based on the [target MVP](https://www.figma.com/file/jxCqu1lq55H7jC4FDY119a/BridgeInTech?node-id=10%3A1), add a content describing what the benefits are for becoming a member of BridgeInTech:
<img width="1092" alt="Screen Shot 2020-09-16 at 4 50 47 pm" src="

[2020-09-16 07:12] mtreacy002 commented on #96
@anitab-org/bridgeintech-maintainers , will this issue suitable for a first-timers-only issue? The task is to add static content and image. Feel free to remove the `First Timer Only` label if you think the difficulty level doesn't match.

[2020-09-16 07:13] mtreacy002 commented on #97
@anitab-org/bridgeintech-maintainers , will this issue suitable for a first-timers-only issue? The task is to add static content and image. Feel free to remove the `First Timer Only` label if you think the difficulty level doesn't match.

[2020-09-16 07:26] mtreacy002 opened #98 "Feat: Add link to AnitaB.Org Open Source contact page on sub menu `Contact` under `Home`"
## Description
As a public user,
I need see a contact page for AnitaB.Org Open Source,
so that I know who to contact if I want to ask something in regard to BridgeInTech.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] The `Contact` sub menu under `Home` Navbar must redirect user to [AnitaB.Org Contact Page](https://anitab.org/contact/)

### Enhancement to Update [Optional]
NA

##

[2020-09-16 08:11] mtreacy002 commented on #65
@meenakshi-dhanani, can you please remind me again on which page this tests  for validation error messagees need to be done? Can you please add that information on the issue description? Thanks

[2020-09-16 08:44] HeroicHitesh commented on #96
@mtreacy002 I am interested to contribute for this issue. Can I work on it?

[2020-09-16 08:45] mtreacy002 commented on #96
Sure,  @HeroicHitesh. I'll assign you now 😉.

[2020-09-16 09:43] Harshita-Kanal commented on #98
Can I take this up ?

[2020-09-16 09:45] mtreacy002 commented on #98
Definitely, @Harshita-Kanal. I'll assign you now. Thanks for picking up the issue 😉

[2020-09-16 20:47] prathmeshkhandelwal1 commented on #97
I would like to work on this issue can you assign this to me??
@mtreacy002

[2020-09-16 20:56] mtreacy002 commented on #97
Sure, @prathmeshkhandelwal1 , I’ll assign you to work on this 👍

[2020-09-16 21:03] prathmeshkhandelwal1 commented on #97
@mtreacy002 Can you plz tell me where to get help if i stuck somewhere :(

[2020-09-16 21:24] mtreacy002 commented on #97
@prathmeshkhandelwal1 , the Heroku backend at the moment is not working because of the scaling issue, which is out of our control (since we can only using the free service that has limited capability and not able to take up BridgeInTech architecture). I wrote a blog explaining about it [here](https://medium.com/anitab-org-open-source/why-you-cant-use-heroku-free-dynos-in-multiple-servers-dependent

[2020-09-16 21:29] mtreacy002 commented on #97
@prathmeshkhandelwal1 , you can always ping me or @anitab-org/coding-team or @anitab-org/bridgeintech-maintainers on the pr or issue itself and/or Zulip #bridge-in-tech stream. This way, If I am not available, someone in the community will get  back to you.

[2020-09-17 04:26] HeroicHitesh commented on #96
@mtreacy002 I am a bit confused here, the thing is I am unable to find the About component in the repo. Is it already there with some other name and we need to add static content which is shown in the image? or do we need to create the component and then add the text?
I am ok with doing any of them, but just for clarification, I am asking.

[2020-09-17 04:33] mtreacy002 commented on #96
@HeroicHitesh , when you run the app, you could see that the content in the `/about` page is blank (even though the route and Navbar menu has that as an option). You just need to add content as per shown on the image above. Does this answer your question?

<img width="1680" alt="Screen Shot 2020-09-17 at 2 31 42 pm" src="https://user-images.githubusercontent.com/29667122/93420640-b8894780-f8f2-11e

[2020-09-17 04:41] HeroicHitesh commented on #96
@mtreacy002 Not really, actually I found the `About` section in UI, but can't find a .js file for it

By this do you mean we need to add text(content) to a particular file which is already there, or do we need to create `About.js` and then add content in that, this is my main doubt.

[2020-09-17 04:42] mtreacy002 commented on #96
Can you tell me which file (that is already there) that you're talking about, @HeroicHitesh ?

[2020-09-17 04:44] mtreacy002 commented on #96
Sorry, correction, @HeroicHitesh. yes, you need to create `About.jsx` ad add content to it. Don't add it to any existing file as It needs to be kept separate per page.

[2020-09-17 04:46] HeroicHitesh commented on #96
Thanks @mtreacy002, now my doubt's cleared, also do we need to keep these `.jsx` file in some folder say `Navigation` or for now, we are putting them in `src` only?

[2020-09-17 04:50] mtreacy002 commented on #96
Yes, please. Now that we have more then just Home under Home Navtab, you can put all pages .jsx files that comes under Home (including Home.jsx itself) to a new folder under `src` to keep it consistent with the rest of the code.
So, that folder will have `Home.jsx`, `About.jsx` and later `Benefit.jsx`.

[2020-09-17 05:40] HeroicHitesh commented on #96
Also, @mtreacy002 do we need this `Photo by fauxels from Pexerillie` to be added in the `About` page or do we have some other photo that needs to be added?

[2020-09-17 05:45] HeroicHitesh commented on #96
And @mtreacy002  for AnitaB.org Mentorship System, where should I hyperlink it to? Is [this](https://anitab.org/resources/mentorship/) ok?
Also, how are the hyperlinks required to open, in a new tab or the same tab?

[2020-09-17 05:50] mtreacy002 commented on #96
@HeroicHitesh, you can use this figma photo by fauxels. If you have any other picture in mind, feel free to use it. Just make sure there is no copyright issue that will come from using that image. Make sure you give appropriate credit to the image source.

Hyperlink should be directed to the [Mentorship System Backend project repository](https://github.com/anitab-org/mentorship-backend/wiki). The

[2020-09-17 07:22] HeroicHitesh commented on #96
<img width="1440" alt="Screenshot 2020-09-17 at 12 50 38 PM" src="https://user-images.githubusercontent.com/37622734/93433495-7bb65400-f8e4-11ea-9eb6-47e1412a3ba0.png">

@mtreacy002 Does this look good? I am creating an MR for this, if changes are needed let me know.

[2020-09-17 08:01] mtreacy002 commented on #96
Yep, that looks good, @HeroicHitesh 👍. Ou, I forgot to answer your question. can you please make the link open in a new tab when user click on it? Coz we want to make user stay longer in our site to keep their curiosity undistracted, if you know what I mean 😁

[2020-09-17 08:02] HeroicHitesh commented on #96
Thanks. Yeah I did that only, I thought of the same thing. Just sending a PR in about 15mins

[2020-09-17 11:01] #28 closed, assigned to Aaishpra

[2020-09-17 14:37] prathmeshkhandelwal1 commented on #97
@mtreacy002 thanku for this info. I will submit a PR by tommorow.

[2020-09-18 02:51] mtreacy002 commented on #33
Hi @aastha985 , I'll make this issue available again since you are now working on backend [issue#70](https://github.com/anitab-org/bridge-in-tech-backend/issues/70)

[2020-09-18 05:24] aastha985 commented on #33
Sure! @mtreacy002

[2020-09-18 07:01] prathmeshkhandelwal1 commented on #97
@mtreacy002 Can you pllzz help me in finding the list bullet style? or i can use simple disc as a list style?

[2020-09-18 07:02] prathmeshkhandelwal1 commented on #97
![Screenshot (109)](https://user-images.githubusercontent.com/56167998/93566632-f9dd2e00-f9aa-11ea-95bb-9aff695e1c32.png)
As for now i used square type of list style.

[2020-09-18 07:10] prathmeshkhandelwal1 commented on #97
@mtreacy002  and also where to link that anchor tag which is on second point in Our Goals section.

[2020-09-18 07:16] mtreacy002 commented on #97
Square ones looks good too, @prathmeshkhandelwal1 . 👍

The page looks awesome @prathmeshkhandelwal1 ✨✨👍

[2020-09-18 07:18] mtreacy002 commented on #97
The link on the Figma file should be clickable. But in case you can't access it, it's this link: https://www.techrepublic.com/article/how-to-close-the-tech-skills-gap/

[2020-09-18 07:22] mtreacy002 commented on #97
@prathmeshkhandelwal1 , don't forget to place source image info on the images. 😉

[2020-09-18 07:22] prathmeshkhandelwal1 commented on #97
@mtreacy002 Thankyou so much, Submitting a PR in 30 mins with some final changes.

[2020-09-18 07:23] prathmeshkhandelwal1 commented on #97
I did'nt get this, can you explain it in little bit more detail?

[2020-09-18 07:31] mtreacy002 commented on #97
Sorry, I must've forgotten to add the text on Figma file for the image on the top let like I had done in About page image to state the source of image. I tried to look on Pexel website since that's where I got it from, but couldn't find the same one again. But I'm sure it will be ok (no copyright infringement) since I'm using the free stuff from that website anyway.

[2020-09-18 07:53] prathmeshkhandelwal1 commented on #97
@mtreacy002 Ohk, then it's super fine as there is no issue with images.
Also i have done the PR :)

[2020-09-18 07:54] mtreacy002 commented on #97
Great, I'll go and check it out now 😉

[2020-09-19 01:10] mtreacy002 opened #103 "Doc: Create GETTING_STARTED.md inside .github folder"
**Is your feature request related to a problem? Please describe.**
The [Getting Started](https://github.com/anitab-org/bridge-in-tech-web/wiki/Getting-Started) page on the bridge-in-tech-web wiki is currently not written as a markdown document, but directly written as a wiki page. The content on this page needs to be made available to contributors so they can also involve in improving the page doc

[2020-09-19 01:41] anishghimire603 commented on #103
Can I work on this issue? Please assign me this.

[2020-09-19 02:23] mtreacy002 commented on #103
@anishghimire603 , while there is no restriction to work on another `First-Timers-Only` issue as long as it is in a separate repo to the one you have done, it is recommended to focus on one issue at a time. I've only just assigned you to the [backend issue#142](https://github.com/anitab-org/bridge-in-tech-backend/issues/142), so please work on that issue first, submit a PR, then while waiting for

[2020-09-19 02:48] anishghimire603 commented on #103
@mtreacy002 sure!!!

[2020-09-19 11:34] KapilBansal320 commented on #103
@mtreacy002 Can I work on this issue?

[2020-09-19 13:17] imrishabh18 commented on #103
Hey @mtreacy002 , I will like to take up this isssue.

[2020-09-19 13:27] mtreacy002 commented on #103
@imrishabh18 , let me check with @anishghimire603 first if he is still interested to work on this issue as he’s The first one to express interest on this and his other PR on backend repo was already approved and merged. @anishghimire603 , can you please tell us your position? Would you like to work on this now or can I assign this to @imrishabh18 ?

[2020-09-19 13:42] anishghimire603 commented on #103
yeah it will be great if I can work on this. you can assign me this.

[2020-09-19 15:47] lopeselio commented on #103
Hey, I would like to take up this issue

[2020-09-19 20:16] mtreacy002 commented on #103
@lopeselio , @anishghimire603 is the first one on the list to show interest to the issue. So, I'll assign him to this. You can check other available issues [here](https://github.com/anitab-org/bridge-in-tech-web/issues), If you can't find one, you can also suggest an issue by checking which area of the code could be improved. I'm planning to open more issues soon. So keep an 👀 for them. 😁

[2020-09-19 20:17] mtreacy002 commented on #103
@anishghimire603 . You can work on this now.

[2020-09-21 07:43] #98 closed, assigned to Harshita-Kanal

[2020-09-21 07:45] #96 closed, assigned to HeroicHitesh

[2020-09-21 11:22] mtreacy002 opened #105 "Bug: Organizations list table content is overflowing outside container"
**Describe the bug**
The view page for organizations list doesn't look right. The table content is overflowing outside the table container.

**To Reproduce**
Steps to reproduce the behavior:
1. run the application
2. login as user
3. Click `Organizations` from the menu bar to view the list of organizations (note: make sure you have created at least one organization to view the organizations table)

[2020-09-21 11:30] RiaDhanani commented on #105
Can I work on this issue?

[2020-09-21 11:32] mtreacy002 commented on #105
Sure, @RiaDhanani, I'll assign you to this . Wellcome to BridgeInTech. 🎉🎉

[2020-09-21 12:58] mtreacy002 opened #106 "Feat: Hide Organization container when user has not declare they are representing organization"
**Is your feature request related to a problem? Please describe.**
When a new registered user login, by default their Additional Info `is_organization_representative` is set to `False'. Currently there is no information can be found on how organization user can create organization.

**Describe the solution you'd like**
To be able to create an organization, a user has to tick the box `I am a repres

[2020-09-21 15:04] tichnas commented on #106
Hi, I would love to work on this. Can I please be assigned?

[2020-09-21 15:21] mtreacy002 commented on #106
Sure, @tichnas , I'll assign you to this. Thanks for picking this up 👍

[2020-09-21 19:41] tichnas commented on #106
I'm working on it, but it may take some time because I have to set up the backend locally, and I'm new to those technologies.

[2020-09-21 22:44] mtreacy002 commented on #106
That's fine, @tichnas . Take your time. This is why we go open source 😁😁, so we could have hands-on learning on the tech stack we're interested in 😉.
Let me know if you need help with anything.

[2020-09-22 08:02] #97 closed, assigned to prathmeshkhandelwal1

[2020-09-22 10:33] mtreacy002 opened #108 "Doc: Add Build badge for Travis CI to README"
## Description
As a contributor,
I need to see Build badge,
so that I can see the status of the latest Travis CI build.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] Add Build badge for Travis CI build. [Refer to the following resource on how to do it](https://docs.travis-ci.com/user/status-images/)

### Enhamcement to Update [Optional]
NA

## Definition of Done
- [ ] All of the

[2020-09-22 10:38] mtreacy002 opened #109 "Doc: Add Zulip badge to README"
## Description
As a contributor,
I need add the project Zulip channel to README,
so that I can clearly see where to go if I want to join the community Zulip Channel.

## Mocks

## Acceptance Criteria
### Update [Required]
- [ ] Add Zulip badge to README with link to [#bridge-in-tech](https://anitab-org.zulipchat.com/#narrow/stream/237630-bridge-in-tech) zulip channel

### Enhancement to Update [Op

[2020-09-22 11:07] anishghimire603 commented on #109
can I work on this Issue.

[2020-09-22 12:19] madhhuurrii commented on #109
Hi, Can I work on this issue ?

[2020-09-22 12:48] AltCtrlDel1999 commented on #108
Can I work on these issue?

[2020-09-22 13:04] AltCtrlDel1999 commented on #108
Hey but I'm not a member of AnitaB currently so I will not have access to Travis ci of BIT?
I'm new to open source development, kindly help.

[2020-09-22 13:19] AltCtrlDel1999 commented on #108
@mtreacy002 I'm done with changes waiting to get assign

[2020-09-22 20:09] tichnas commented on #106
@mtreacy002 Sorry to disturb you but can you please help me with setting up the backend?
When I run `pip install -r requirements.txt` from the virtual environment, I'm getting an error. The output is very long, but you can see the relevant part here: https://pastebin.com/21avXjY6
I tried to google stuff, but no luck. As far as I can understand, there is some problem with `cffi` and `cryptography`,

[2020-09-22 22:48] mtreacy002 commented on #108
@AltCtrlDel1999 , make sure next time you wait to be assign before you start working on an issue, so to follow the workflow. I'll assign you to this now.

[2020-09-22 22:50] mtreacy002 commented on #109
@anishghimire603 , since you already contributed to an issue before on this repo, I'll assign this to @madhhuurrii as this is a first-timers-only issue.

[2020-09-22 22:57] mtreacy002 commented on #106
@tichnas , can you please tell me you computer spec? OS and its version, which terminal and python version you're using?

[2020-09-22 23:09] #103 closed, assigned to anishghimire603

[2020-09-23 04:44] tichnas commented on #106
@mtreacy002 I'm using Ubuntu 20.04 with Python 3.8.2 in bash terminal with bash version 5.0.17

[2020-09-23 05:29] AltCtrlDel1999 commented on #108
@mtreacy002 I will make sure next time

[2020-09-23 07:34] mtreacy002 commented on #106
@tichnas, there is a possibility this is caused by the python version you are using. There was someone on [Zulip](https://anitab-org.zulipchat.com/#narrow/stream/222534-mentorship-system/topic/mentorship-backend/near/210260931) had lots of different problem setting up mentorship system backend (which is using similar dependencies with BridgeInTech) on Windows 10 machine, git bash terminal, python

[2020-09-27 22:28] #109 closed, assigned to madhhuurrii

[2020-09-27 22:32] mtreacy002 commented on #105
@RiaDhanani , can you please give us an update on your progress?

[2020-09-27 23:25] mtreacy002 commented on #106
@tichnas , are you able to resolve the issue? If not, there's a [bug report issue#157](https://github.com/anitab-org/bridge-in-tech-backend/issues/157) raised by another contributor also facing the same issue as you. After checking with MS backend, I recommend to remove the cffi (not the cryptography) from the dependencies. You can try this locally as well and see if this works for you.

[2020-09-28 11:17] RiaDhanani commented on #105
I tried to run the backend server on Heroku but it always says server unavailable and I'm facing some issues in the local setup.  Can you give me a day or two to get it working?

[2020-09-29 00:37] mtreacy002 opened #113 "Doc: Add information on README that Heroku servers are currently unavailable"
## Description
As a maintainer,
I need to inform contributor that Heroku server is currently not available ,
so that I can make sure all contributors only use local server for development.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] Add information that Heroku servers are currently unavailable and use Maya's [medium blog] as reference.

### Enhancement to Update [Optional]
NA

[2020-09-29 01:00] mtreacy002 commented on #105
Hi @RiaDhanani . Heroku servers are currently unavailable because there are limitations of Heroku free service that makes it impossible for BridgeInTech to use Heroku as remote deployment option. This is out of our control. I explained this issue in detail in my [medium blog](https://medium.com/anitab-org-open-source/why-you-cant-use-heroku-free-dynos-in-multiple-servers-dependent-application-fa1c

[2020-09-29 01:03] mtreacy002 commented on #106
@tichnas , the PR i mentioned above has just merged to develop. If you pull the latest update from the backend develop branch and try install dependencied again, you shouldn't have the same issue. Please try and let me know how you go.

[2020-09-29 08:36] mtreacy002 commented on #65
@meenakshi-dhanani , I'll close this issue since the task on this issue is to broad and there were smaller issues have been created to test validation error messages specific to a particular View page.

[2020-09-29 08:36] #65 closed, assigned to nobody

[2020-10-01 16:50] tichnas commented on #106
@mtreacy002 Sorry for late reply, I was quite busy for past few days. I managed to solve the issue by your advice and some googling.

[2020-10-02 05:11] Aaishpra opened #115 "Feat: Design UI for 404:Error Page for default redirects."
## Is your feature request related to a problem? Please describe.

Currently, there is no feature to redirect the user to a specific Error 404 Page when they enter the wrong URLs. There should be a design and change in Route paths for this.

## Describe the solution you'd like

- Design a 404 Error Page

- Route redirect to implement this.

## Describe alternatives you've considered
  N/A

## Addi

[2020-10-02 05:11] Aaishpra commented on #115
@mtreacy002 have a look.

[2020-10-02 15:13] vj-codes commented on #115
@Aaishpra after the issue is reviewed , will you be working on this?
If not , I would like to work :)

[2020-10-02 15:45] Aaishpra commented on #115
Hey @vj-codes thanks for showing interest for working on the issue but, since i am currently not working on any other issue so would like to work on this.😅

[2020-10-03 14:13] rpattath commented on #33
Hi @mtreacy002, I would like to work on this but have no experience. Looking forward to learning something new.

[2020-10-03 22:45] mtreacy002 commented on #33
Sure, @rpattath , I'll assign you to this. Let me know if you are facing any issue. we can try work it out together 😉

[2020-10-04 01:04] Aaishpra commented on #115
Ping @mtreacy002

[2020-10-04 13:40] saideepesh000 commented on #87
@mtreacy002, Can I try this.

[2020-10-07 03:54] ruppysuppy commented on #86
I would like to work on this issue. Could you tell me how to check if the logged in user is an organization representative?

[2020-10-07 08:58] mtreacy002 commented on #86
@ruppysuppy , when you run the app, you'll notice that if the user has not declared that they represent an organization, when they try to open the organization page under `My Space`, this error message will be returned.
<img width="1054" alt="Screen Shot 2020-10-07 at 5 21 42 pm" src="https://user-images.githubusercontent.com/29667122/95309206-9160dd00-08d6-11eb-9ef3-97f0eaa4f958.png">

This error

[2020-10-07 13:16] ruppysuppy commented on #86
Ok, I'll start working on it tomorrow

@mtreacy002 please clarify one thing for me, only in case of `!responseMessage`, I should display `Go to Programs` and `Save` buttons?

[2020-10-07 19:03] prathmeshkhandelwal1 opened #117 "Feat: Design Navbar"
## Description
As a public user,
I need to see a well maintained and designed navbar ,
so that I can navigate properly through the website.

## Mocks
As of the [Design](https://www.figma.com/file/jxCqu1lq55H7jC4FDY119a/BridgeInTech?node-id=10%3A1) , Add the proper design to navbar.
![Screenshot (128)](https://user-images.githubusercontent.com/56167998/95375886-e5cb8300-08fd-11eb-84d4-4ab8a6cc40da.

[2020-10-08 15:15] prathmeshkhandelwal1 commented on #117
@mtreacy002 Have a look please.

[2020-10-09 16:08] saideepesh000 commented on #87
@mtreacy002, I am working on it, just to be clear is it related to the state of the application(like should I need to deal with the Context part of the application).

[2020-10-12 03:28] mtreacy002 commented on #86
@ruppysuppy . Sorry for the late reply. To be precise, if the response is not HTTPStatus.OK (200) then the `Go to programs` button should be disable. Only when the response message is 200 then the button should be enable. Does this make sense?

[2020-10-12 04:06] ruppysuppy commented on #86
Its ok. I am currently a bit caught up in various tasks, I won't have time to work on this issue. Sorry @mtreacy002

[2020-10-12 04:08] mtreacy002 commented on #86
That's alright, @ruppysuppy . Thanks for letting me know. 😉

[2020-10-12 12:57] saideepesh000 commented on #87
@mtreacy002, after clicking "I am a representative of an organization", how to join a particular organization if it is available. I mean we can see that the organizations are available on "organizations page", but how to join those organizations

[2020-10-12 13:17] ankitpal1029 commented on #86
can i work on this? i am new to open source and have some experience with react apps

[2020-10-12 23:29] mtreacy002 commented on #87
@saideepesh000 , at the moment, the flow is for user to declare they represent an organization under the `Additional Info` page, then create an organization. Only after these steps are done, the organization will be shown on the `organizations page`. This means, organization under `organizations page` already has someone representing them so there's no need to link them to user (at least for now).

[2020-10-12 23:32] #113 closed, assigned to mtreacy002

[2020-10-12 23:34] mtreacy002 commented on #86
Suree, @ankitpal1029 . I'll assign you to this. Thanks for picking up the issue.

[2020-10-12 23:53] mtreacy002 commented on #105
@RiaDhanani, since I haven't heard any updates from you, I'll label this issue as available again.

[2020-10-13 00:16] mtreacy002 commented on #87
But just want to clarify, the task of this PR is only to make the `Go to programs` button disable when user has not yet created the organization (so when response message is equal to `Organziation does not exist`). As for when the response message is the user not a representative, I had opened issue #86 to handle that.

[2020-10-13 00:49] mtreacy002 commented on #106
@tichnas , can you please give me an update on this task?

[2020-10-13 00:51] #108 closed, assigned to AltCtrlDel1999

[2020-10-13 00:53] mtreacy002 commented on #115
Sorry for the late reply, @Aaishpra . I'll assign this issue to you now 😉

[2020-10-13 00:56] mtreacy002 commented on #117
Thank you, @prathmeshkhandelwal1 for opening this issue. I've assigned you to this.

[2020-10-13 01:05] mtreacy002 commented on #106
@tichnas ,since there is no update for a while and there are other issues (#86 and #87) that should be able to achieve similar outcome (user won't be able to proceed to programs), should I close this issue (if you are not working on it)

[2020-10-13 03:44] ankitpal1029 commented on #86
Thanks , I'll set up the backend and frontend  client locally and let you know if I have any difficulties

[2020-10-13 05:28] Aaishpra commented on #115
Sure

[2020-10-13 08:57] saideepesh000 commented on #87
@mtreacy002, please check the gif, is this the way to deal with this problem.
![PR](https://user-images.githubusercontent.com/43727167/95839030-1ed18080-0d60-11eb-8140-078c665bd7e3.gif)

[2020-10-13 12:02] ankitpal1029 commented on #86
![Screenshot from 2020-10-13 17-29-46](https://user-images.githubusercontent.com/49815751/95857792-c313f100-0d79-11eb-8581-0ebd1faf21c5.png)
i was following this step of setting up the backend

when i ran run.py i get this error
![Screenshot from 2020-10-13 17-29-13](https://user-images.githubusercontent.com/49815751/95857890-e50d7380-0d79-11eb-9dae-7978f6d5b1b3.png)
i installed all the requiremen

[2020-10-13 12:32] ankitpal1029 commented on #86
![Screenshot from 2020-10-13 18-01-44](https://user-images.githubusercontent.com/49815751/95860813-31f34900-0d7e-11eb-97e8-3e04c92e2ac7.png)
can you guide me as to what some of these environment variables are

[2020-10-13 17:10] saideepesh000 commented on #86
If you followed the database setup from the Wiki correctly, you can put these values, except for 'DB_PASSWORD', it needs to be your postgre password which you did setup during the postgre installation.

![IMG20201013223733.jpg](https://user-images.githubusercontent.com/43727167/95892836-beb0fd80-0da4-11eb-937d-a065cad3de33.jpg)

[2020-10-13 21:42] somayaj commented on #105
Can I work this request?

[2020-10-14 03:59] mtreacy002 commented on #87
That looks good @saideepesh000 🎉🎉🎉. Can you please push the PR so I can check the code? Also, just as alternative, we can have the `Go to Programs` button still showing but in disable mode so that the user knows where they can go later when they want to add a new/view the list of programs they have created. But whichever one you choose, we will make this consistent across the application 😉.

[2020-10-14 04:16] mtreacy002 commented on #105
Sure, @somayaj . I'll assign you to this 😉

[2020-10-14 04:31] Aaishpra commented on #115
@mtreacy002
Update: Since my mid semester exams are scheduled in  few days so I am very busy with my University's work . That's why, i would make  the PR by next Wednesday when i am done with them.
Hope you are fine with this .

[2020-10-14 04:34] mtreacy002 commented on #115
Sure, @Aaishpra . Take your time. Thanks for letting me know. Good luck with your mid exam too.

[2020-10-14 04:45] prathmeshkhandelwal1 commented on #117
Sure, will do a PR ASAP

[2020-10-14 12:12] saideepesh000 commented on #87
Ok, we'll make button disable for this condition.

[2020-10-14 13:44] ankitpal1029 commented on #86
thanks i did that and run.py ran without any errors

[2020-10-14 14:38] ankitpal1029 commented on #86
this is the mentorship-backend run.py
![image](https://user-images.githubusercontent.com/49815751/96004376-f2e5f600-0e58-11eb-82a2-ca8f881591ef.png)

this is the bridge-in-tech-backend
![image](https://user-images.githubusercontent.com/49815751/96004357-eb265180-0e58-11eb-9491-27324dbd7b11.png)

the client says the server is unavailable despite both the servers being run,what am i doing wrong?

[2020-10-14 14:39] ankitpal1029 commented on #86
this is the mentorship-backend run.py
![image](https://user-images.githubusercontent.com/49815751/96004533-26288500-0e59-11eb-9e74-1a9b44216b8c.png)

this is the bridge-in-tech-backendt
![Uploading image.png…]()

he client says the server is unavailable despite both the servers being run,what am i doing wrong?
![Uploading image.png…]()

[2020-10-14 14:41] ankitpal1029 commented on #86
this is the mentorship backend:
![image](https://user-images.githubusercontent.com/49815751/96004777-6ab42080-0e59-11eb-871b-da6adddab13f.png)

this is the bridge-in-tech-backend:
![image](https://user-images.githubusercontent.com/49815751/96004802-71db2e80-0e59-11eb-9798-374914eacb33.png)

he client says the server is unavailable despite both the servers being run,what am i doing wrong?
![image](

[2020-10-14 21:21] mtreacy002 commented on #86
@ankitpal1029 . Did you run MS backend from my fork repo ms-backend-server branch as mentioned in the setup instruction? If you try to run from the develop branch it will not work.

Also, perhaps not related to the issue, but VERY IMPORTANT STEP. If this is your first time running them, you must click the link given to open the swagger UI and create the database tables (IMPORTANT: click on the Bri

[2020-10-14 21:28] mtreacy002 commented on #86
Also, try and confirm that BIT backend can talk to MS backend by registering a new user using the swagger UI of BIT backend. Once these backends connection is established (through a successful registration), you can try again running the frontend and see if it works.

[2020-10-14 21:30] mtreacy002 commented on #86
PS: can you please show me screenshots of your .env for both BIT and MS backends (please remove/hide any personal credentials like email address and password)

[2020-10-15 00:03] mtreacy002 opened #120 "Doc: Add existing UI screenshots to README.md"
**Is your feature request related to a problem? Please describe.**
It would be ideal to see existing screenshots of all existing UIs.

**Describe the solution you'd like**
Create a section called UI screenshots inside README.md (under `Run the app` section) and place screenshots of all existing UIs.

**Describe alternatives you've considered**
Screenshots can be replaced with GIFs

**Additional co

[2020-10-15 01:08] mctraore commented on #120
I am interested in working on this issue.

[2020-10-15 02:03] mtreacy002 commented on #120
sure, @mctraore . I'll assign this to you.

[2020-10-15 16:12] ankitpal1029 commented on #86
![Screenshot from 2020-10-15 21-37-27](https://user-images.githubusercontent.com/49815751/96156434-aff65200-0f2e-11eb-9620-20cad8019630.png)
these are the .env variables for both the backends
![Screenshot from 2020-10-15 21-37-39](https://user-images.githubusercontent.com/49815751/96156506-c69ca900-0f2e-11eb-8517-5da23e715dc0.png)
this probably means that the backends aren't communicating with eac

[2020-10-15 16:15] ankitpal1029 commented on #86
i don't understand what you mean by click on BIT backend first

[2020-10-15 16:20] ankitpal1029 commented on #86
although during setup of both the backends i needed to pip install psycopg seperately as the version mentioned in the requirements.txt was throwing up errors

[2020-10-16 04:47] mtreacy002 commented on #86
Ok, here are a couple of things you neeed to do:
* you must use the exact same .env variables for both MS and BIT backend. Meaning, the one on the right (14 lines) would be the closes one you need to have (with some modification below)
* Try put actual values instead of empty string '    '  for each of the variables (I never tried using empty string like you or @saideepesh000 so not sure how that

[2020-10-16 04:54] mtreacy002 commented on #86
Here's a screenshot of my .env for both BIT and MS backend on Windows laptop (CMD terminal)
<img width="261" alt="env" src="https://user-images.githubusercontent.com/29667122/96214707-cb616b80-0fc7-11eb-82df-1617a4aa560a.PNG">

[2020-10-16 04:59] mtreacy002 commented on #106
Closing this issue now 😉

[2020-10-16 04:59] #106 closed, assigned to tichnas

[2020-10-16 08:17] prathmeshkhandelwal1 commented on #117
As in this project react-bootstrap is used in making navbar so it is the best i can customize it according to the design can you plzz check it and tell me whether i should do a PR or NOT @mtreacy002
![Screenshot (140)](https://user-images.githubusercontent.com/56167998/96233757-225e4500-0fb6-11eb-80e2-5c7d33415449.png)

[2020-10-16 17:39] ankitpal1029 commented on #86
i did the .env changes and also realised there was a path error since i compiled postgres during setup rather than just sudo apt get it ,
upon reinstalling postgresql i was able to create a user finally

![image](https://user-images.githubusercontent.com/49815751/96290283-f7024700-1003-11eb-92db-579b86cbe92c.png)

although when i try running the front end i'm still not able to make a new organisat

[2020-10-16 17:41] ankitpal1029 commented on #86
i am not able to understand why the front end still shows server unavailable

[2020-10-16 22:20] mtreacy002 commented on #86
@ankitpal1029 . I'm glad to see that you are now able to link BIT and MS backend. Just curious, can you send me the screenshot of your user table to see the newly registered user record?

On the frontend not able to connect to backend, can you please send me the screenshots of what's been printed on both MS and BIT backend terminal when the frontend send the register request? You did have them (BI

[2020-10-17 19:12] ankitpal1029 commented on #86
sorry for the late reply ,

below are the tables in bitschema and public respectively
![Screenshot from 2020-10-18 00-39-00](https://user-images.githubusercontent.com/49815751/96351625-57fc4e80-10da-11eb-92e9-ac19f73122fd.png)
![Screenshot from 2020-10-18 00-36-20](https://user-images.githubusercontent.com/49815751/96351629-5fbbf300-10da-11eb-976e-759ca89d2436.png)
these are the terminal outputs f

[2020-10-17 19:13] ankitpal1029 commented on #86
@mtreacy002  both the servers are running when i launch the client

[2020-10-18 00:55] mtreacy002 commented on #86
@ankitpal1029 , let's try to troubleshoot this one step at a time. Now I can see that you haven't confirmed the email verification on register (from the users table record). With this, when you try to log in on swagger UI BIT backend it should come with an error message "Please verify your email before login.". Can you please confirm that this is the case? Can you tell me what the response is afte

[2020-10-18 01:17] mtreacy002 commented on #117
This looks good, @prathmeshkhandelwal1 . Can you tell me if the dropdown submenu still the same (under main navbar item) or are you planning to add a separate sub navbar as per the figma design? I'm happy with either one. And yes, you can open a PR on this, please 😉 .

[2020-10-18 05:59] prathmeshkhandelwal1 commented on #117
its the same as it was before just the layout of navbar is change(on clicking the `home` drop-down will appear. Accordian is used in this )...i tried adding other one..but this looks good..so i stayed with this...okk i will open i PR with little brush up.

[2020-10-18 07:55] saideepesh000 commented on #86
@ankitpal1029 , @mtreacy002, I actually did this in windows, I've got to run the servers in the first go, I'm not sure why is this happening, actually for user email verification, I did directly in postgre database, I changed it to true(is_email_verified: true), and then I tried to login in. After that everything went as expected.

[2020-10-18 10:26] #87 closed, assigned to saideepesh000

[2020-10-18 11:28] mtreacy002 commented on #86
That (verifying email directly on postgresql database) is also a good alternative to mock email, @saideepesh000. Thank you for sharing 👍

[2020-10-18 15:45] ankitpal1029 commented on #86
@saideepesh000 editing the db from pgadmin made it a lot easier to login thanks for that,
@mtreacy002 i was indeed able to login from BIT swagger ui ,
although i did find this in the dev tools
![image](https://user-images.githubusercontent.com/49815751/96372791-41abcc80-1186-11eb-9478-d1366b1901dd.png)
i also found this SO query in a simailar situation
https://stackoverflow.com/questions/54371815/

[2020-10-18 16:29] ankitpal1029 commented on #86
upon digging a little more turns out by changing it from 5000 to 3000 works since the app was allowing requests only from  localhost 5000 previously ,
also i'm not sure about this but why is the BIT backend allowing it's own local host i.e 5000
![image](https://user-images.githubusercontent.com/49815751/96373883-eaf5c100-118c-11eb-9079-89abe7a71959.png)
i was able to finally login
![Screenshot fro

[2020-10-18 23:01] mtreacy002 commented on #86
Hi @ankitpal1029 . that is strange. I don't know how your local develop branch of BIT backend can get localhost:5000  as the allowed origin, bcoz on both Anitab (upstream) and your own fork repo develop branch, I could see the port being what it is supposed to be (localhost:3000).
* anitab upstream develop branch
<img width="927" alt="Screen Shot 2020-10-19 at 9 54 35 am" src="https://user-images.

[2020-10-19 00:10] #105 closed, assigned to somayaj

[2020-10-19 01:44] ankitpal1029 commented on #86
Probably the case although I'm not sure how I managed to change that ,@mtreacy002 thanks a lot for helping me through the setup process despite multiple issues (some self created 😅). I'll look into to the issue and send a PR asap.

[2020-10-19 15:44] somayaj commented on #33
Can this be worked?

[2020-10-19 18:29] ankitpal1029 commented on #86
@mtreacy002 i have made the PR , kindly take a look at it

[2020-10-19 18:40] ankitpal1029 commented on #120
is this issue still open?

[2020-10-21 10:03] jhalak27 commented on #120
Hey, If this issue is available, I would like to work on it.

[2020-10-22 06:03] Aaishpra commented on #115
@mtreacy002 the initial design is here, can you tell me which colour you want the header to be, or any other change
![image](https://user-images.githubusercontent.com/66299533/96831283-63dd6d00-145a-11eb-8ac5-39abe02e763d.png)

[2020-10-22 16:32] khushishikhu commented on #120
@mtreacy002  may i work on this

[2020-10-22 19:53] ankitpal1029 commented on #120
i'm interested in working on this

[2020-10-23 21:09] mtreacy002 commented on #115
This looks good, @Aaishpra . I'll review the PR as soon as I have time.

[2020-10-23 21:21] mtreacy002 commented on #120
@jhalak27. If you are still interested I'll assign this to you since you've never contributed to the repo before (aka first-timer) and you're the next eligible on the list to claim the issue.

[2020-10-24 06:37] Aaishpra commented on #115
Sure, @mtreacy002 take your time to review.

[2020-10-24 12:40] mtreacy002 commented on #33
@rpattath , are you still working on this issue? Can you please give me an update?

[2020-10-25 14:37] jhalak27 commented on #120
Yes. Sure

[2020-10-25 14:40] jhalak27 commented on #120
@mtreacy002 could you tell where can I find existing screenshots?

[2020-10-25 14:44] Aaishpra opened #126 "Feat : Design Homepage wireframe for bridge-in-tech-web"
## Is your feature request related to a problem? Please describe.
Currently, the Project doesn't have a Homepage , when the user visits the project the following  under construction page is shown to them

![image](https://user-images.githubusercontent.com/66299533/97110044-0288f880-16fd-11eb-9f07-7ab9fd351c6a.png)

## Describe the solution you'd like

Design the Homepage wireframe using figma or a

[2020-10-25 14:48] Aaishpra commented on #126
@mtreacy002 have a look at the issue and add the required labels. Also, the issue is up for grabs, for anyone who would like to work on it.

[2020-10-26 06:43] mtreacy002 commented on #120
@jhalak27 . To do this, you need to locally run all 3 servers (BIT web, BIT and MS backend) and manually take screenshots of all pages/features available on BIT web. Does this make sense?

[2020-10-27 06:45] #117 closed, assigned to prathmeshkhandelwal1

[2020-10-28 03:07] #115 closed, assigned to Aaishpra

[2020-11-01 09:33] Aaishpra commented on #126
@mtreacy002 since no one has claimed this issue, i would like to work on this as it would be a nice opportunity for me to learn about designing and working with figma😅

[2020-11-02 04:22] purnima143 commented on #126
@Aaishpra @mtreacy002  Can I work on this issue?

[2020-11-02 04:25] purnima143 commented on #126
I have a design on my mind, If you give me chance I'll love to implement in this project😊

[2020-11-02 08:22] mtreacy002 commented on #126
@purnima143 , since @Aaishpra opened and claimed the issue first, I'll assign this to her. You could ask if she's happy to share the workload so that the two of you can work together on this.

[2020-11-02 08:55] purnima143 commented on #126
@Aaishpra It would be great if we both work together on this issue. What's your opinion?

[2020-11-02 08:57] Aaishpra commented on #126
Well sure let's do this @mtreacy002 you can assign this issue to @purnima143  also i would like to work with her.

[2020-11-03 01:03] mtreacy002 commented on #126
Sure thing, @Aaishpra . Will add @purnima143 as another assignee

[2020-11-03 13:49] purnima143 commented on #126
@Aaishpra Please check the below link
https://www.figma.com/file/gfjEZw4s8wImBjdRTmFbNa/AnitaB-landing-page?node-id=0%3A1

[2020-11-04 06:26] Aaishpra commented on #126
I have posted my comment there , please check that out.

[2020-11-05 14:28] Aaishpra commented on #126
@mtreacy002 have a look at the first draft. Most of this was prepared by @purnima143.
![image](https://user-images.githubusercontent.com/66299533/98253549-2839bb80-1fa1-11eb-8681-146a8f813e43.png)

[2020-11-05 16:22] purnima143 commented on #126
@mtreacy002  @Aaishpra have a look at this UI, If you both agree then we can move forward to coding. Let me know what all the changes are required.
![image](https://user-images.githubusercontent.com/57852378/98266819-bc5f4f00-1fb0-11eb-830d-3938213115a0.png)

[2020-11-07 16:07] Aaishpra commented on #126
It's good to go from my side.

[2020-11-09 08:04] devkapilbansal commented on #120
@jhalak27 are you working on this issue? Please post your progress in every 3-4 days so that maintainers can know the status of the issue

[2020-11-09 08:13] jhalak27 commented on #120
I am really sorry. I got stuck with some college things.
I will try to get this done.

[2020-11-10 04:51] purnima143 commented on #126
@Aaishpra  Can we move to implement part,i.e. coding

[2020-11-10 04:55] Aaishpra commented on #126
We first need @mtreacy002 to review this

[2020-11-15 14:37] amlannandy commented on #120
Hello. If no one is working on this currently, then I'd like to do so.

[2020-11-27 02:56] marthaerm commented on #126
Hi! I would like to know if this design is already reviewed. I would like to help with the code implementation! :)

[2020-11-27 03:13] mtreacy002 commented on #126
Sorry for the late reply, @Aaishpra and @purnima143. I love the proposed design here 😍 !!!
Both of you have done an amazing job with the design. You can move forward to the code implementation.
@marthaerm, thanks for your interest on the issue. But I'll give the first chance to @Aaishpra and @purnima143 as they came up with the design.

[2020-11-27 04:11] marthaerm commented on #126
@mtreacy002 thank you! I'll be aware of some new issues, and @Aaishpra @purnima143 the design looks really cool! if you need help you can ask me, probably we can work together on some new pages :)

[2020-11-27 16:24] Aaishpra commented on #126
Thanks for your kind words would surely ping you if I find something worth working on together.

[2020-11-27 19:32] marianayap commented on #126
Hello! I'm interested in this issue and I'll like to know if is already taken to see the chance of taking it. I'm like design and I can help with the code. I'll like to know if you have new issues to work on
Thank you! I'll wait for the answer @Aaishpra

[2020-11-28 03:42] purnima143 commented on #126
@marianayap  Sorry but its already assigned to @Aaishpra  and me, but there are many more pages in this project to redesign ...like about page, contact page etc. @marthaerm and @marianayap can work on it once issue will get created 😊

[2020-11-28 03:47] Aaishpra commented on #126
Agreed. @marianayap i  would create some design related issues if i find until then feel free to claim other issues.

[2020-11-28 13:06] nlok5923 commented on #120
@mtreacy002  I would like to work on this issue if no one is currently working on it.

[2020-11-28 13:38] Aaishpra opened #127 "Feat: Redesign About Page"
## Redesigning of About Page
Propose and develop a new and Better Design for the About Page of Bridge-In-Tech, so that the current one can be replaced.

The Current About page.
![image](https://user-images.githubusercontent.com/66299533/100516881-e5888f00-31ac-11eb-9848-6b56bdec8596.png)

## Describe the solution you'd like

- [ ] Design wireframe using figma/adobe.

- [ ] Get it reviewed/approved

[2020-11-28 13:49] Aaishpra opened #128 "Feat: Redesign Benefit Page"
## Redesign Benefit Page
Propose and develop a new and Better Design for the Benefit Page of Bridge-In-Tech, so that the current one can be replaced.

The current Benefit Page.
![image](https://user-images.githubusercontent.com/66299533/100517066-27660500-31ae-11eb-9532-f7e319ec67bb.png)

## Describe the solution you'd like

- [ ] Design the wireframe for the page using figma/adobe.

- [ ] Get it

[2020-11-28 16:16] nlok5923 opened #129 "logo doesn't displayed"
**Describe the bug**
AnitaBorg logo doesn't displayed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BIT web landing page'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
Navigation bar should contain logo on top left side.

**Screenshots**
![Screenshot (1642)](https://user-images.githubusercontent.com/56120084/100520258-e2000280-31c2-11eb-977b-6670792

[2020-11-28 16:16] nlok5923 commented on #129
i would like to work on this issue.

[2020-11-28 17:36] codewithvk commented on #129
I  would happy to work with this issue

[2020-11-29 05:43] prathmeshkhandelwal1 commented on #127
@Aaishpra As you opened this issue, are you going to work on this, if not, then @mtreacy002 Can you assign me this?

[2020-11-29 05:50] Aaishpra commented on #127
Nope, you can take this up, as i am already assigned to other issues at this moment.

[2020-11-29 06:08] purnima143 commented on #129
@nlok5923 and @codewithvk  This problem will be resolve on issue #126  and If you download the repo locally, you'll find the logo. In the project's link so many things are not updated, that team will work on. For now, you can check other open issues 🙂.

[2020-11-29 06:14] purnima143 commented on #126
@Aaishpra Can you can go ahead with the navbar and the remaining part I'll work on. Is it fine or do you have any other idea in your mind...? Anyhow the homepage doesn't only has the intro section it will go long along with about, benefit and footer section. So we can work on many more section of the homepage.

[2020-11-29 06:35] #129 closed, assigned to nobody

[2020-11-29 07:16] Aaishpra commented on #126
@purnima143 I am not sure if the navbar needs to get changed (since it was recently changed), if it does we can go ahead as you suggested. Also, this particular issue is about the Landing Page, so we don't need to go ahead with other pages, let others do the rest.
@mtreacy002 what are your thoughts about the navbar should we change it or keep it ( the current navbar)?

[2020-11-29 22:17] marthaerm commented on #128
Hey! I would like to work on this issue with @marianayap help, @mtreacy002 may you assign it to us?

[2020-11-30 04:03] marianayap commented on #128
Hello! I will love to work on the issue with Martha as well! @mtreacy002

[2020-11-30 17:32] prathmeshkhandelwal1 commented on #127
@mtreacy002 can you assign this to me?

[2020-12-02 12:31] mtreacy002 commented on #126
@Aaishpra , can you adopt the current navbar that just recently been adopted to your design? If you can give a screenshot of how the design looks with the current navbar, that will be great.

[2020-12-02 13:37] Aaishpra commented on #126
Sure thing, will show you the design by tomorrow.

[2020-12-02 13:58] purnima143 commented on #126
I did the coding part long back... @mtreacy002  and @Aaishpra  check it out...and whatever changes you need on navbar or any other components let me know.
![image](https://user-images.githubusercontent.com/57852378/100881548-0fef8a80-34d4-11eb-9947-160b99b73abe.png)

[2020-12-02 14:27] Aaishpra commented on #126
@purnima143 there were about, benefit and contact page under home section and some other pages under my space section  in navbar have you included those?

[2020-12-02 15:14] purnima143 commented on #126
@Aaishpra I changed some of the css codes... everything is working even the  about benefit drop-down part.

[2020-12-03 07:01] Aaishpra commented on #126
@mtreacy002 here is the design with current navbar
![image](https://user-images.githubusercontent.com/66299533/100975048-63f58000-3563-11eb-9929-e00641208433.png)

[2020-12-04 22:34] mtreacy002 commented on #33
Update. This issue is now open to anyone that would like to work on it.

[2020-12-04 22:35] mtreacy002 commented on #120
@jhalak27. Are you still working on this issue? If not, I'll make it available for anyone to pick up.

[2020-12-04 22:37] mtreacy002 commented on #126
@Aaishpra, the design with the latest navbar looks good 👍 . It's a green light from me 😉

[2020-12-04 22:38] mtreacy002 commented on #127
sure, @prathmeshkhandelwal1 . It's yours now 😉

[2020-12-04 22:41] mtreacy002 commented on #128
@marthaerm and @marianayap , both of you can work on it 😉. Thanks for picking it up.

[2020-12-04 22:47] marianayap commented on #128
@mtreacy002 Thank you:)

[2020-12-05 05:57] Aaishpra commented on #126
@purnima143 can you put back the navbar as original one and submit the Pr for the home section.

[2020-12-05 10:56] purnima143 commented on #126
@Aaishpra  Okay

[2020-12-05 18:29] jhalak27 commented on #120
Extremely sorry, I wasn't able to work on this. I have unassigned myself.

[2020-12-05 19:57] amlannandy commented on #120
@mtreacy002 Hello. I'd like to work on this issue. I had commented earlier and just saw it's open. Could you please assign it to me if that's okay?

[2020-12-06 07:29] mtreacy002 commented on #120
No worries, @jhalak27, thanks for letting us know. @amlannandy, I'll assign you to this now. Thanks for picking it up.

[2020-12-06 08:45] Aaishpra opened #131 "bug: buttons really close to each other and not on same level in responsive view."
**Describe the bug**
The buttons are really close to each other and not on the same level in the smartphone/responsive view
The bug exists in the login and register form.
See Screenshot for reference

![image](https://user-images.githubusercontent.com/66299533/101275503-319a8b80-37cc-11eb-87c8-287213e64163.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the login/Register page
2.

[2020-12-06 11:01] mtreacy002 commented on #131
Thank you, @Aaishpra . Good pick up....

[2020-12-06 16:46] nlok5923 commented on #131
@Aaishpra i would like to work on it as i am first timer in this repo.

[2020-12-07 04:35] Aaishpra commented on #131
@mtreacy002 can you assign this to him?

[2020-12-07 11:09] mtreacy002 commented on #131
Sure, @nlok5923. I’ll assign you to this issue. Thanks for picking it up 😀

[2020-12-08 02:43] nlok5923 commented on #33
@mtreacy002 can you please assign this issue to me.

[2020-12-08 04:12] Aaishpra commented on #33
@nlok5923 you are already assigned to #131 and according to the guidelines you can be assigned to only one issue at a time in a Repo. So, wait patiently until your PR gets reviewed and merged to claim other issues.😄

[2020-12-11 11:44] Bucky25 commented on #33
@mtreacy002 i would like to give it a go .

[2020-12-12 02:08] mtreacy002 commented on #33
Sure, @Bucky25 . I’ll assign you to this. Thanks for picking it up .

[2020-12-13 11:44] mtreacy002 opened #134 "Bug: Submenus under My Space > Profile dissappear from Navbar"
**Describe the bug**
The submenus under My Space > Profile (Personal Detals, Additional Info, and Personal Background) have dissappeared from the Navbar. One of the recent merged to develop branch is suspected to have caused this.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the 3 servers (BIT and MS backends as well as BIT frontend)
2. Login and try to update personal details (by goi

[2020-12-13 16:49] chinmaym07 commented on #134
Hey can I try this .?

[2020-12-16 00:15] marianayap commented on #128
Hello! @mtreacy002  @marthaerm  and I have been working on this approach for the benefit page. Also, we have a question about the bottom page image, where did you get it? we would like to keep the same chef concept but a different illustration. We'll wait for the confirmation to start coding it. Thank you!
![WhatsApp Image 2020-12-15 at 2 24 51 PM](https://user-images.githubusercontent.com/1935531

[2020-12-16 00:51] mtreacy002 commented on #134
Sure, @chinmaym07 . I'll assign you to this. Thanks for picking this up.

[2020-12-16 01:21] #131 closed, assigned to nlok5923

[2020-12-16 02:19] mtreacy002 commented on #128
@marianayap, the proposed design looks good. As for thee esource of bottom image, here's the [link](https://images.app.goo.gl/JutinVTdeKvv4oFR9) where I got it from.

[2020-12-16 07:50] Bucky25 commented on #33
@mtreacy002  i cannot login in the deployed website is there any problem in that . No conformation mail comes to the mail .

[2020-12-17 09:24] mtreacy002 commented on #33
@Bucky25, are you trying to use option 2 under the Setup section (using BIT and MS servers on Heroku)? Please note the warning that stated Heroku servers are unavailable due to free service limitations. So, the only option left is to setup locally.

[2020-12-17 11:48] Bucky25 commented on #33
@mtreacy002 i m trying to login on website  https://bridge-in-tech-web-heroku.herokuapp.com/ but after registering no conformation mail comes .

[2020-12-18 03:56] mtreacy002 commented on #33
Yeah. That’s the Heroku BIT frontend server, one of the servers that are mentioned as not working atm. So, you need to setup your own local servers and database to work on BIT backend and frontend issues.

[2020-12-19 13:51] chinmaym07 commented on #134
Hey @mtreacy002  I am trying to register on it after running the 3 servers .It is showing this error .

CRITICAL:root:HTTPConnectionPool(host='127.0.0.1', port=4000): Max retries exceeded with url: /register (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7f7314a83250>: Failed to establish a new connection: [Errno 111] Connection refused'))
CRITICAL:root:{'message': '

[2020-12-20 10:15] Bucky25 commented on #33
@mtreacy002 do all the environment variables have to set or can be remained empty  .
and in local also it tells to verify email before login

[2020-12-20 11:11] Bucky25 commented on #33
@mtreacy002 can you tell me how to login in locally set up enviroment

[2020-12-20 19:24] Bucky25 commented on #33
![Screenshot from 2020-12-21 00-52-02](https://user-images.githubusercontent.com/65112369/102722402-e84b4f80-4326-11eb-8810-8fdf1fa840f4.png)
i am getting this error while running python -m unittest discover tests while postrgres is running and ms backend is also  running on ubuntu

[2020-12-27 12:09] bhu1tyagi opened #135 "UI improvement"
Login and register page UI improvement.

[2020-12-27 12:11] bhu1tyagi commented on #135
Please assign this to me, I would like to work on this issue.

[2021-01-02 12:02] mtreacy002 commented on #33
@Bucky25 . I think this has something to do with machine specific (linux or windows) and how postgresql works on those machines. I had similar issue running the python test from the terminal on Windows machine but no issue (all tests passed) when running test using Test explorer on VS Code. I actually requested anyone with more experience/familiarity with linux/windows to give me some tips on how

[2021-01-06 02:40] #126 closed, assigned to purnima143, Aaishpra

[2021-01-06 03:43] mtreacy002 commented on #135
@bhu1tyagi . Thank you for showing interest to BridgeInTech project.
I'd like to share some advice:
When you contributing to an open source project, you must wait till someone approve the issue and assign you to it before you can start working. This is mentioned in `Getting Started` guidelines > `[Choosing a working item](https://github.com/anitab-org/bridge-in-tech-web/wiki/Getting-Started#choose

[2021-01-07 07:43] Palash1999 commented on #127
@prathmeshkhandelwal1 are you still working on this?

[2021-01-07 20:25] prathmeshkhandelwal1 commented on #127
yes, I was busy with my exams, So wasn't able to complete it in time, but now i am working on it.

[2021-01-09 02:56] emmanuelhashy commented on #134
Hi, @mtreacy002 I'd like to work on this.

[2021-01-09 02:59] emmanuelhashy commented on #33
Hi, @mtreacy002  I'd like to work on this.

[2021-01-09 03:50] mtreacy002 commented on #134
Hi @emmanuelhashy, let's check with @chinmaym07 first. @chinmaym07 , were you able to solve the issue you posted here? It could also be because of the missing dependency raised by one of the contributor [here](https://anitab-org.zulipchat.com/#narrow/stream/237630-bridge-in-tech/topic/Questions/near/221422579). You could check if the update to ms-backend-server branch solve the issue (reinstall de

[2021-01-09 04:19] mtreacy002 commented on #33
@Bucky25 , where you able to solve the issue? Are you still working on this? If not, can @emmanuelhashy work on it?

[2021-01-09 06:43] chinmaym07 commented on #134
Yes @mtreacy002 I am working on it.will submit a PR asap.
No that error is not because of missing dependency (flask-cors).

[2021-01-09 07:50] harsha-sam opened #139 "Refactor Register Component Code"
## Description
As a member,
I need to understand how the state of a component works and changes,
so that I can further contribute to the project.

## Mock
## Acceptance Criteria
### Update [Required]
- [ ] Replacing multiple useState hooks in Register component with a useReducer hook for better state management, code readability, and optimization.
- [ ] Only Register Component should be changed.
#

[2021-01-09 10:25] jalajcodes commented on #139
Can I work on it?

[2021-01-09 10:32] harsha-sam commented on #139
I already worked on it @jalajcodes 😄. I made a PR without opening the issue earlier. So, I opened the issue according to the guidelines and waiting for approval from @mtreacy002.

[2021-01-10 10:45] jalajcodes opened #140 "Bug: Eslint warnings on the homepage"
## Description
After running the app, there are a lot of eslint warnings from the rule `react-hooks/exhaustive-deps`. They are just warnings but can lead to bugs later as mentioned [here](https://github.com/facebook/create-react-app/issues/6880#issuecomment-485912528) by Dan Abramov.

There are also some typo warnings like using `eventKey` instead of `eventkey` etc

## To Reproduce
**Steps to repr

[2021-01-10 10:47] jalajcodes commented on #140
Oh and I'd like to work on it.

[2021-01-12 00:40] mtreacy002 commented on #139
@Rage-ops , can you please help further explain why we need to refactor the useState to useReducer (like the extra benefit it will have over useState and perhaps the pros and cons of what both useState/useReducer might cause to the application). Just bcoz I'm interested to learn more about this. Thanks beforehand.

[2021-01-12 00:43] mtreacy002 commented on #140
@jalajcodes , thanks for bringing this up. Can you please roughly explain how you're going to fix this bug?

[2021-01-12 06:48] jalajcodes commented on #140
@mtreacy002 Sure,

* The warnings are self explanatory as to what should be done, let's take this warning for example,
[code]

Here's the code causing this warning, if you look closely on line 36 you'll see squiggly line on the empty array,
![image](https://user-images.githubusercontent.com/17108695/104278391-8a95c780-54ce-11eb-9367-7454c9c8fa4d.png)

to fix it, in this case I can just add `reques

[2021-01-12 13:53] chinmaym07 commented on #134
Hey @mtreacy002  is dropdown now opening correctly..? Please check.

![Peek 2021-01-12 19-21](https://user-images.githubusercontent.com/44670961/104322880-76bc8680-550b-11eb-9461-a76e5618ef2e.gif)

If it is working fine can I open a pr for the same. ?

[2021-01-12 21:30] shruti1421 opened #141 "Improve navbar UI"
**Describe the bug**
- navbar menu is not styled properly and the drop down menu is not matching with the current navbar style

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '..login page.'
2. Click on '....drop down menu bar'
3. Scroll down to '....'
4. See error

**Expected behavior**
To improve the styling of the navbar elements and to align all elements of navbar in uniform order

[2021-01-13 01:08] harsha-sam commented on #139
Sure @mtreacy002. Firstly, instead of handling validity individually for every field, we can handle all field validity just by dispatching the same action type, so multiple handle callbacks aren't needed. useReducer gives us more predictable state transitions than useState. For example, if we are using setState() calls in succession, we can't assure that all those updates gonna take place at the s

[2021-01-13 23:17] mtreacy002 commented on #140
Sounds good to me @jalajcodes. I look forward to your code change for the fix. I'll assign you to this then. Thanks for the explanation. I've learned something from you 😉.

[2021-01-14 03:34] nlok5923 opened #142 "Bug: Login and signup button overlaps"
**Describe the bug**
Login and signup button overlaps in login page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Home
2. Click on Login
3. See error

**Expected behavior**
Button should be inline with space between

**Screenshots**
![image](https://user-images.githubusercontent.com/56120084/104541258-47ab2f80-5647-11eb-86f5-0d6ff85e7b59.png)

**Desktop (please complete the followin

[2021-01-14 03:36] nlok5923 commented on #142
i would like to resolve it.

[2021-01-14 05:42] mtreacy002 commented on #134
Hi @chinmaym07,  your screenshot shown the expected behaviour on the dropdown menu. You can send a pr so I can test/check it out. Thanks.

[2021-01-14 06:06] Aaishpra commented on #141
Hi @shruti1421 thanks for showing your interest in the project and opening this issue, but I believe BIT is going to follow a design matrix as @mtreacy002 mentioned [here](https://anitab-org.zulipchat.com/#narrow/stream/237630-bridge-in-tech/topic/Design.2FMocks/near/221473666) and any change in the UI needs to be first approved by the design team, so you can go on zulip and discuss any change wit

[2021-01-14 06:09] mtreacy002 commented on #139
It makes sense to me, although, since I’m still a newbie in React, I’d like to get a second opinion from others with more React knowledge. @annabauza or @meenakshi-dhanani , can you please help us with your thoughts on this useState to useReducer refactoring? Thanks beforehand.

[2021-01-14 06:29] Aaishpra commented on #142
@mtreacy002 I think this issue is the same as #131 and was already solved by #132 but how come this bug still exists.
I checked and found the same.
![image](https://user-images.githubusercontent.com/66299533/104552879-9f559500-565f-11eb-9250-8ac54ebd31a8.png)

[2021-01-14 07:04] mtreacy002 commented on #142
You’re right, @Aaishpra. This issue has been resolved. @nlok5923 , you’re 2 commits behind the develop branch (so the issue #132 that you’ve fixed didn’t get applied on your fork repo). Please pull from upstream and check again. If the issue no longer there, please close this issue. Thanks 😉

[2021-01-14 07:22] nlok5923 commented on #142
@mtreacy002 i checked my fork is updated with develop branch. It is solved in #132 but still it is there .

[2021-01-14 07:25] mtreacy002 commented on #142
That's strange. Ok, I'll check it locally then when I get back home (don't have my laptop with me atm) 😆. Will get back to you on this 😉

[2021-01-14 07:27] Aaishpra commented on #142
@nlok5923 is right, I checked it on my browser and found the same.

[2021-01-14 10:45] Ayush23Dash commented on #142
@nlok5923 @mtreacy002 @Aaishpra this is a media query error. I removed it and now it is working fine.

https://user-images.githubusercontent.com/40827680/104580622-8068fa00-5683-11eb-9563-f77c45329086.mp4

[2021-01-14 17:22] Ayush23Dash commented on #142
Hey @nlok5923 ,can you please inform about why did you close it?

[2021-01-14 17:32] nlok5923 commented on #142
Sorry @Ayush23Dash my bad.

[2021-01-14 23:41] mtreacy002 commented on #142
@nlok5923, @Ayush23Dash and @Aaishpra. I've run it locally and you're right, the Login page `Login and Signup` button are showing a different behaviour to the fix in #132 (you can see the gif I posted there when I did the test).

From my test just now, only the Register page showing the expected behaviour (although wheen the screen is < 322, the buttons start stacking up).
![ezgif com-gif-maker (2

[2021-01-15 02:10] nlok5923 commented on #142
Sure @mtreacy002 i will investigate the reason behind the same. 😊

[2021-01-15 04:57] nlok5923 opened #143 "Dev: Add editorconfig file to the project."
## Description
it would be good having editorconfig file in project to maintain the formatting style of whole project.

## Acceptance Criteria
 file with accepted formatting style.

## Estimation
1 hour

[2021-01-15 07:03] jalajcodes commented on #143
+1

I was thinking about it too...
We can go one step ahead and use the same file in all org. Projects. What do you say? @mtreacy002

[2021-01-15 07:13] nlok5923 commented on #143
Wanna work on it if the issue is legit.

[2021-01-15 18:01] battuAshita commented on #141
Hi @shruti1421. Is this issue open for contribution?

[2021-01-17 06:26] prathmeshkhandelwal1 commented on #127
@Palash1999 You can take it.

[2021-01-17 21:26] mtreacy002 commented on #143
This sounds like a good idea. But we’re yet to finalise the design matrix for BIT. Wouldn’t this be best to be done after we’ve done that (the matrix)? This way we can enforce the matrix throughout the project. What do you think @jalajcodes and @nlok5923 ?

[2021-01-17 22:44] mtreacy002 commented on #141
@shruti1421 and @battuAshita , thanks for your interest in the project. For this issue, as per @Aaishpra stated above, we need to make sure any design changes is approved by the design team. Feel free to join there so we can have a design focus discussion 😉

[2021-01-18 02:03] nlok5923 commented on #143
Yes, @mtreacy002 that would be good.

[2021-01-18 06:06] sankha555 commented on #127
@mtreacy002 @prathmeshkhandelwal1 can I please take this up if no one else is working on it? Thanks!

[2021-01-18 07:25] jalajcodes commented on #143
Yeah, that would be better.

[2021-01-18 12:47] harsha-sam opened #147 "Fix: Alignment of fields in Register page"
## Description
As a public user,
I need to see a well-aligned `Register` page with proper styling,
so that I can register.

## Mocks
![image](https://user-images.githubusercontent.com/56500849/104916354-f1781c80-59b7-11eb-9aea-3d6fced56b8e.png)
As you can see above, all fields of the current registration page are not aligned exactly. Some of the fields have more left padding whereas some fields do

[2021-01-18 12:48] harsha-sam commented on #147
I would like to work on this

[2021-01-18 15:05] Ayush23Dash commented on #147
I think the redesigning of the complete website is scheduled. So I believe, this issue won't be of much relevance.

[2021-01-19 00:32] mtreacy002 commented on #128
Hi @marianayap and @marthaerm, since we're in the process of redesigning the pages throughout BIT to match the AnitaB guidelines, we need to put this PR on hold for now till we've come up with a clearer design matrix for BIT. Sorry for the inconvenience. But you can still involve in the design process by joining the Design Open Session. At the moment we're taking a step back and focusing on [redes

[2021-01-19 00:33] mtreacy002 commented on #127
Hi @prathmeshkhandelwal1 , @Palash1999 , and @sankha555 , since we're in the process of redesigning the pages throughout BIT to match the AnitaB guidelines, we need to put this PR on hold for now till we've come up with a clearer design matrix for BIT. Sorry for the inconvenience. But you can still involve in the design process by joining the Design Open Session. At the moment we're taking a step

[2021-01-19 14:09] Rahulm2310 opened #148 "Optimize Images"
**Describe the bug**
A picture speaks thousand words, but if the picture is of large size, it takes forever to load.
Large images slow down the web pages which creates a less than optimal user experience.
We can reduce your image’s file sizes to help improve your website’s performance.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://bridge-in-tech-web-heroku.herokuapp.com/benef

[2021-01-19 15:32] Aaishpra commented on #148
Hi @Rahulm2310 thanks for showing your interest in the project and opening this issue, but I believe BIT is going to follow a design matrix as @mtreacy002 mentioned [here](https://anitab-org.zulipchat.com/#narrow/stream/237630-bridge-in-tech/topic/Design.2FMocks/near/221473666) So, benifit page, about page all are going to get redesigned. That means the page you are currently seeing are temporary

[2021-01-19 16:01] Rahulm2310 commented on #148
@Aaishpra Alright. Thanks for looking into it. 😊

[2021-01-21 07:51] Ayush23Dash commented on #142
Hi @nlok5923 ,can you please tell if this is resolved with the PR you linked?

[2021-01-21 07:58] nlok5923 commented on #142
@Ayush23Dash yes the linked pr resolves this issue.

[2021-01-21 08:04] Aaishpra commented on #142
You can test and review that by yourself too @Ayush23Dash and give your feedback in the linked PR.

[2021-01-22 00:24] mtreacy002 opened #149 "Doc: Setup instructions link on Readme file needs to be updated"
**Describe the bug**
The previous **BIT Backend Environment Setup** linked to a wiki page that is not longer exist since now we're using the ENV_SETUP_INSTRUCTION.md under .github folder. Therefore the link inside the Readme file need to be updated to reflect this change.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to bridge-in-tech-web repository and click on the link to **here** und

[2021-01-22 00:36] mtreacy002 commented on #139
@harsha-sam , can you please check the Zulip post feedback [here](https://anitab-org.zulipchat.com/#narrow/stream/223071-newcomers/topic/Advice.20Needed/near/223199738) from Rahul Mohata.
Considering that we're still in a very early stage of the development, I think we should wait the refactoring to useReducer until we've got more features to tackle. At this stage, my focus is on completing the MV

[2021-01-22 04:24] 0xNilesh commented on #149
@mtreacy002 I would like to do this. Please assign me.

[2021-01-22 05:54] mtreacy002 commented on #149
Hi @VectoTec , thanks for showing your interest on the project. As per the [guideline](https://github.com/anitab-org/bridge-in-tech-web/wiki/Getting-Started#choose-a-working-item), you should wait until either a maintainer/OS Ambassador assign you to the issue.
This is to prevent conflict with other contributor that also interested with the issue.

[2021-01-22 05:56] 0xNilesh commented on #149
Ok, sorry for the same 😅. I'll keep in mind next time.

[2021-01-22 05:57] mtreacy002 commented on #149
Thank you for your understanding. For now, I'll assign you to this.

[2021-01-22 06:01] 0xNilesh commented on #149
Ok thanks for assigning. So, do I close the previous PR and open it again or is it fine ?

[2021-01-22 06:05] mtreacy002 commented on #149
No, the same PR should be fine. No need to open another PR.

[2021-01-22 06:06] 0xNilesh commented on #149
ok thanks.

[2021-01-22 10:13] chinmaym07 opened #153 "Bug: No Option to Logout"
**Describe the bug**

After successful login ,there is no option to logout & also Login button is still there but when I clicked on login again It showed the main landing page.

**Expected behavior**

After successful login ,there should be a button to logout & also Login button should not be there .

**Screenshots**

![Peek 2021-01-22 15-38](https://user-images.githubusercontent.com/44670961/1054

[2021-01-22 11:14] #147 closed, assigned to nobody

[2021-01-22 13:07] Rahulm2310 commented on #153
@chinmaym07 Yes, also currently even after log in, user is allowed to go to register route which should not be.

[2021-01-22 13:09] chinmaym07 commented on #153
Correct ..I forgot to mention that..👍🏻

[2021-01-22 13:39] Rahulm2310 opened #154 "Bug : Personal Details"
**Describe the bug**
When I try to edit and save my personal details, it says a user with username already exists although I am not changing my username or email.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to My Space/Profile/Personal Details
2. Scroll Down
3. Click on Save Button

**Expected behavior**
It should update the user's personal details correctly.

**Screenshots**
Here's a

[2021-01-22 14:10] Rahulm2310 opened #155 "Bug : Incorrect Portfolio link"
**Describe the bug**
When visiting a member's profile, if we click on "Go to Portfolio" button (link) , it's href is set with a incorrectly formatted member portfolio url.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a member's profile
2. Scroll down
3. Hover on "Go to Portfolio" link
4. Check it's href attribute

**Expected behavior**
It should be correctly formatted.

**Screenshot

[2021-01-22 14:36] chinmaym07 commented on #153
There is an option to logout ..I figured it out right now..that's why closing this issue.!!

[2021-01-23 02:45] 0xNilesh commented on #153
@chinmaym07 Can you tell me how to logout ?

[2021-01-23 04:19] mtreacy002 commented on #153
@chinmaym07 , this is actually a valid issue. Somewhere in the commits that got merged, it breaks the app that the `Logout` button no longer shown after user is logged in (the Register and Login buttons remain visible) which is not the expected behaviour. So, will reopen the issue now.

[2021-01-23 04:24] mtreacy002 commented on #153
@chinmaym07 . Would you like to work on it?

[2021-01-23 04:43] mtreacy002 commented on #153
@VectoTec , as this is a bug, what you can do to get around it temporarily is to shut down all 3 servers, clear your browsing history and restart everything again (at least that's what I do for now). @chinmaym07 , you also mentioned above that you find a way to logout, can you share your method (if it's different).

[2021-01-23 04:50] #134 closed, assigned to chinmaym07

[2021-01-23 04:59] #140 closed, assigned to jalajcodes

[2021-01-23 05:10] chinmaym07 commented on #153
Yes @mtreacy002 I found the same way that is to shut down all the 3 server and start again ..then login ..then you will be able to see logout option...☺️

Yes I would like to work on it ...I'll try to think of a solution & will inform you about it before implementing.☺️👍🏻

[2021-01-23 05:14] #149 closed, assigned to 0xNilesh

[2021-01-23 06:04] 0xNilesh commented on #153
@chinmaym07 @mtreacy002 I found the solution to fix the issue, if you aren't able to do this, then let me know. I had fixed and tried locally, it's working fine. 😄

[2021-01-23 20:36] 0xNilesh opened #156 "Doc: Fix Typos in Readme"
**Describe the bug**
1. Some spelling mistakes are there.
2. Some commas and verbs are missing in the readme file.

**Screenshots**
![1issue](https://user-images.githubusercontent.com/54444545/105613443-9051ae00-5de8-11eb-9b90-d1e31b763142.JPG)

![2issue](https://user-images.githubusercontent.com/54444545/105613452-98115280-5de8-11eb-944d-e4b7dbf90511.JPG)

![3issue](https://user-images.githubuser

[2021-01-23 20:37] 0xNilesh commented on #156
Please assign me for this issue.

[2021-01-23 21:38] mtreacy002 commented on #154
@Rahulm2310 , this issue is a backend issue and a cross project issue with Mentorship System. This issue has been raised on the [BIT backend repo](https://github.com/anitab-org/bridge-in-tech-backend/issues/141https://github.com/anitab-org/bridge-in-tech-backend/issues/141) and is put on hold since we can only move ahead with it once the Mentorship System issue referred in it has done the fix. So,

[2021-01-23 22:32] mtreacy002 commented on #156
@VectoTec , thank you for raising this. For issue related to grammatical error/typo, we consider it as a minor issue that is best to be left for a first timer contributor (which you are no longer considered as since you've done your first time contribution through issue #151). Also, I prefer if we can take notes on any grammatical/typo errors first and do the fix in one go when we have enough erro

[2021-01-24 04:11] 0xNilesh commented on #156
Okay fine, I'll put other errors in the google doc for first timers. For now, I'm closing this issue.☺️

[2021-01-24 04:11] #156 closed, assigned to nobody

[2021-01-24 05:51] Rahulm2310 commented on #154
Alright @mtreacy002 ! Thanks for looking into it.

[2021-01-24 05:51] #154 closed, assigned to nobody

[2021-01-24 11:34] chinmaym07 commented on #153
@mtreacy002 please assign this issue to @VectoTec.. !!

[2021-01-24 12:20] mtreacy002 commented on #153
Ok, will assign him now 😉

[2021-01-24 13:16] jalajcodes commented on #153
I logout by deleting the cookies for localhost:3000 from the application tab of devtools and then refreshing the page😁

[2021-01-24 13:18] 0xNilesh commented on #153
@jalajcodes yeah that's an option and btw I've solved the issue and will make a PR soon 😁.

[2021-01-24 13:22] jalajcodes commented on #33
@mtreacy002  I'd like to work on it.

[2021-01-25 02:33] mtreacy002 commented on #33
@jalajcodes , I'll remove @Bucky25 assignment to this as there's no reply. But @emmanuelhashy also the next one on the cue. Have you figured out the bug in issue #150 ? Can you open an issue on that? I'll assign you to it.

[2021-01-25 02:36] mtreacy002 commented on #33
@emmanuelhashy , sorry for the delay. Are you still interested on this issue?

[2021-01-25 09:34] jalajcodes opened #158 "Bug: Multiple requests being sent to the server due to the change in useEffect's dependency array."
**Describe the bug**
Due to some changes made in [this PR](https://github.com/anitab-org/bridge-in-tech-web/pull/150) lots of requests are sent to the backend in a short amount of time.

**To Reproduce**
Steps to reproduce the behaviour:

1. Login with your account
2. Open Developer Console
4. Switch to the Network tab
4. Now, click on any link from the `My Space` dropdown present in the navbar.
3

[2021-01-25 09:37] jalajcodes commented on #33
@mtreacy002
No problem. I opened the issue here... https://github.com/anitab-org/bridge-in-tech-web/issues/158
Kindly assign me. Thanks!

[2021-01-25 10:26] mtreacy002 commented on #158
Thanks for opening this issue, @jalajcodes, 👍

[2021-01-25 17:42] shruti1421 opened #159 "Spelling and grammatical errors in some doc files"
**Describe the bug**
There are some spelling and grammatical in the readme file

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...Readme.md'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.
In Readme.md
![image](h

[2021-01-25 17:52] #159 closed, assigned to nobody

[2021-01-25 17:58] shruti1421 opened #161 "Bug: Spelling and Grammatical errors in some doc files"
**Describe the bug**
There are some spelling and grammatical in the readme file

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...Readme.md'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.
In Readme.md
![image](h

[2021-01-26 18:20] Rahulm2310 commented on #161
@shruti1421 Thanks for showing interest in fixing bugs. A suggestion I would like to give you is when contributing to an open source project, try to be patient and let the maintainers approve /confirm the bugs even if they are crystal clear or very small.  This way both maintainers & contributors will be at ease.

[2021-01-26 18:21] Rahulm2310 commented on #155
@vj-codes @Aaishpra could you guys please confirm this issue ?

[2021-01-26 19:13] Rahulm2310 opened #162 "Bug: User can visit /register even after logged in"
**Describe the bug**
Although, we remove the Register button form the UI when a user is logged in, still a logged in user can go to /register route from the url bar.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Home page and login/register.
2. Go to /register route from url bar

**Expected behavior**
Once a user is logged in, they should not be able to visit register page by any way

[2021-01-26 21:30] mtreacy002 commented on #161
@shruti1421 , in an open source, It is important to follow the workflow of the open source organization you're contributing to. The workflow of BIT can be seen on the [Getting Started > Choosing a working item](https://github.com/anitab-org/bridge-in-tech-web/wiki/Getting-Started#choose-a-working-item) guideline. As stated in the guideline (and mentioned by @Rahulm2310 above), once you raised an i

[2021-01-26 22:00] shruti1421 commented on #161
I'm very sorry for this mistake.
I've just started contributing to open source projects that's why I didn't knew I've to follow contributing guidelines.I'm closing this issue now.

[2021-01-26 22:00] #161 closed, assigned to nobody

[2021-01-26 23:14] mtreacy002 commented on #161
No worries, @shruti1421 . Don't forget to add your findings on the [doc](https://docs.google.com/document/d/12wqYtC8JvhFPqk8-k6T72c9PNZzzch3HW6Zo38jUjw0/edit) referred above 😉

[2021-01-27 07:47] Aaishpra commented on #155
@Rahulm2310 can you confirm if the URL is working or not means does it takes you to the right place, cuz in the code I see
![image](https://user-images.githubusercontent.com/66299533/105954578-e2215f00-609a-11eb-9a75-8bf5309c70d4.png)
![image](https://user-images.githubusercontent.com/66299533/105954632-f9f8e300-609a-11eb-8011-54b649e4312e.png)
and removing extra / and double quotes from start and

[2021-01-27 10:34] Rahulm2310 commented on #155
@Aaishpra  Currently the URL is contains `""`  quotes i.e. the url is not correctly formatted. It is not working currently. Also even if we remove quotes, http://localhost:3000/members/profile/members/portfolio/rmohata it is still seems to be a invalid url. Still I will check and confirm. I think http://localhost:3000/members/portfolio/rmohata should be the correct format.

[2021-01-27 19:10] Rahulm2310 commented on #155
@Aaishpra both the links get redirected to home page.

![image](https://user-images.githubusercontent.com/54268438/106041674-1d0aad80-6102-11eb-802d-359c87efa50c.png)
Although, this shows that  http://localhost:3000/members/portfolio/rmohata should be the valid url.

[2021-01-28 03:59] Aaishpra commented on #155
Oh I see, Thanks for pointing it out 🤔. Although the member portfolio page is still under construction but the URL should work.

@mtreacy002 what do you think about this?

[2021-01-28 06:35] chinmaym07 commented on #162
@Rahulm2310 I think this issue is solved by #157  please check this.

[2021-01-28 10:44] chinmaym07 opened #163 "Separate Contact Page"
**Is your feature request related to a problem? Please describe.**

 Separate Contact Page

**Describe the solution you'd like**
BIT should have a separate contact page as when a user clicks on contact button he is directed to the contact page of official website of Anitab.org .
Right Now As no contact page is there ,this might have a bad impact on user experience.

[2021-01-28 17:54] Rahulm2310 commented on #162
@chinmaym07 No, I replicated the changes from the PR locally and tried but it is not fixed. #157 only fixes the issue of not showing logout button. This issue still persists. You can try

[2021-01-28 18:05] chinmaym07 commented on #162
@Rahulm2310 please look at this
https://github.com/anitab-org/bridge-in-tech-web/pull/157#pullrequestreview-578021021
I have added a gif for more info.

[2021-01-28 18:15] Rahulm2310 commented on #162
@chinmaym07 I totally get your point, but the issue I have mentioned is different. It is not about the logout button.
User can go to /register route via URL bar and no redirect happens.

[2021-01-28 19:13] chinmaym07 commented on #162
Yes that's correct.. ☺️👍🏻

[2021-01-28 22:58] #153 closed, assigned to 0xNilesh

[2021-01-28 23:08] mtreacy002 commented on #162
@Rahulm2310 . Spot on 👍👍. Will assign this to you 😉

[2021-01-28 23:39] mtreacy002 commented on #155
@Rahulm2310 and @Aaishpra . Ideally, we would like to have user (e.g. user A) to see the portfolio page of another member (e.g. User B), not the profile page, when user A click on that user B's name from the members list (on the `Members` page). So, the route for this page will be http://localhost:3000/meembers/portfolio/userb. Then on B's `Portfolio` page, we'll place a link to the B's `Profile`

[2021-01-29 03:54] Rahulm2310 commented on #155
@mtreacy002  If I am not wrong, isn't there a route like http://localhost:3000/members/profile/userb for visiting a user' s profile.

Yes, I agree.

[2021-01-29 04:10] Aaishpra commented on #155
Completely agree with you on the routing part. @mtreacy002
Also i suggest first we can create a template for member portfolio and then when we have the template ready someone can work on the implementation part along with working on this issue for proper routing of it.
So, until a template is ready this issue should be put to hold.

Cc @mtreacy002

[2021-01-29 05:59] mtreacy002 commented on #155
@Rahulm2310 , the route you're referring to is only a temporary route since we don't have the portfolio page ready yet. We currently do have MemberPortfolio component for this (Portfolio page), but it hasn't been utilised since it doesn't have the minimum information to accept/pass props to the next page. We need to construct this MemberPortfolio so we can direct user from the Members list (Member

[2021-01-29 06:13] Aaishpra commented on #155
+1 from my side @mtreacy002 the portfolio needs to be created first.

[2021-01-29 06:14] Rahulm2310 commented on #155
Ok, then let's first create the Portfolio page and then get back to this 👍

[2021-01-29 09:29] jalajcodes commented on #33
@mtreacy002 Maybe I can take it now as Emmanuel doesn't seem to be active?

[2021-01-29 19:40] emmanuelhashy commented on #33
@jalaj I am still interested

On Fri, 29 Jan 2021 at 10:29, Jalaj <notifications@github.com> wrote:

[2021-01-29 22:53] mtreacy002 commented on #33
ok, @emmanuelhashy . I'll assign you to this.

[2021-01-30 04:43] mtreacy002 commented on #148
Yep, as per @Aaishpra said above. @Rahulm2310 atm any issus related to design improvements should be put on hold as we need to decide with design matrix first. So can you please close this issue?

[2021-01-30 05:01] mtreacy002 commented on #163
@chinmaym07 , I think this depends on whether or not AnitaB.org have dedicated staff to manage the incoming emails/communications from users for each of their projects. Atm, BIT is using [contact point of AnitaB](https://anitab.org/contact/) since we know there'll be someone on that end that will be able to redirect users queries to specific project admins. Perhaps in the future, once our admins c

[2021-01-30 09:52] chinmaym07 commented on #163
@mtreacy002 Can we use the endpoint that is used by dedicated staff to receive emails and make our contact page and redirect our requests to that endpoint. ?

[2021-01-30 17:10] Rahulm2310 commented on #148
Sure @mtreacy002 🙂

[2021-01-30 17:10] #148 closed, assigned to nobody

[2021-01-31 09:54] mtreacy002 commented on #163
mmm.... I think the @anitab-org/admins have the answer to that, @chinmaym07. It would be great if we can 😉

[2021-01-31 20:55] chinmaym07 opened #166 "Bug: Display email issue"
**Describe the bug**

When a user logs in using username it display message "Welcome ${username}" and when the same user logs in using email it displays "Welcome ${email}"

**Expected behavior**

Either the user logs in using email or username ,It should show user's username.

**Screenshots**

![Peek 2021-02-01 02-23](https://user-images.githubusercontent.com/44670961/106397679-953fde80-6434-11eb-

[2021-02-01 17:59] aakarshvats638 commented on #166
Can I work on this issue @chinmaym07

[2021-02-01 18:04] chinmaym07 commented on #166
Please wait for it to be approved by maintainers .If it's a valid issue after that you can ask the maintainer to assign it to you. !!. @aakarshvats638

[2021-02-01 18:32] Rahulm2310 commented on #158
@jalajcodes Can you please provide clear steps to reproduce this issue.

[2021-02-01 20:07] Rahulm2310 opened #167 "Bug: Repeating background on home page"
**Describe the bug**
The background on home page is repeating on some screen sizes.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Developer Tools
2. Click on 'Toggle device toolbar'
3. Keep decreasing the screen width till the background repeats

**Expected behavior**
The background should not repeat on any screen size.

**Screenshots**
![image](https://user-images.githubusercontent.

[2021-02-02 10:38] jalajcodes commented on #158
@Rahulm2310
I've updated the steps... Check if you can reproduce the issue now.

[2021-02-03 09:56] Rahulm2310 commented on #167
@vj-codes I think this should be labelled `First Timers only`

[2021-02-03 12:41] arkumari2000 commented on #167
I would like to work on it. Can I try this?

[2021-02-03 13:39] Rahulm2310 commented on #167
@arkumari2000 Yes you definitely can but just wait for a maintainer to confirm and assign this issue to you. Thanks 😊

[2021-02-04 04:53] mtreacy002 commented on #166
Yep, @chinmaym07 . It’s a valid issue. Can we open this for first-time contributors do you think?

[2021-02-04 05:29] chinmaym07 commented on #166
Yes sure @mtreacy002 🙂👍🏻

[2021-02-04 06:13] mtreacy002 commented on #167
Agree with @Rahulm2310 , I’ll label it first-timer only. @arkumari2000 , if you’ve never contributed before to this repo, I can assign this to you if you’re interested 😉

[2021-02-04 06:24] mtreacy002 commented on #166
@aakarshvats638 , if you’ve never contributed to this repo before, I can assign you to this. Are you still interested?

[2021-02-04 06:35] sharur7 commented on #166
@mtreacy002 can I work on this issue?

[2021-02-04 07:33] mtreacy002 commented on #166
Let's see if @aakarshvats638 still interested to work on this or not first, @sharur7. But thanks for showing interest.

[2021-02-04 09:51] arkumari2000 commented on #167
@mtreacy002  yes I want to give it a try. please assign it to me.

[2021-02-04 18:23] shruti1421 commented on #167
If no one is working on this, can I try?

[2021-02-04 20:20] Rahulm2310 commented on #167
As @arkumari2000 was the first one to claim it, I think she should get the chance first. If she's no more interested than surely you can @shruti1421 but please wait for @mtreacy002 to assign any one of you before start working on it. 🙂

[2021-02-05 13:03] Srashtimittal commented on #166
@mtreacy002 Can I work on this issue?

[2021-02-05 13:24] aakarshvats638 commented on #166
@mtreacy002  mam I haven't worked on this repo

[2021-02-05 20:25] Rahulm2310 opened #168 "Bug: Refreshing protected routes redirects to home page"
**Describe the bug**
Refreshing protected routes redirects to home page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://localhost:3000/members
2. Refresh the page
3. You are redirected to home page

**Expected behavior**
After refresh, user should remain on the same page and not redirected to home page.

**Screenshots**
![bit-refresh-error](https://user-images.githubusercontent.

[2021-02-05 20:26] Rahulm2310 commented on #168
@mtreacy002 Can you please confirm this issue and if valid can I be assigned this ?

[2021-02-06 06:58] mtreacy002 commented on #166
Ok then @aakarshvats638 , I'll assign you to this issue 😉

[2021-02-10 13:22] drishtipeshwani commented on #168
I am first timer , can I work on this issue

[2021-02-10 15:00] wajeehamushtaq opened #172 "Home Page Text center align in responsive view"
When the Home page view on mobile the text does not properly view. It should not align center.

![issue1](https://user-images.githubusercontent.com/55188521/107525872-16d40100-6bd9-11eb-8ee2-4e03a5fdcf78.JPG)

[2021-02-10 18:02] Rahulm2310 commented on #172
@wajeehamushtaq As we are redesigning the whole website, this will be covered too. So, don't worry about this. Thanks 🙂

[2021-02-11 06:11] aditmehta9 opened #173 "Dev: Feature of Deploy from Github Actions"
**Is your feature request related to a problem? Please describe.**
Creation of deploy.yml file from Github Actions

**Describe the solution you'd like**
Creation of deploy.yml file in .github/workflow category

**Additional context**
![image](https://user-images.githubusercontent.com/35133994/107322791-26fdba80-6acb-11eb-8b23-8f0c89c9ec23.png)

[2021-02-11 06:12] aditmehta9 commented on #173
@mtreacy002 can this issue can be assigned to me as I haven't contributed to this repo and it is also the task of OS Ambassador more work needed section?

[2021-02-11 17:33] Rahulm2310 opened #174 "QA: Add a code formatter and code linter for standardizing the code style"
**Is your feature request related to a problem? Please describe.**
It will be difficult to enforce a coding style as the repo grows bigger and gets more PRs.

**Describe the solution you'd like**
We must use a code formatter (ideally, opinionated one like https://prettier.io/) and a code linter (like https://eslint.org/) to enhance code quality and maintain consistency.

[2021-02-11 17:35] Rahulm2310 commented on #174
@mtreacy002 @isabelcosta  Is this valid? If yes, I would like to work on this. Thanks 🙂

[2021-02-11 18:02] shades-7 commented on #167
is this issue still open, if yes, can I work on it? I am just a newbie over here.

[2021-02-11 18:05] shades-7 commented on #166
@mtreacy002 if this issue is still open, can I give it a shot?

[2021-02-11 18:06] Rahulm2310 commented on #167
@shades-7 Thanks for showing interest but @arkumari2000 has already made a PR for this. Feel free to look through some other first timer issues. 🙂

[2021-02-11 18:18] shades-7 commented on #142
@nlok5923 hey, is this still open, can I work on it?

[2021-02-11 18:19] nlok5923 commented on #142
@shades-7 there's already a pr addressing this issue.

Thanks

[2021-02-11 18:27] shades-7 commented on #168
@Rahulm2310 if its open can i work on this?

[2021-02-11 18:28] Rahulm2310 commented on #168
@shades-7 Please wait for a maintainer to approve and assign this issue before starting to work on the fix. Thanks 🙂

[2021-02-12 16:53] pranay-simejia opened #175 "Create a under construction screen."
As the  [website](https://bridge-in-tech-web-heroku.herokuapp.com/) is under construction, there can be a nice under construction screen.

**Screenshots**
![image](https://user-images.githubusercontent.com/70064696/107797441-f8a90500-6d80-11eb-955e-1c35440134fb.png)

[2021-02-13 01:01] Rahulm2310 commented on #175
@pranay-simejia BIT is not at production level & still under development. I think we should focus more on constructing/designing the website than designing a under construction page.  Thanks 🙂

Cc : @mtreacy002

[2021-02-13 05:24] Aaishpra commented on #175
@pranay-simejia the screenshot you presented is on the Heroku server of BIT(which ain't updated with the local project at the moment) please locally set up the project, we pretty much have most of the pages created(not under construction).
Therfore Please close this issue.

[2021-02-13 08:14] pranay-simejia commented on #175
got it! @Rahulm2310
sure! @Aaishpra

[2021-02-13 08:14] #175 closed, assigned to nobody

[2021-02-13 10:00] subodhk01 commented on #166
@mtreacy002 Can I work on this issue?

[2021-02-13 10:31] chinmaym07 commented on #166
@aakarshvats638 can you please share the progress that you made on this issue .?

[2021-02-14 17:34] aakarshvats638 commented on #166
I am actually facing trouble setting up the environment, @chinmaym07

[2021-02-14 17:48] Rahulm2310 commented on #166
@aakarshvats638 Feel free to ask your queries on [Zulip](https://anitab-org.zulipchat.com/#narrow/stream/237630-bridge-in-tech). The community is ready to help you. Take it easy🙂

[2021-02-16 09:17] mtreacy002 commented on #168
@Rahulm2310 , this issue seems valid to me. Should we label it first-timer? What do you think?

[2021-02-16 09:20] mtreacy002 commented on #173
Sure, @aditmehta9 , I'll assign you to this. 😉

[2021-02-16 09:24] aditmehta9 commented on #173
Thank you so much.

[2021-02-16 10:06] mtreacy002 commented on #174
@Rahulm2310 . I think this is a valid issue. Can you please tell me which of the 2 you mentioned above you're going to use? Can you please share your insight on pros and cons on both options here? Thanks

[2021-02-16 17:50] Rahulm2310 commented on #168
@mtreacy002 Yeah, sure 💯 .  As @drishtipeshwani requested first, I think she should be given first chance. 🙂

[2021-02-16 18:18] Rahulm2310 commented on #174
![image](https://user-images.githubusercontent.com/54268438/108104017-c36a2300-70b0-11eb-8c87-c6cac85c7548.png)

@mtreacy002 We can use integrate both of them to get the best results (a new trend). Prettier also provides a [guide](https://prettier.io/docs/en/integrating-with-linters.html) to integrate with eslint.

[2021-02-16 20:36] #120 closed, assigned to amlannandy

[2021-02-16 20:38] #162 closed, assigned to Rahulm2310

[2021-02-16 21:18] mtreacy002 commented on #168
@drishtipeshwani . Assigning you to it 😉. Thanks for picking up the issue.

[2021-02-16 21:42] mtreacy002 commented on #174
Sounds good to me (to integrate both), @Rahulm2310 . The next question is, how and when will we apply the linters? Can they be added to the CI build (currently we're using Travis but soon moving to Github action) which is an ideal way so no need for manual linting.

[2021-02-17 02:39] drishtipeshwani commented on #168
Thankyou for assigning !

[2021-02-17 20:01] Rahulm2310 commented on #174
Yes @mtreacy002 . Both of these can be added to Github Actions to avoid manual linting. But should we put this on hold till we use Travis ?

[2021-02-17 20:28] Rahulm2310 opened #176 "Bug: Add links to Code of Conduct, Terms & Privacy Policy in the Register UI"
**Describe the bug**
User can't go through the AnitaB.org's Code of Conduct, Terms & Privacy Policy during registering.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://localhost:3000/register
2. See error

**Expected behavior**
Add links to AnitaB.org's Code of Conduct, Terms & Privacy Policy in the Register UI or add a Modal to display  Code of Conduct, Terms & Privacy Policy.

[2021-02-17 20:29] Rahulm2310 commented on #176
@mtreacy002 Can you confirm/approve this issue ?

[2021-02-17 21:53] mtreacy002 commented on #174
Definitely, @Rahulm2310. In fact, we're moving to Github Actions, so once #170 approved and merged, you can work on this issue and add the linters as GitHub workflow 😉

[2021-02-18 00:50] mtreacy002 commented on #176
@Rahulm2310 , do you have specific links in mind for these Code of Conduct, Terms & Privacy Policy? I kept it blank during GSoC as it needs careful discussion on what to put as the contents and whether we need BIT own customised policies or adopt them from existing AnitaB policies.
But I agree, at some point we need to add contents to the policies. I'll put this as an Outreach/Research issue so we

[2021-02-18 01:44] #158 closed, assigned to jalajcodes

[2021-02-18 03:01] Rahulm2310 commented on #176
@mtreacy002  Yes, I agree. It is a sensitive topic. Let's have inputs from @admins as well as the community.

[2021-02-18 17:11] Rahulm2310 commented on #174
Sure. Thanks @mtreacy002  😉

[2021-02-18 17:34] Rahulm2310 opened #177 "Bug: text underline on the Login & Sign Up (blue) buttons"
**Describe the bug**
There is a text underline on the Login & Sign Up (blue) buttons.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://localhost:3000/login
2. See error

**Expected behavior**
Remove text underline from the login & sign up (blue) buttons

**Screenshots**
![image](https://user-images.githubusercontent.com/54268438/108396756-34d6dc80-723d-11eb-81de-38af5ed10ad2.png)

[2021-02-18 17:35] Rahulm2310 commented on #177
@mtreacy002 Please add `First Timers only` label. Thanks 🙂

[2021-02-18 22:18] mtreacy002 commented on #177
Thanks, @Rahulm2310 . Done.

[2021-02-19 06:05] sachinsom93 commented on #177
Can I work on this ?? @mtreacy002

[2021-02-19 06:09] Rahulm2310 commented on #177
@sachinsom93 Of course Yes! Just wait until you are assigned. 😉

[2021-02-19 06:20] sachinsom93 commented on #177
Thanks @Rahulm2310, also I would like to know on which branch all the PRs should me raised ?

[2021-02-19 06:28] Rahulm2310 commented on #177
@sachinsom93 All PRs are raised to merge with `develop` branch. Please create a separate branch for a PR. Never use `develop`(default) branch to create a PR. For more please have a look into contribution guidelines mentioned in readme.

[2021-02-19 07:07] mtreacy002 commented on #177
@sachinsom93 , welcome to BridgeInTech and thanks for picking up this issue. I'll assign you to this now 😉

[2021-02-20 06:16] shades-7 commented on #176
can I take up this issue ?

[2021-02-21 11:27] mtreacy002 commented on #176
@shades-7 , let's see if @Rahulm2310 wants to work on it. The contributor who opens the issue normally gets the first priority to be assigned. @Rahulm2310 , I think this issue is valid, do you want to work on it? If you are not currently working on an issue in this BIT web repo, I'll assign you to this.

[2021-02-21 11:27] Rahulm2310 commented on #176
@mtreacy002 Thanks. I would like to pick it up. 🙂

[2021-02-21 11:29] mtreacy002 commented on #176
Great. I'll assign you then.

[2021-02-23 06:12] vj-codes opened #178 "Doc: Delete .github/ISSUE_TEMPLATE folder"
### Description
As a org admin / maintainer,
I need to maintain 1 version of issue templates used in the organization,
so that I can avoid duplicating work and having different versions of the templates, when we want to use the same ones across all projects.

Because the issue templates are now on https://github.com/anitab-org/.github, we don't need to have issue templates present in the repositor

[2021-02-23 13:43] shruti1421 commented on #178
I can do this, can you please assign this to me?

[2021-02-23 16:04] haelmj commented on #177
Hi everyone, is there an update on this issue?

[2021-02-23 16:13] sachinsom93 commented on #177
Hi @haelmj, I am working on this issue.

[2021-02-23 18:15] stableapple opened #180 "Feat: Redirect logo to homepage"
**Is your feature request related to a problem? Please describe.**
Currently when a user clicks on the logo on the top left of the web UI, nothing happens.

**Describe the solution you'd like**
Add a link to the logo which redirects the user to homepage when clicked.

**Additional context**
![ezgif com-gif-maker (4)](https://user-images.githubusercontent.com/53488062/109408064-08912d80-79ac-11eb-9

[2021-02-24 08:35] mtreacy002 commented on #178
Sure, @shruti1421 . I'll assign you to this. Thanks for picking this issue up.

[2021-02-24 08:40] mtreacy002 commented on #33
@emmanuelhashy , any update on this?

[2021-02-24 09:15] #142 closed, assigned to nlok5923

[2021-02-24 11:01] mtreacy002 commented on #135
This issue is now closed due to the BIT redesign process workflow which requires any design proposal to be approved by the design team before it can be implemented.

[2021-02-24 11:01] #135 closed, assigned to nobody

[2021-02-24 11:12] mtreacy002 commented on #143
@nlok5923 and @jalajcodes , just want to let you know that BIT lead designer, Vuyanzi, has created the [BIT Design Metrics Guidelines doc](https://www.figma.com/file/V22SXBLzMd9bqnita6hfMp/Bridge_in_tech?node-id=0%3A1). Would this be sufficient to make the initial editorconfig file? The file can be modified later when new metrics are added. @nlok5923 , if the doc is suitable, let me know if you wa

[2021-02-24 11:17] nlok5923 commented on #143
@mtreacy002  Sure i would like to work on it.

[2021-02-25 03:13] mtreacy002 commented on #33
@jalajcodes , since there's no update from @emmanuelhashy, I'll make this issue available again. Let me know if you're still interested (that's if you're not currently working on other issues 😉).

[2021-02-25 06:12] untari commented on #180
may I work on this ?

[2021-02-25 08:00] emmanuelhashy commented on #33
No, I am not.

On Thu, 25 Feb 2021, 04:13 Maya Treacy, <notifications@github.com> wrote:

[2021-02-25 09:56] mtreacy002 commented on #33
@emmanuelhashy, can you give us an update on this then?

[2021-02-25 12:23] CIPHERTron opened #183 "Unnecessary Large Size For A Simple Checkbox"
**Describe the bug**
When we go to the **Register** section and Scroll down to the **checkbox** where we agree to the **Terms and Conditions** and **Privacy Policy** and if we inspect the checkbox element, we find the checkbox is wrapped inside a div whose dimensions is **(119 x 64)** which I think is not necessary.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'localhost:3000'
2. Cl

[2021-02-25 12:39] stableapple commented on #180
Hey @untari, I opened this issue for myself to work on, kindly take up another issue :)

[2021-02-25 12:56] untari commented on #180
ah, I see :D

[2021-02-25 13:47] stableapple commented on #177
Can I work on this issue?

[2021-02-25 14:05] 0xNilesh commented on #180
Hi @stableapple , thanks for showing your interest on the project. As per the [guideline,](https://github.com/anitab-org/bridge-in-tech-web/wiki/Getting-Started#choose-a-working-item) you should wait until a maintainer approves the issue and assign you to it. 😄

[2021-02-25 16:45] Rahulm2310 commented on #177
@stableapple It is already been assigned to @sachinsom93 . Please look for some other available issues. 🙂

[2021-02-26 20:23] Rahulm2310 commented on #168
Hi @drishtipeshwani . Can you please share your progress on this or if need some help please feel free to ask.

[2021-02-26 20:24] Rahulm2310 commented on #172
@mtreacy002 I think this should be closed.

[2021-02-26 20:27] Rahulm2310 commented on #183
@CIPHERTron Thanks for looking into it. As we are redesigning the whole website, this will be covered too. So, don't worry about this. 🙂

Cc: @mtreacy002

[2021-02-27 17:05] Rahulm2310 opened #186 "Feat: Migrating documentation from github wiki to docusaurus"
## Description

**Is your feature request related to a problem? Please describe.**
Current documentation is fine but with `docusaurus` , the documentation becomes more readable and maintainable.

**Describe the solution you'd like**
Moving the project's documentation to [docusaurus](https://v2.docusaurus.io).

**Additional context**
BIT backend has already migrated project documentation to docusau

[2021-02-27 23:58] mtreacy002 commented on #180
@stableapple , as per @VectoTec point out, next time please do wait for the issue to be approved and you to be assigned before submitting the PR. Thanks.

[2021-02-28 00:11] mtreacy002 commented on #172
@wajeehamushtaq , thank you for bringing this up. Unfortunately, I agree with @Rahulm2310 . Since we're redesigning the homepage, this issue might not be relevant on the new Homepage. Will close this issue now.

[2021-02-28 00:11] #172 closed, assigned to nobody

[2021-02-28 00:28] mtreacy002 commented on #183
@CIPHERTron , I agree with @Rahulm2310 . But thanks anyway for pointing this out 😉. Will close this issue now.

[2021-02-28 00:28] #183 closed, assigned to nobody

[2021-02-28 02:03] stableapple commented on #180
Extremely sorry for the mistake. I will wait for the issue to be assigned to me before making a PR in the near future.

[2021-02-28 03:18] CIPHERTron commented on #186
Heyy @mtreacy002 @Rahulm2310 I would like to work on this issue. Could you please assign it to me? Thank you! 😊

[2021-02-28 03:26] mtreacy002 commented on #186
@CIPHERTron , let's ask if @Rahulm2310 would like to work on this since he opens the issue, or if he's happy to pass it on for others to work on 😉.

[2021-02-28 03:30] CIPHERTron commented on #186
Sure thing @mtreacy002 😊

[2021-02-28 03:39] mtreacy002 commented on #180
@stableapple , please follow the issue template and give relevant information on each section description. [Here's](https://github.com/anitab-org/bridge-in-tech-web/issues/186#issue-817971789) a good example of an issue description using the Feature request template. So, the description you provide [above](https://github.com/anitab-org/bridge-in-tech-web/issues/180#issue-814714224) is suitable for

[2021-02-28 04:34] stableapple commented on #180
@mtreacy002 I have updated the issue description. Can you please review it.

[2021-02-28 08:28] #167 closed, assigned to arkumari2000

[2021-02-28 08:34] mtreacy002 commented on #166
@aakarshvats638 , can we please get an update on this issue? Were you able to solve the issue with your local setup? I didn't see your posting on Zulip requesting for help.

[2021-02-28 08:42] mtreacy002 commented on #168
I will re-label this issue as available as there's no response from the contributor.

[2021-02-28 09:18] aakarshvats638 commented on #166
Mam, I haven't done much due to my ongoing exams.

[2021-02-28 12:20] mtreacy002 commented on #166
That's ok @aakarshvats638, we only need to hear an update every 3-4 days, even if you need more time due to your exam. You can take your time and work on it again when your exam is finish. Please do let us know when you will be available again 😉.

[2021-02-28 12:22] aakarshvats638 commented on #166
OKAY, THANK YOU MAM

[2021-02-28 17:21] Rahulm2310 commented on #186
@mtreacy002 As i am already done with #179, I would like to pick it up. 🙂

[2021-02-28 19:34] Rahulm2310 commented on #177
@sachinsom93 Can you please share your progress on this or if facing any problem please ask for help.

[2021-03-01 00:02] mtreacy002 commented on #173
This issue is now closed as it is not possible to deploy bit web (non-static pages) to gh-pages (only for static pages) (see the post [here](https://github.com/anitab-org/bridge-in-tech-web/pull/170#issuecomment-787445887)).

[2021-03-01 02:14] aditmehta9 commented on #173
Sure

[2021-03-01 02:53] #180 closed, assigned to stableapple

[2021-03-01 08:59] sachinsom93 commented on #177
Hey hi @Rahulm2310, Thanks for asking, I have done the setup of this project locally, but I was committed to some other personal works, that's why I didn't raise PR for this issue, I'll soon raise a PR.
Sorry for inconvenience.

[2021-03-01 12:56] CIPHERTron commented on #168
Hey @mtreacy002 @Rahulm2310, can I take up this issue? Thank You! 😊

[2021-03-01 15:49] BALaka-18 commented on #168
Hi, @mtreacy002 @Rahulm2310 could I work on this Issue ? Thanks.

[2021-03-01 17:01] Rahulm2310 commented on #177
@sachinsom93 no worries. You can raise a PR whenever you get time, but try to give an update in 2-3 days.

[2021-03-01 20:24] Rahulm2310 commented on #168
@CIPHERTron @BALaka-18 I don't have the privilege to assign. Still I think as @CIPHERTron was the first to claim, he should be given first chance.

Cc: @mtreacy002

[2021-03-01 20:58] mtreacy002 commented on #168
@CIPHERTron , I'll assign you to this. Thanks for picking up the issue.

[2021-03-01 21:13] CIPHERTron commented on #168
Thanks for assigning it to me @mtreacy002

Btw it's 2:45 AM IST here. I'll start working in the morning 😊

And, @Rahulm2310 I'm facing slight difficulty in setting up the MS for BIT backend server. Could you please help me in doing the same? Thank you! 😊

[2021-03-02 17:26] Rahulm2310 commented on #168
@CIPHERTron Yeah sure! we all face it initially. Please feel free to post your queries on [zulip](https://anitab-org.zulipchat.com/#narrow/stream/237630-bridge-in-tech). The community is very helping. 😊

[2021-03-02 18:21] CIPHERTron commented on #168
Hey @BALaka-18 @Rahulm2310, due to some unexpected situation I won't be able to work on this issue. So, this issue is available. Kindly ask @mtreacy002 to assign it to you if you want to work on it!

[2021-03-02 22:02] isabelcosta commented on #186
@Rahulm2310 @mtreacy002
We (admins) have looked into assignments related to "more work needed", and we had this task planned for ambassadors that need more work done for getting ambassadors (1st edition) certificate. So I will assign this to @Frenzyritz13

Thank you for creating this issue @Rahulm2310 🙏🏾

[2021-03-03 01:02] mtreacy002 commented on #168
Thanks for letting us know, @CIPHERTron. @BALaka-18 , would you like to work on this now?

[2021-03-03 08:29] mtreacy002 commented on #173
Reopening the issue as the feature is actually possible with slight adjustment on Backend for CORS origin (allowing gh-page url). @aditmehta9 , reassigning you on this. cc @annabauza and @isabelcosta

[2021-03-03 10:40] aditmehta9 commented on #173
So, when will be the changes in the backend will be implemented? So, I can try again.

[2021-03-03 10:59] mtreacy002 commented on #173
@aditmehta9 , your work here will not depend on the backend adjustment. Instead, backend changes to CORS can only happen after you successfully deploy the frontend to gh-pages through this PR since only then we can get the gh-page URL to be placed on BIT backend as CORS source.
I only stated the need for the backend CORS modification to emphasise the reason we can re-open the issue which is, gh-pa

[2021-03-03 12:44] aditmehta9 commented on #173
Fixed the error here it is deployed: https://aditmehta9.github.io/bridge-in-tech-web/

[2021-03-03 19:42] Rahulm2310 opened #187 "Bug: 404 Page overlapping the Navbar"
**Describe the bug**
404 Error Page overlaps the navbar on small screen sizes.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any unavailable route for ex: http://localhost:3000/test
2. Shrink down the screen size to see error

**Expected behavior**
404 Error page should not overlap the navbar.

**Screenshots**
![bit-404](https://user-images.githubusercontent.com/54268438/109862560-96

[2021-03-03 19:43] Rahulm2310 commented on #187
@mtreacy002 Can you please confirm/approve this issue.

[2021-03-04 06:40] mtreacy002 commented on #187
@Rahulm2310 , thank for pointing this out. This seems like a valid issue, should we label it "First timers only" issue? This would involve an easy fix right?

[2021-03-04 06:55] Rahulm2310 commented on #187
@mtreacy002 yeah, it is a good first timers only issue.

[2021-03-04 07:59] b-thebest commented on #168
@mtreacy002 Can I work on this issue ?

[2021-03-04 10:12] nlok5923 opened #188 "Bug: register page allow user to be both mentor and mentee"
**Describe the bug**
Currently user can choose both option being a mentor as well as mentee.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Landing page
2. Click on register
3. Choose mentor and mentee option
4. See error

**Expected behavior**
User should be able to select only one option if user tries to select both then the previously selected one should be cleared.

**Screenshots*

[2021-03-04 11:28] mtreacy002 commented on #155
@Rahulm2310, I've rethink this over, and feel like we can just use the existing Portfolio template (component) for this purpose.
But we need to make sure that the url http://localhost:3000/members/portfolio/username is accessible through both `Members > username` and `My Space > Portfolio`

<img width="937" alt="Screen Shot 2021-03-04 at 10 14 31 pm" src="https://user-images.githubusercontent.com/

[2021-03-04 12:59] aditisingh2412 commented on #187
Can I work on this issue? And can you guide me a little bit to it?

[2021-03-04 14:15] fazer1929 commented on #188
I can fix this, can you please assign it to me?

[2021-03-04 14:21] decon-harsh commented on #188
Umm I don't seem a problem in this . A person can be both Mentor (is ready to mentor for Work A) and Mentee (needs mentoring on Work B ) . Clearify once with others

[2021-03-04 16:55] Rahulm2310 commented on #155
@mtreacy002 Thanks! I would like to pick it up. Please assign me 🙂

What should be shown in place of `Member's` when user visits `My Space > Portfolio` (user's own portfolio) ?

[2021-03-04 17:27] Rahulm2310 commented on #188
@nlok5923 I think this is expected behaviour and not a bug. A user can be both a mentor as well as mentee.
@mtreacy002 Can you please clearify

[2021-03-04 21:00] mtreacy002 commented on #188
@nlok5923 , @Rahulm2310, @decon-harsh and @fazer1929 . This is the expected behaviour when a user register. User can say they're able to be either mentor or mentee or both. This is also the expected behaviour on Mentorship System. I'm closing this issue now.

[2021-03-04 21:00] #188 closed, assigned to nobody

[2021-03-04 21:26] #176 closed, assigned to Rahulm2310

[2021-03-04 21:28] mtreacy002 commented on #155
It needs to show the name of the user, e.g. `Rahul's Portfolio`. Coz it doesn't matter if it's user's own or other's portfolio, we can display the name as the user name (no need for `My Portfolio`. This style is used on many websites (LinkedIn, Github, Facebook, etc)

[2021-03-04 22:20] mtreacy002 commented on #187
Sure, @aditisingh2412 , I'll assign you on this. Feel free to ask if you have question, here or on Zulip 😉.

[2021-03-04 22:23] mtreacy002 commented on #168
@b-thebest , since you're currently assigned to this [BIT backend issue](https://github.com/anitab-org/bridge-in-tech-backend/issues/94), perhaps you can focus on that and leave this for other contributors to work on 😉

[2021-03-05 03:15] b-thebest commented on #168
@mtreacy002 I am focusing on that issue also, but I found this task doable and this is for first timer hence I claimed. I always enjoy working on 2-3 tasks. Throughput of multitasking is always better in my case😅.

[2021-03-05 04:14] Rahulm2310 commented on #168
@b-thebest I think first timers only issues are for a person who has never contributed to the project. As you are already assigned an issue on project's backend, you are no more a first timer.

[2021-03-05 04:16] b-thebest commented on #168
@Rahulm2310 Oh sorry, I think we have to be first timer in repository. Okay, I will work on the assigned issue first. Thanks

[2021-03-05 04:33] Rahulm2310 commented on #155
@mtreacy002 agreed. Thanks for clarifying 😊

[2021-03-05 17:21] Rahulm2310 commented on #155
@mtreacy002 I see two components namely `MemberPortfolio.jsx` and `Portfolio.jsx` with same content. Which component is to be used here?

[2021-03-05 19:29] BALaka-18 commented on #168
@mtreacy002 @Rahulm2310 is it still available now ?

[2021-03-05 20:01] Rahulm2310 commented on #168
@BALaka-18 Yes it is. Do you want to work on this ?

[2021-03-05 20:06] BALaka-18 commented on #168
@Rahulm2310 yes sure.

[2021-03-05 21:14] mtreacy002 commented on #155
@Rahulm2310 , in that case you can direct the call from 'Members' to 'MemberPortfolio' and the one from 'My Space' to 'Portfolio'. Remember to give relevant buttons/links on this templates for the next actions, e.g. :
* a button for Organization Representative to send request for them to work on a program (only enabled to a user with Organization) on 'MemberPortfolio'
* a button to go to the 'Prof

[2021-03-06 01:08] #178 closed, assigned to shruti1421

[2021-03-06 01:11] mtreacy002 commented on #166
@aakarshvats638, have you finiished with the exam? Can you please let us know when you  would likely be available again to continue working on this issue? Thanks

[2021-03-06 01:13] mtreacy002 commented on #177
@sachinsom93 , can you please give us an update on this?

[2021-03-06 01:14] mtreacy002 commented on #186
@Frenzyritz13 , can you please give us an update on this?

[2021-03-06 02:37] Frenzyritz13 commented on #186
Sure. I have got docusaurus running in the cloned repo, I am working on structuring the information in it.

[2021-03-06 16:53] sachinsom93 commented on #177
@mtreacy002 @Rahulm2310, I am facing a error while starting the react app.
The error looks like this
![](https://github.com/sachinsom93/temp/blob/master/error.jpg?raw=true)
Could you please help me how to overcome this ?

[2021-03-06 17:07] chinmaym07 commented on #177
Hey @sachinsom93 !!
Can you please share a screenshot of the error you are facing . It will then be easier to debug .

[2021-03-06 17:13] Rahulm2310 commented on #177
@sachinsom93 Seems that you missed adding the error screenshot. Also, its better to not clutter up the messages here and discuss it on zulip.

[2021-03-06 17:42] sachinsom93 commented on #177
I thought i have added the screenshot.

[2021-03-06 18:03] Rahulm2310 commented on #155
@mtreacy002 Should a user be allowed to view another user's personal details ?
Also, should the button `Go to Profile` page go to `http://localhost:3000/members/profile/username` on both the pages (MemberPortfolio and Portfolio) as we don't have a `/profile` route for logged in user

How can I check if a user is a org representative ? By fetching `/organization` endpoint ?

[2021-03-06 19:07] chinmaym07 commented on #177
Please do check package.json file for any extra spaces or any missing commas. If the error still persists.
Try removing node_modules folder & then again running `npm install` & then check whether this error still persist or not.

[2021-03-07 01:57] mtreacy002 commented on #155
@Rahulm2310, The BridgeInTech Admin user can see user's personal information, but for other users, only those who are an organization representative can. This is because they might need to contact potential mentor/mentee /via email/phone, check out the organization that user is working at, check the personal background of that user if they have a program targeting specific background, etc. Normal

[2021-03-07 03:23] sachinsom93 commented on #177
Thanks @chinmaym07 , error resolved.

[2021-03-07 17:30] aakarshvats638 commented on #166
Mam I'll continue working on this from tomorrow, as tomorrow is my last exam

[2021-03-07 21:00] mtreacy002 commented on #166
Thanks for letting me know, @aakarshvats638 . Look forward to your work on this 😉

[2021-03-08 15:34] Frenzyritz13 commented on #186
Update on this: There are some errors while starting the server for testing. Working on that.

[2021-03-08 19:00] Rahulm2310 commented on #186
@Frenzyritz13 Great! please ping if you need any sort of help. 🙂

[2021-03-08 19:02] Rahulm2310 commented on #168
@BALaka-18 Can we get updates on the progress. Please ask if you need any sort of help regarding this.

[2021-03-08 19:19] Frenzyritz13 commented on #186
Sure will do. I will post on zulip and tag you if I can't figure it by tomorrow evening. Thank you!

[2021-03-08 19:33] BALaka-18 commented on #168
Yes, I will send in the PR by today.

On Tue, Mar 9, 2021 at 12:33 AM Rahul Mohata <notifications@github.com>
wrote:

--
Balaka Biswas
Data Scientist, ZXservices

balaka2605@gmail.com | +91 9674975530 | Twitter : @biswas_balaka

[2021-03-08 19:35] Rahulm2310 commented on #155
to user's personal details
    to user's additional information
    to user's personal background

@mtreacy002 In case when a logged in user visits their profile,  We can show buttons on the Profile page for going to `Personal Details`, `Additonal Information` and `Personal Background` . But what happens when a visitor (not a org representative) visits a user's profile. As we can't show personal d

[2021-03-09 01:35] mtreacy002 commented on #155
The logic for the button "Go to Portfolio" on the MemberPortfolio page should check the user identity and role:
* if user not representing the organization and not the owner of the personal data, disable the button
* regardless of whether the user is organization representative or not, if they are the owner of the personal data, enable the button
* if that user is an organization representative bu

[2021-03-09 03:01] rkraeher commented on #33
@mtreacy002 Since this is available again, is this issue something doable for a first time contributor? There are currently no unassigned "first timer" issues available.

[2021-03-09 03:13] mtreacy002 commented on #33
@rkraeher, this issue might be a bit complicated for a first-timer. But if you have some experience in the tech stack and confident you can work on it, I can assign you to this. For their first contribution to the project, a contributor doesn't have to limit themselves to a `First-timers only` issue. That label is there to make sure that the issue is not too challenging for new contributors who mi

[2021-03-09 03:30] nlok5923 opened #191 "Bug: remove warnings from app compilation"
@mtreacy002 currently there are few warnings show up while compiling app and needed to be removed.

![image](https://user-images.githubusercontent.com/56120084/110414401-cce61a00-80b5-11eb-9c02-6885a1edb48a.png)

I think this can be a good first issue.

[2021-03-09 03:34] #191 closed, assigned to nobody

[2021-03-09 03:36] nlok5923 opened #192 "Bug: remove warnings from app compilation"
### Describe the bug
@mtreacy002 currently there are few warnings show up while compiling app and needed to be removed.

### To Reproduce
Steps to reproduce the behavior:
1 npm install ( make sure you are in correct directory)
2 npm start

### Expected behavior
No warnings at compilation time

### Screenshots
![image](https://user-images.githubusercontent.com/56120084/110414780-98bf2900-80b6-11eb-

[2021-03-09 03:40] nlok5923 opened #193 "Bug: Navbar elements has underline"
### Describe the bug

Currently all the elements in navbar has underline

### To Reproduce
Steps to reproduce the behavior:
1. Go to BIT landing page
2. See issue

### Expected behavior
Navbar elements should not be underlined.

### Screenshots

![image](https://user-images.githubusercontent.com/56120084/110415087-403c5b80-80b7-11eb-9a39-61564e27fc07.png)

### Desktop (please complete the followin

[2021-03-09 05:27] rkraeher commented on #33
ok thank you. I have experience with React and jest. I looked at the Login.test file and briefly at the React Testing Library docs and I believe I can do it but I was wondering if I can get some clarification on the user story?

Right now there is one test for a successful login testing that an error message doesn't show up (lines 29-46 in Login.test). Am I on the right track to begin something li

[2021-03-09 06:07] mtreacy002 commented on #33
You're on the right target, @rkraeher . Would you like me to assign you to this?

[2021-03-09 09:13] Rahulm2310 commented on #193
@nlok5923 As we are redesigning the navbar, this issue will be addressed. So no need for this.

Cc: @mtreacy002

[2021-03-09 09:14] #193 closed, assigned to nobody

[2021-03-09 09:15] Rahulm2310 commented on #187
@aditisingh2412 Can you please share updates on your progress.

[2021-03-09 10:01] aditisingh2412 commented on #187
Not able to setup. Kindly unassign me for now :)