[2021-03-09 11:00] mtreacy002 opened #194 "Dev: Update react-scripts dependency to remove high severity vulnerabilities"
### Is your feature request related to a problem? Please describe.
The current react-scripts dependency (v3.4.3) is causing 2 high severity warnings

### Describe the solution you'd like
Update react-scripts dependency from 3.4.3 to 4.0.3. Note: this install involves potential breaking changes.
While on it, fix other vulnerability warnings as well.

### Describe alternatives you've considered
Igno

[2021-03-09 11:24] pratik9333 commented on #187
Can I fix this issue?

[2021-03-09 11:43] mtreacy002 commented on #187
Thanks, @aditisingh2412 for letting us know. Unassigning you for now. Please don't hesitate to post your question on zulip  bridge-in-tech stream for help.
@pratik9333 , assigning you now.

[2021-03-09 11:50] Rahulm2310 commented on #155
@mtreacy002  Sure, for now we don't need a seperate context for organization. Will save the org data in the existing `AuthContext`. Thus no need to make fetch calls for it again. 👍

One more thing is that, we have routes `/personal-details` , `/additional-information`, and `/personal-background` for logged in user visiting their details. When a org representative visits user's personal-details the

[2021-03-09 17:30] rkraeher commented on #33
great! yes can you please assign it to me? thanks!

[2021-03-09 21:55] mtreacy002 commented on #155
@Rahulm2310 the logic above totally make sense 👍 . Please do go ahead with it.

[2021-03-10 00:55] mtreacy002 commented on #192
I agree, this seems like a good first-timers issue. Thanks for picking this up, @nlok5923 😉

[2021-03-10 01:03] mtreacy002 opened #195 "Test: Remove warnings when running npm test"
### Describe the bug
On the existing code, although the `npm test` runs successfully (all 3 tests passed), there are warnings shown on Register.test.js and PersonalDetails.test.js.

### To Reproduce
Steps to reproduce the behavior:
1. run `npm test`
2. see errors

### Expected behavior
Tests should run without errors

### Screenshots
Here's the [gist](https://gist.github.com/mtreacy002/cf7ea68c069

[2021-03-10 05:17] HeroicHitesh commented on #195
@mtreacy002 I would like to work on this

[2021-03-10 07:43] pratik9333 commented on #187
Thankyou mam

[2021-03-10 18:44] Rahulm2310 commented on #155
@mtreacy002 As we send access_token to the backend to fetch personal-details, additional-information, personal background, we can only get logged in user's details. I think we don't have routes setup in the backend for a representative requesting a user's additional-information, personal background. Do we ?

[2021-03-10 18:51] rkraeher commented on #33
If I'm having some trouble setting up the environment should I ask you here or get some help in Zulip?

[2021-03-10 20:56] mtreacy002 commented on #155
@Rahulm2310 , yes, the request to additional info and personal background should be made to BIT endpoint 😉. Only the personal details need to be sent to MS backend.

[2021-03-10 21:13] mtreacy002 commented on #33
Done, I've assigned you on this @rkraeher . Yep, if you are facing trouble setting up, please reach out to us. Zulip will be a better option for trouble related to setting up, since you'll reach a wider audience compared to here on GitHub. Others who might have experienced the same issue can suggest a solution based on their experience. The post will also be helpful to other contributors that also

[2021-03-11 07:54] stableapple commented on #192
Can I work on this issue?

[2021-03-11 10:08] mtreacy002 commented on #192
Sure, @stableapple , I'll assign you to this. Thanks for picking up the issue 😉.

[2021-03-11 17:17] Rahulm2310 commented on #155
@mtreacy002  I meant that currently we can request personal-details, additional-information, personal-background for current user (using access_token). How can someone else (an org representative) another user's personal-details, additional-information, personal-background.
![BIt-endpoint](https://user-images.githubusercontent.com/54268438/110827576-3899d400-82bc-11eb-81a3-06424063a9c2.JPG)

Don't

[2021-03-12 10:04] mtreacy002 commented on #155
I see your point now, @Rahulm2310. Yes, agree. We should create endpoints for that just as you stated above. Can you please open 2 separate issues on those endpoints? I Really appreciate you brought this up.

[2021-03-12 13:01] Rahulm2310 commented on #155
@mtreacy002 Sure, will do that 👍

[2021-03-12 17:21] Rahulm2310 commented on #155
@mtreacy002 Should we put this on hold until the endpoints gets created at backend.

[2021-03-12 20:57] mtreacy002 commented on #155
Ok. Will do that 😉

[2021-03-13 02:35] mtreacy002 commented on #166
@aakarshvats638 , can we please get an update on this?

[2021-03-13 02:38] mtreacy002 commented on #168
@BALaka-18 , can we please get an update on this?

[2021-03-13 02:56] mtreacy002 commented on #186
@Frenzyritz13 , can you please update us on this?

[2021-03-13 02:57] mtreacy002 commented on #187
@pratik9333 , can you please give us an update on this?

[2021-03-13 03:04] mtreacy002 commented on #195
Sure, @HeroicHitesh . Assigning you now.

[2021-03-13 09:50] dcs-soni commented on #187
Hii, If the issue is still not solved I would like to work on this issue.

[2021-03-13 09:58] pratik9333 commented on #187
sorry mam couldn't able to do it due to time issue, you can assign it to someone else sorry mam

[2021-03-13 13:06] mtreacy002 commented on #187
That's Ok, @pratik9333 . Thank you for letting us now 😉. @dcs-soni, I've just assigned you to backend issue [# 213](https://github.com/anitab-org/bridge-in-tech-backend/issues/213), you can focus working on that one first. Once you've submit a PR on that one, you can look for another available issue while waiting for that PR to be reviewed.

[2021-03-13 13:46] sanjay270899 commented on #187
@mtreacy002 I would Like to working on this issue. I am pretty sure that I will be able to solve this issue.

[2021-03-13 13:50] mtreacy002 commented on #187
Sure, @sanjay270899 , will assign you to this. Thanks for picking up the issue 😉

[2021-03-14 06:13] Frenzyritz13 commented on #186
Almost done. Should create a pull request in a couple of days.

[2021-03-17 17:56] Sanika1999 opened #198 "Doc: Add number of forks badge to README"
## Description
As a developer,
I need to see a badge showing the number of forks for the repo.
Example: See badges in the readme for mentorship android  (https://github.com/anitab-org/mentorship-android)

## Acceptance Criteria
### Update [Required]
- [ ] Add number of forks badge to README
### Enhancement to Update [Optional]
NA

## Definition of Done
- [ ] All of the required items are completed

[2021-03-17 18:16] Rahulm2310 commented on #198
@Sanika1999 I think this is redundant as we already have a fork button on the top right corner of the github repo landing page.

![image](https://user-images.githubusercontent.com/54268438/111517407-0afcd100-877b-11eb-8520-7822be887e42.png)

[2021-03-17 18:21] Sanika1999 commented on #198
Yes you are right but mentorship android and Anitab website repos have those badges and it would be a nice issue for first timers or beginners to start contributing.

[2021-03-17 18:22] Rahulm2310 commented on #168
Unassigning @BALaka-18 due to no updates (as per the contribution guidelines). This issue will now be available for OSH aspirants on 1st April.

[2021-03-17 18:25] Rahulm2310 commented on #166
Unassigning @aakarshvats638 due to inactivity for more than a month. This will be available for OSH aspirants from 1st April.

[2021-03-17 18:36] Rahulm2310 commented on #198
@Sanika1999 agreed but it's presence in mentorship android and anitab-org.github.io doesn't mean it isn't redundant. We should not create vague issues just for the sake.

[2021-03-17 18:52] Rahulm2310 opened #199 "Bug: Members list not scrollable on smaller screen sizes"
### Describe the bug
Members list under `/members` is not scrollable on smaller screen sizes.

### To Reproduce
Steps to reproduce the behavior:
1. Go to http://localhost:3000/members
2. Shrink down your browser width.
4. See error

### Expected behavior
Ideally, the list should be horizontally scrollable.

### Screenshots
![bit-members-list](https://user-images.githubusercontent.com/54268438/1115

[2021-03-18 01:22] mtreacy002 commented on #198
@Sanika1999 , I agree with @Rahulm2310 , it's best to avoid introducing redundancy to the repo. Perhaps you can suggest this as well on the other projects? So, I'll close this issue now. Feel free to continue the discussion though, I'll open to hear strong argument to why it is needed and willing to open the issue again if there is a valid reason for it 😉

[2021-03-18 01:26] #198 closed, assigned to nobody

[2021-03-18 02:08] prykdev commented on #199
I'd like to work on this if it is available. : )

[2021-03-18 03:32] HeroicHitesh commented on #199
@P-riyanka-prasad we will be assigning all issues labelled `Open Source Hack` on and/or after 1st April when Open Source Hack starts (as per the [announcement](https://anitab-org.zulipchat.com/#narrow/stream/213491-announcements/topic/Open.20Source.20Hack/near/230741560) on Zulip). Till then you can set up the project in your machine and if you have any doubts please ask by tagging @anitab-org/mai

[2021-03-18 05:19] Amulya-coder commented on #195
@HeroicHitesh this issue is good for `Open Source hack` can we give chance to other contributors to work on this during OSH, what you think?

[2021-03-18 05:21] HeroicHitesh commented on #195
@Amulya-coder Sure

[2021-03-18 06:48] Amulya-coder commented on #194
@mtreacy002 I have added the `Open source hack `  label for the OSH aspirants

[2021-03-18 06:58] Sanika1999 commented on #198
@mtreacy002  sorry for that. Will make sure to check with you guys before opening issues. Iam still learning 😁

[2021-03-18 09:48] mtreacy002 commented on #198
No worries, @Sanika1999 . That's part of the beauty of open source. We'll be continuously learning new things throughout our open source journey 😉. I am still learning a lot coming to AnitaB Open Source and community 😁🥰.

[2021-03-18 17:46] Rahulm2310 opened #200 "clean: Remove redundant GETTING_STARTED.md file under the .github folder"
### Describe the bug
We havea [Getting_Started.md](https://github.com/anitab-org/bridge-in-tech-web/wiki/Getting-Started) file under the project's GitHub wiki. But there is another Getting_Started.md file under the .github folder which is redundancy.

### To Reproduce
Steps to reproduce the behavior:
1. Go [here](https://github.com/anitab-org/bridge-in-tech-web/blob/develop/.github/GETTING_STARTED

[2021-03-18 17:57] Amulya-coder commented on #86
This issue is available for the Open Source hack whoever claims this issue `first` on 1st April get assigned to it be ready for the hack :)

[2021-03-18 22:11] mtreacy002 commented on #200
@Rahulm2310 , this is not a redundant file. The .md files under .github folder are meant to give access to contributors to the content of wiki pages so they can contribute to them (modifying/adding new one) from there (since only maintainers have write access to wiki pages. Our aim is to remove all the static pages under wiki and get the content for that page by referring to the .md files. What we

[2021-03-19 06:20] Rahulm2310 commented on #200
@mtreacy002  Sure 😊. Will help in opening the documentation issues. Closing this.

[2021-03-19 06:20] #200 closed, assigned to nobody

[2021-03-19 23:24] mtreacy002 commented on #33
@rkraeher , any update on this issue?

[2021-03-19 23:30] mtreacy002 commented on #186
@Frenzyritz13 , any updates on the PR?

[2021-03-20 01:22] rkraeher commented on #33
Sorry for the delayed response. I wrote some of this on Zulip but with your help I managed to get the app running in the browser but there is now another missing module error that I need to figure out so I'm still working on getting my environment set up.

[2021-03-20 02:51] mtreacy002 commented on #33
may I know what's the other missing module, @rkraeher ?

[2021-03-20 03:03] rkraeher commented on #33
missing module: psycopg2._psycopg

[2021-03-20 03:42] mtreacy002 commented on #33
@rkraeher perhaps try installing psycopg2 separately (after the initial dependencies install through requirements.txt) as suggested by @vj-codes [here](https://anitab-org.zulipchat.com/#narrow/stream/237630-bridge-in-tech/topic/Dev.20Env.20Setup/near/211793674) (point 2). Let me know if it works.

[2021-03-24 14:41] Amulya-coder opened #201 "Docs: Add badges to docusauras Home.md"
### Is your feature request related to a problem? Please describe.

Add badges to the docusauras home.md

### Describe the solution you'd like

![image](https://user-images.githubusercontent.com/66437295/112351754-2b370d80-8cf0-11eb-8b21-ca3bf542673e.png)

### Additional context

None

[2021-03-24 16:44] Rahulm2310 commented on #201
@Amulya-coder Please remove the `fork` and `star` label from the screenshot as there is no need for them. Also, there is a `zulip` label already. Please remove that as well.

[2021-03-24 18:08] Rahulm2310 commented on #186
@mtreacy002 Should we make this available again as there are no updates from @Frenzyritz13 ?

[2021-03-24 18:14] Frenzyritz13 commented on #186
Apologies for the delay. Still working through the errors. Should be done by Friday.

[2021-03-24 18:36] Rahulm2310 opened #202 "Bug: validation alert not shown when user enters spaces as input in name and password fields"
### Describe the bug

Input validation alert not shown when user enters space as input in name and password fields

### To Reproduce
Steps to reproduce the behavior:
1. Go to http://localhost:3000/register
2. Enter a number of spaces in name and password fields
3. See error

### Expected behavior

Validation alerts should be shown in case user enters spaces as input in name and password fields.

#

[2021-03-24 18:37] Rahulm2310 commented on #202
@mtreacy002 Can you please confirm this issue? Thanks 🙂

[2021-03-24 19:26] Rahulm2310 opened #203 "Add project description in description meta tag in index.html"
### Is your feature request related to a problem? Please describe.

Currently we have a description meta tag but the content doesn't contains the project description.
![image](https://user-images.githubusercontent.com/54268438/112371511-b02c2200-8d04-11eb-9df5-527af607ed01.png)

### Describe the solution you'd like

Adding content to description meta tag in index.html.

### Describe alternatives y

[2021-03-25 02:51] mtreacy002 commented on #201
I don't think we need "Maintained" and "PRs" tags either, @Amulya-coder. Plus, the License already shown on Github UI, so please remove that as it is redundant.

Saying that, I don't mind seeing all the GitHub UI tags + README tags being included in the docusaurus Home.md since we won't be able to see the GitHub UI tags there.
PS: @Rahulm2310 , while we're on the docusaurus topic, is it possible t

[2021-03-26 17:17] Rahulm2310 opened #204 "Docs: Add link to zulip stream in CONTRIBUTING.md"
### Describe the bug

The link to project's zulip stream is missing in CONTRIBUTING.md.

### To Reproduce
Steps to reproduce the behavior:
1. Go to [contributing.md](https://github.com/anitab-org/bridge-in-tech-web/blob/develop/.github/CONTRIBUTING.md)
2. See error

### Expected behavior

Add link to zulip stream in CONTRIBUTING.md

### Screenshots

![bit-cont](https://user-images.githubuserconten

[2021-03-26 17:51] Rahulm2310 commented on #201
@mtreacy002 Unable to get your point. Can you be more clear

[2021-03-26 22:05] mtreacy002 commented on #201
@Rahulm2310, at the moment we have a copy of Home.md in the `docusaurus` docs folder (along with other .md files as well).
<img width="467" alt="Screen Shot 2021-03-27 at 8 50 51 am" src="https://user-images.githubusercontent.com/29667122/112696240-8c6e0500-8ed9-11eb-8dd3-2fe7ccb9db20.png">

The issue with this, if the content in wiki page is modified, the changes will not be automatically detecte

[2021-03-28 00:24] mtreacy002 opened #205 "Doc: Add all-contributors bot configuration"
## Description
As a maintainer,
I need to configure [all-contributors](https://allcontributors.org) bot,
so that I can better recognize contributors and leaders of this project.

https://allcontributors.org/docs/en/bot/configuration

## Acceptance Criteria
### Update [Required]
- [ ] Add configuration to project https://allcontributors.org/docs/en/bot/configuration
- [ ] Add first contributors to

[2021-03-28 01:09] mtreacy002 commented on #205
@all-contributors, please add @mtreacy002 for maintenance

[2021-03-28 04:02] codesankalp commented on #186
@Frenzyritz13 try to make the PR compatible to deployment on github pages.
reference: https://github.com/anitab-org/mentorship-backend/commit/4cc78ae

[2021-03-28 05:06] mtreacy002 opened #207 "UI: Develop Homepage - Top image section"
## Description
As a maintainer,
I need to see BIT pages redesigned,
so that they meet the AnitaB Org guidelines.

## Mocks
Approved design idea for Top image section (Designer Nilesh)
<img width="738" alt="Screen Shot 2021-03-28 at 3 58 07 pm" src="https://user-images.githubusercontent.com/29667122/112742894-6ed69380-8fde-11eb-988a-a8486a0b5125.png">

## Acceptance Criteria
### Update [Required]
-

[2021-03-28 05:08] mtreacy002 commented on #207
@VectoTec , is this your design idea? Do you want to work on this issue? The designer get the first priority to work on the implementation of their design. You can also open this for other contributors to work on. Let me know what you feel like doing 😉.

[2021-03-28 05:52] mtreacy002 opened #208 "UI: Develop Top Navigation"
## Description
As a maintainer,
I need to see BIT pages redesigned,
so that they meet the AnitaB Org guidelines.

## Mocks
Approved design idea for Top Navigation section (Designer Nilesh)
<img width="741" alt="Screen Shot 2021-03-28 at 3 40 19 pm" src="https://user-images.githubusercontent.com/29667122/112743764-dfcd7980-8fe5-11eb-9cec-50ae56dad5a1.png">

## Acceptance Criteria
### Update [Requir

[2021-03-28 05:54] mtreacy002 commented on #208
@VectoTec , the same applies here. Let me know if you'd like to work on this as you have the 1st right to claim being the designer of the section. If you are happy to let others work on this, I'll relabel as `Available`

[2021-03-28 05:59] mtreacy002 opened #209 "UI: Develop Homepage - Why BridgeInTech section"
## Description
As a maintainer,
I need to see BIT pages redesigned,
so that they meet the AnitaB Org guidelines.

## Mocks
Approved design idea for  section (Designer Gloria Osoro)
<img width="738" alt="Screen Shot 2021-03-28 at 4 55 32 pm" src="https://user-images.githubusercontent.com/29667122/112743882-d7297300-8fe6-11eb-99da-a5db94fc8760.png">

## Acceptance Criteria
### Update [Required]
- [

[2021-03-28 06:01] mtreacy002 commented on #209
@anitab-org/osh , Gloria Osoro as the designer has the 1st right to claim the issue, but I cannot find her github ID. Will ping her on Zulip and see if she likes to work on this. If she's happy for other for other contributors to claim this, we'll relabel this as `Available`.

[2021-03-28 06:06] mtreacy002 opened #210 "UI: Develop Homepage - Video section"
## Description
As a maintainer,
I need to see BIT pages redesigned,
so that they meet the AnitaB Org guidelines.

## Mocks
Approved design idea for Video section (Designer Gloria Osoro)
<img width="736" alt="Screen Shot 2021-03-28 at 5 04 14 pm" src="https://user-images.githubusercontent.com/29667122/112743975-c3cad780-8fe7-11eb-83c1-c3d1ce0705dc.png">

## Acceptance Criteria
### Update [Required]

[2021-03-28 06:07] mtreacy002 commented on #210
@anitab-org/osh , the same applies here. Will check with Gloria Osoro first on zulip to see if she'd like to work on the issue.

[2021-03-28 06:12] mtreacy002 opened #211 "UI: Develop Homepage - Benefits section"
## Description
As a maintainer,
I need to see BIT pages redesigned,
so that they meet the AnitaB Org guidelines.

## Mocks
Approved design idea for `Benefits` section (Designer Vuyanzi Glorious)
<img width="632" alt="Screen Shot 2021-03-28 at 5 08 33 pm" src="https://user-images.githubusercontent.com/29667122/112744060-5ec3b180-8fe8-11eb-9a46-47fd6103a003.png">

## Acceptance Criteria
### Update [

[2021-03-28 06:14] mtreacy002 commented on #211
@anitab-org/osh , Vuyanzi Glorious has the first right on claiming the issue. As I don't know her Github ID, I'll ping her on zulip to check if she'd like to work on this. If she's happy for other contributors to work on this, we can relabel this as `Available`.

[2021-03-28 06:19] mtreacy002 opened #212 "UI: Develop Homepage - Read about us section"
## Description
As a maintainer,
I need to see BIT pages redesigned,
so that they meet the AnitaB Org guidelines.

## Mocks
Approved design idea for `Read about us` section (Designer Vuyanzi Glorious)
<img width="630" alt="Screen Shot 2021-03-28 at 5 17 51 pm" src="https://user-images.githubusercontent.com/29667122/112744199-a0089100-8fe9-11eb-8520-d4632dc4e6e5.png">

## Acceptance Criteria
### Upd

[2021-03-28 06:20] mtreacy002 commented on #212
@anitab-org/osh , same applies here. Will ping Vuyanzi Glorious first on zulip to see if she'd like to work on this or happy for others to work on it.

[2021-03-28 06:22] mtreacy002 opened #213 "UI: Develop Homepage - FAQ section"
## Description
As a maintainer,
I need to see BIT pages redesigned,
so that they meet the AnitaB Org guidelines.

## Mocks
Approved design idea for `FAQ` section (Designer Vuyanzi Glorious)
<img width="630" alt="Screen Shot 2021-03-28 at 5 21 16 pm" src="https://user-images.githubusercontent.com/29667122/112744260-20c78d00-8fea-11eb-88ae-316dff4468d5.png">

## Acceptance Criteria
### Update [Requi

[2021-03-28 06:23] mtreacy002 commented on #213
@anitab-org/osh , same applies here. Will check Vuyanzi Glorious first on zulip to check if she'd like to work on this issue or happy if others pick up the issue.

[2021-03-28 06:27] mtreacy002 opened #214 "UI: Develop Homepage - Get In Touch section"
## Description
As a maintainer,
I need to see BIT pages redesigned,
so that they meet the AnitaB Org guidelines.

## Mocks
Approved design idea for `Get in touch form` section (Designer Rahul Mohata)
<img width="630" alt="Screen Shot 2021-03-28 at 5 23 59 pm" src="https://user-images.githubusercontent.com/29667122/112744285-769c3500-8fea-11eb-84f3-54dbd7109cc9.png">

## Acceptance Criteria
### Upd

[2021-03-28 06:30] mtreacy002 commented on #214
@Rahulm2310 , would you like to work on this issue? You can remove the OSH label if you'd like to work on it as you are the OSH mentor 😁. But this is afterall your design idea, so you have the right to claim it first 😉. If you are happy for other contributors to work on this, feel free to relabel it as `Available` and keep the 'Open Source Hack` label on.

[2021-03-28 06:35] mtreacy002 opened #215 "UI: Develop Homepage - Footer section"
## Description
As a maintainer,
I need to see BIT pages redesigned,
so that they meet the AnitaB Org guidelines.

## Mocks
Approved design idea for `Footer` section (Designer Vuyanzi Glorious)
<img width="632" alt="Screen Shot 2021-03-28 at 5 34 29 pm" src="https://user-images.githubusercontent.com/29667122/112744454-ebbc3a00-8feb-11eb-9867-aa8d406e5234.png">

## Acceptance Criteria
### Update [Re

[2021-03-28 06:37] mtreacy002 commented on #215
@anitab-org/osh , same applies here. Will check with Vuyanzi Glorious first on zulip if she'd like to work on this or if she's happy for other contributor to claim this.

[2021-03-28 07:20] mtreacy002 commented on #209
@GloriaOsoro, would you like to take up this issue?

[2021-03-28 08:25] Rahulm2310 commented on #214
@mtreacy002 I would be more than happy to give  other contributors a chance 😊

[2021-03-28 10:45] GloriaOsoro commented on #209
I would love to

[2021-03-28 10:52] GloriaOsoro commented on #210
I would love to work on this too

[2021-03-28 10:56] mtreacy002 commented on #210
Ok, @GloriaOsoro will assign you on the 1st April for OSH. Thank you 🥰

[2021-03-28 16:54] Rahulm2310 opened #216 "Research: Using gh-pages as remote frontend"
### Is your feature request related to a problem? Please describe.

We need to deploy our frontend to a hosting service (ideally free)

### Describe the solution you'd like

Research about hosting the project (frontend) on `gh-pages` (discuss possibility, benefits/disadvantages, and potential issues).

### Describe alternatives you've considered

NA

### Additional context

NA

[2021-03-28 17:02] Rahulm2310 opened #217 "Research: Refactor useState() hooks to useReducer()"
### Is your feature request related to a problem? Please describe.

Currently we have a lot of separate useState() hooks in each component which makes them less maintainable. The idea is to refactor all the useState() hooks to a useReducer() hook.

### Describe the solution you'd like

Research about it. Discuss benefits/disadvantages, and if to be implemented, when is the best timing for refactor

[2021-03-28 17:21] naveen8801 commented on #215
Hi @mtreacy002  , i wanna work on this issue , can you assign it to me :-)

[2021-03-28 17:28] Rahulm2310 commented on #215
@naveen8801 Thanks for showing interest. As this issue is labelled `Open-Source-Hack` (our month long open source event), this issue will be available on/after 1st April when the event commences. Good Luck 😊

[2021-03-28 17:46] naveen8801 commented on #215
Thanks @Rahulm2310  for informing :-)

[2021-03-28 21:01] mtreacy002 commented on #209
Ok, I'll assign you to this, @GloriaOsoro (when OSH starts)

[2021-03-29 12:45] naveen8801 commented on #204
Hi , @Rahulm2310  , i am very excited for upcoming event 'open source hack' and have a query ,  assignment for the issue having tag ' Open Source Hack ' will begin from 1st April or we can ask for assigns at any time , even now ?

[2021-03-29 13:38] Amulya-coder commented on #204
@naveen8801 anyone who claims the issue first on 1st April can get assigned to `Open Source Hack` issues, you have to make the first comment on April for assigning to this issue.  All the best 😉.

[2021-03-29 21:36] mtreacy002 opened #218 "Task: Set up local environment"
## Description
As a contributor
I need to set up local environment for bridge-in-tech-web and send screenshots,
so that I can provide proof of the same.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] Set up local environment
- [ ] Provide a **gif** of a successful login attempt that must show the change on main navbar before and after login.

      **Before login**
<img width="12

[2021-03-30 16:43] Rahulm2310 commented on #218
@mtreacy002 I don't think this should be a proof of setup as anyone can mess up with HTML and CSS from the developer console and take a screenshot. We need a GIF where user inputs his credentials and then login.

Also, please add this note in the issue description.
#### NOTE: This issue is available for everyone. Please share a GIF  below in comments showing the complete login process.

[2021-03-30 21:05] mtreacy002 commented on #218
Done, @Rahulm2310 , I've changed the issue description to state these conditions (the gif and must be done before other OSH issue).

[2021-03-31 18:31] prykdev commented on #204
I would like to work on this :)

[2021-03-31 18:31] prykdev commented on #199
I would like to work on this :)

[2021-03-31 18:38] naveen8801 commented on #215
hi @mtreacy002  , i wanna work on it , can  you assign it to me :-)

[2021-03-31 18:38] epicadk commented on #199
Happy coding @P-riyanka-prasad : ).

[2021-03-31 18:38] Amulya-coder commented on #199
Yours @P-riyanka-prasad

[2021-03-31 18:38] prykdev commented on #199
:) Thanks

[2021-03-31 18:41] prykdev commented on #203
I'd like to work on this

[2021-03-31 18:41] decon-harsh commented on #215
@epicadk Please assign him

[2021-03-31 18:41] naveen8801 commented on #214
hi @mtreacy002  @Rahulm2310  , I'd like to work on it  , please assign it to me :-)

[2021-03-31 18:43] epicadk commented on #215
Did Vuyanzi say that she didn't want to work on this?

[2021-03-31 18:45] Amulya-coder commented on #214
Yours @naveen8801 Happy coding 🎉

[2021-03-31 18:47] decon-harsh commented on #215
You are right these issues are to be claimed by respective designer first @epicadk .Thank you , i almost forgot

[2021-03-31 18:56] decon-harsh commented on #204
You have been assigned #199. Please re-claim this issue after you send a successful PR to the previous assigned issue.

[2021-03-31 18:59] naveen8801 commented on #218
Hi @mtreacy002 @Rahulm2310  , as a beginner it would be helpful for me to work on this , can you assign it to me , :-)

[2021-03-31 19:01] decon-harsh commented on #218
@naveen8801

This issue is available for everyone.This is a compulsory task and must be completed before contributor can claim other Open Source Hack issue.
Moreover You have been already assigned #214.

[2021-03-31 19:03] naveen8801 commented on #218
I got it @decon-harsh  , thanks :-)

[2021-03-31 19:07] decon-harsh commented on #199
@P-riyanka-prasad Don't forget to complete the mandatory task first #218.

[2021-03-31 19:12] Rahulm2310 commented on #199
@P-riyanka-prasad You have already been assigned to [#128](https://github.com/anitab-org/stem-diverse-tv/issues/128) on stem-diverse-tv. We can't assign a contributor to more than one issue at the same time. Please decide which one do you want to continue with and unassign yourself from the other one. Also, I think it is compulsory for every OSH aspirant to successfully complete #218 and then shou

[2021-03-31 19:23] epicadk commented on #199
afaik it was one issue per repository.

[2021-03-31 19:45] Rahulm2310 commented on #214
@naveen8801 Please complete the compulsary task #218  before working on anything else. Unassigning you for now. Please re-claim it once the compulsory task is done. 🙂

[2021-04-01 03:28] shades-7 commented on #213
@mtreacy002 hey can I work on this?

[2021-04-01 04:46] shades-7 commented on #218
hey I tried setting up this environment, I am running BIT API at localhost 5000, and mentorship system API at 4000 while registering i am getting error 500

[2021-04-01 04:48] decon-harsh commented on #218
Hey , it would be better if you join our zulip and ask your doubts regarding the issue there. https://anitab-org.zulipchat.com/login/

[2021-04-01 04:51] shades-7 commented on #218
done thank you

[2021-04-01 06:55] shades-7 commented on #216
May I work on this?

[2021-04-01 06:57] Rahulm2310 commented on #216
@shades-7 Please complete the compulsary task  #218 before claiming any other issue. 🙂

[2021-04-01 06:57] shades-7 commented on #203
i would like to work on this.

[2021-04-01 07:00] shades-7 commented on #216
@Rahulm2310 ok

[2021-04-01 07:11] battuAshita commented on #214
Hi @mtreacy002. I would like to work on this issue. Can it be assigned to me?

[2021-04-01 07:13] battuAshita commented on #204
Hi @Rahulm2310, Can this issue be assigned to me:)

[2021-04-01 07:13] Rahulm2310 commented on #214
@battuAshita Thanks for showing interest. Please complete the compulsary task #218 before claiming any other issue. Thanks 😊

[2021-04-01 07:58] devkapilbansal commented on #204
@battuAshita happy documenting :smile:

[2021-04-01 08:01] Rahulm2310 commented on #204
@battuAshita have you completed the compulsary task #218 ? If not please complete it first then work on this. 🙂

[2021-04-01 08:04] devkapilbansal commented on #203
@shades-7 please make changes to this [pull request](https://github.com/anitab-org/anitab-org.github.io/pull/247) first

[2021-04-01 08:04] devkapilbansal commented on #203
@P-riyanka-prasad you are already assigned an issue

[2021-04-01 08:09] devkapilbansal commented on #204
@Rahulm2310 this issue doesn't require the contributor to set up the environment

[2021-04-01 08:10] battuAshita commented on #214
Yes. Will complete and get back:) Thank you

[2021-04-01 08:11] devkapilbansal commented on #213
@shades-7 you have a PR open that needs changes. Would be great if you make necessary changes there

[2021-04-01 08:27] shades-7 commented on #203
done

[2021-04-01 08:31] Amulya-coder commented on #204
Agree with @devkapilbansal for the documentation-related issues it's not needed to set up the environment as these issues does not related to the main codebase.

[2021-04-01 08:32] prykdev commented on #204
Yes

[2021-04-01 08:34] decon-harsh commented on #204
Exactly @devkapilbansal Docs doesn't require coding skill and the need to setup , the task should be mandatory for coding/testing/outreach issues but should be optional for docs/ui issues.

[2021-04-01 08:49] shades-7 commented on #213
i have made the changes please review
and it would be great if you review it and assign me this.

[2021-04-01 09:08] devkapilbansal commented on #203
@shades-7 assigning you.

P.S. :- Ensure you complete the necessary set up task first

[2021-04-01 09:10] stableapple commented on #168
Can I work on this issue?

[2021-04-01 10:23] Rahulm2310 commented on #168
Sure @stableapple. Happy Coding 🎉

[2021-04-01 11:30] shades-7 commented on #218
I have completed this task, below is a gif. Many thanks to @decon-harsh

![BIT](https://user-images.githubusercontent.com/58786336/113373249-101b6c00-9388-11eb-8aa1-362049a095de.gif)

[2021-04-01 11:32] battuAshita commented on #204
I have raised a PR #219. Kindly review it :)

[2021-04-01 11:32] decon-harsh commented on #218
If anyone else is facing any issue, join zulip and feel free to ask it there.

[2021-04-01 11:34] mtreacy002 commented on #218
@shades-7, can you upload a gif instead? it seems like the .mp4 is not recognised format here.

[2021-04-01 23:41] rkraeher commented on #33
@mtreacy002  Ok I did as you suggested, installed psycopg2 separately, and it is now working. I will now proceed to link up BIT with MS so I have both servers running.

[2021-04-02 02:20] shades-7 commented on #218
done

[2021-04-02 02:39] shades-7 commented on #216
Hey, can i work on this now since I have completed the setup task and previously assigned tasks?

[2021-04-02 02:40] shades-7 commented on #214
can I work on this?

[2021-04-02 03:44] Rahulm2310 commented on #218
@shades-7 approved :100:  . Feel free to claim other issues now 😉

[2021-04-02 03:46] Rahulm2310 commented on #214
Yours @shades-7. Happy Coding 😊

[2021-04-02 03:49] Rahulm2310 commented on #216
@shades-7 Assigned you #214

[2021-04-02 05:37] Amulya-coder commented on #214
@shades-7 you're already assigned to #203 please wait for the reviewers to review it moreover contributors will assign up to one issue atm when it's getting ready to merge then you can reclaim this issue again 😉.

[2021-04-02 05:47] sdew021 commented on #217
Can I take up this issue?

[2021-04-02 06:25] jalajcodes commented on #217
@sdew021 Hi there, you need to complete the compulsory task [#218](https://github.com/anitab-org/bridge-in-tech-web/issues/218) before claiming other issues.

[2021-04-02 07:25] sdew021 commented on #218
@Rahulm2310 Am I supposed be assigned to this issue to complete this task? If yes, please assign it to me

[2021-04-02 07:33] Rahulm2310 commented on #218
@sdew021 You need not to be assigned to this issue. This issue is available for everyone. Complete it and post a GIF below. 😊

[2021-04-02 07:37] sdew021 commented on #218
@Rahulm2310 okay, there's another issue, when I try to signup, I get this error message "The server is currently unavailable. Try again later"

[2021-04-02 07:42] Rahulm2310 commented on #218
@sdew021 you need to setup bridge-in-tech-backend and ms-server (from @mtreacy002 's fork repo) locally and run them as we don't have a remote backend deployed. You can go through the instructions on readme and wiki. Feel free to post your queries on our Zulip channel. 😊

[2021-04-02 07:46] sdew021 commented on #218
okay, thankyou😊

[2021-04-02 07:52] sdew021 commented on #218
So I need to follow all the instructions from https://github.com/anitab-org/bridge-in-tech-backend/blob/develop/.github/ENV_SETUP_INSTRUCTION.md this file only right ?

[2021-04-02 09:24] devkapilbansal commented on #214
@Amulya-coder AFAIK as long as PR is not marked as `changes requested` new issue can be assigned to the contributor.

Also, @shades-7 you can contribute by reviewing others PR too. Reviewing each other PRs will ease the work of maintainers and for sure will increase your expertise towards particular domain

[2021-04-02 10:32] decon-harsh commented on #218
Hey @Rahulm2310 Can you edit this message. It would be better if you specify Ms-server of Maya Treacy's Fork instead of mentorship backend as it might confuse some new comers .

[2021-04-02 11:59] HarshKumarChoudary commented on #217
Can I help to solve this issue?

[2021-04-02 12:03] HarshKumarChoudary commented on #195
I would like to work on this issue? Please assign it to me. Also I want to know is there any defined time limit in which I had to finish this work.

[2021-04-02 12:25] HeroicHitesh commented on #195
@HarshKumarChoudary Please reply with an answer to these questions
1. Have you completed the setup of the project mentioned in #218? If no, please setup the project first.
2. Are you assigned to any other issue currently? If yes, please work on that first.

There is no time limit for contribution but to be considered in OSH it should be completed in April only. Also, it is required to provide an u

[2021-04-02 13:06] HarshKumarChoudary commented on #195
I will complete the setup of project by tomorrow.
Also I was assigned an issue but I had submitted PR for it and it is not yet merged. May be it I will get any response by today.

[2021-04-02 13:22] HeroicHitesh commented on #195
Ok @HarshKumarChoudary, but that's a prerequisite so please complete that first and then ask for the issue assignment.

I have reviewed and requested some changes to your PR. It is recommended to wait for 2 approvals on your PR before moving on to new issues.

[2021-04-02 14:41] Aaishpra commented on #217
@HarshKumarChoudary Are you assigned to any other issue currently. If not then I can assign you here.

[2021-04-02 15:12] HarshKumarChoudary commented on #217
I had been assigned one task for which I had made a PR which is Ready to merge.

[2021-04-02 17:13] Aaishpra commented on #217
Great assigned you here then

[2021-04-02 20:37] mtreacy002 commented on #218
@shades-7 , don't forget to submit a PR for your local setup so it is counted towards the `Documentation/Training` category of your Open Source Hack contribution. That is one out of 4 categories down to be eligible for the OSH certificate 😉

[2021-04-03 03:05] HarshKumarChoudary commented on #217
I want to know where we have to describe the solution, in code area or make a new file for it

[2021-04-03 03:09] Aaishpra commented on #217
I guess this is a research-based issue you just have to suggest benefits/disadvantages here in the comments maybe.
Tagging @Rahulm2310 for your help.

[2021-04-03 04:09] shades-7 commented on #218
But there won't be any file change how to send PR for this.

[2021-04-03 04:12] shades-7 commented on #214
hello, where should i submit my prototype for this?

[2021-04-03 04:19] Rahulm2310 commented on #214
@shades-7 this issue is for implementing the UI and not designing. The designs are already approved. You need to develop this component and add it to the home page. 😊

[2021-04-03 04:24] jalajcodes commented on #217
You dint have to code it right away, this is more of a research type issue. See if you can answer these questions.
- why should we migrate to useReducer?
- what are its benifits?
- what would be the best way to implement it? (You can convert a simple component from the codebase and share with us here or create a [gist](https://gist.github.com))

[2021-04-03 04:27] Rahulm2310 commented on #217
@HarshKumarChoudary You can also create a doc file describing the solution. You can answer the questions by @jalajcodes in the doc as well.

[2021-04-03 04:34] mtreacy002 commented on #217
I agree with @Rahulm2310, creating it on a doc file will means more than one contributors can propose a suggestion and the PR which solution is approved can be merged and later located easily in the repo when we're ready to implement it.

[2021-04-03 04:49] shades-7 commented on #214
Do I have to make it responsive too? If yes, what's the design for mob version?

[2021-04-03 04:51] HarshKumarChoudary commented on #217
ok

[2021-04-03 04:54] Rahulm2310 commented on #214
@shades-7 Simply try stacking the heading and the form on one another like -
`Get in Touch`
`Subtitle`
`Form`

[2021-04-03 11:26] HarshKumarChoudary commented on #217
I am ready with the doc. I have to attach that file here in comment or should  merge in forked branch and create a PR?

[2021-04-03 15:28] decon-harsh commented on #168
@stableapple I see, you aren't a first timer. This issue was specially reserved for a first timer.

I request all contributors to refrain themselves from picking up a first timer issue.

[2021-04-03 16:27] Amulya-coder commented on #168
@decon-harsh I don't see @stableapple assign to any `first-timer` issue after starting of the OSH, I think for OSH all contributors will get equally considered to be new participants even they have contributed to the repo earlier (before the OSH begins). @mtreacy002 can you please confirm this.

[2021-04-03 18:37] naveen8801 commented on #218
Hii @Rahulm2310 , @mtreacy002

I have successfully completed this task , thanks a lot to @jalajcodes 👍 , attaching gif below :

![success](https://user-images.githubusercontent.com/54985099/113488089-8b406780-94d9-11eb-814d-182e5b189bbd.gif)

Should i make a PR for this one also ?

[2021-04-03 18:40] naveen8801 commented on #208
Hi @mtreacy002  , i have successfully completed #218  , can i work on this on now ?

[2021-04-03 19:19] 0xNilesh commented on #208
@mtreacy002 Thanks for giving me the chance to work on it, but actually I am busy in something else 😅. Please label it as Available for others to try it on.

[2021-04-03 19:22] 0xNilesh commented on #207
@mtreacy002 Same applies here as #208 😅.

[2021-04-03 20:20] Rahulm2310 commented on #218
@naveen8801 Yes! Please submit a PR with branch called `setup` and add this GIF in the PR description. This pr will be counted towards the `Documentation/Training` category which means you will achieve one out of 4 categories you must complete for OSH.

cc: @mtreacy002

[2021-04-03 20:25] Rahulm2310 commented on #217
@HarshKumarChoudary I think you can create a PR with branch called `research` and post the link to the doc in PR description. This way your PR will be counted towards the `Outreach/Research` category which is one out of 4 categories you must complete for OSH.
cc: @mtreacy002

[2021-04-03 20:29] mtreacy002 commented on #217
I agree with what @Rahulm2310 has suggested.

[2021-04-03 20:33] Rahulm2310 commented on #186
@Frenzyritz13 Please share the updates on this. If you are occupied, we can make it available for OSH aspirants.

[2021-04-03 20:39] mtreacy002 commented on #207
Thanks for letting us now, @VectoTec. Making this issue available now 😉

[2021-04-03 20:46] naveen8801 commented on #218
@Rahulm2310  , but how to make a PR , because there is no file change .

[2021-04-03 20:48] mtreacy002 commented on #218
@naveen8801 , I added the tips on how to submit a pr on this issue description. Let me know if you still have doubt.

[2021-04-03 21:00] naveen8801 commented on #218
Thanks @mtreacy002  , i have made a PR , please review :-)

[2021-04-04 01:35] mtreacy002 commented on #208
Thanks for letting us know, @VectoTec . I've made this issue available now 😉

[2021-04-04 03:50] naveen8801 commented on #201
Hi @mtreacy002 @Rahulm2310 @Amulya-coder  I'd like to work on it ,  can you assign it to me .?

[2021-04-04 04:26] Amulya-coder commented on #201
@naveen8801 thanks for showing interest in this issue, firstly I give you the idea about this issue -> you have to add the badges on the docusauras Home.md so that it's visible on the docusauras documentation not on readme as explained by the <b>mtreachy</b> above ☝  would you know how to do that? if yes I will assign it to you.

[2021-04-04 04:33] naveen8801 commented on #201
@Amulya-coder  , i think you are talking about this https://github.com/anitab-org/bridge-in-tech-backend/tree/develop/docs/docs , and here Home.md should contain these badges or something else ?

[2021-04-04 04:58] Amulya-coder commented on #201
Yes @naveen8801 would you like to work on this

[2021-04-04 04:59] naveen8801 commented on #201
Ya i'd like to work on it , but this means that i have to submit PR for ' bridge-in-tech-backend ' repo , right ?

[2021-04-04 05:01] Amulya-coder commented on #201
Yes @naveen880, commented on that issue I will assign it to you.

[2021-04-04 05:04] naveen8801 commented on #201
Sure , i wanna work on this @Amulya-coder , 👍

[2021-04-04 05:16] Rahulm2310 commented on #201
@Amulya-coder I think this should be put on hold as we don't have the docusaurus website for frontend yet. Also, please update the issue description with what needs to be done.

[2021-04-04 05:50] naveen8801 commented on #199
Hi @Rahulm2310 , i'd like to work on this :-)

[2021-04-04 09:07] keshakaneria commented on #199
Go for it

[2021-04-04 10:10] mtreacy002 commented on #168
@Amulya-coder , IMO, a `First-timer` is only for new contributors who have never been contributed to the repo at all, regardless of OSH. cc @isabelcosta can you please, confirm this? Thanks

[2021-04-04 10:12] isabelcosta commented on #168
That is true :) @mtreacy002 @Amulya-coder

[2021-04-04 12:51] naveen8801 commented on #199
hi @keshakaneria @Rahulm2310  , i have made a PR , please review :-)

[2021-04-04 19:42] Rahulm2310 commented on #168
Thanks @isabelcosta for clarifying 😊. @stableapple please take care of it next time that you don't pick a first timer issue.

[2021-04-04 20:11] Rahulm2310 commented on #214
@mtreacy002 Title of the design issues sounds misleading (sounds more like design than development). Can you please update it to something more specific like `UI: Develop Homepage - Get In Touch section` ?

[2021-04-04 22:57] mtreacy002 commented on #202
This seems like a valid issue, @Rahulm2310. Thanks for bringing this up and sorry for the late response. Will label it OSH too 😉.

[2021-04-04 23:42] mtreacy002 commented on #174
@Rahulm2310 , I forgot that there's a [black linter issue](https://github.com/anitab-org/bridge-in-tech-backend/issues/184) that will address this as part of github workfkow. I'll close this issue now to avoid duplication 😉

[2021-04-04 23:51] mtreacy002 commented on #141
@shruti1421 , I'm closing this issue as the Navbar design issue is now opened for the approved design (issue #208).

[2021-04-04 23:51] #141 closed, assigned to nobody

[2021-04-04 23:56] mtreacy002 commented on #139
@harsha-sam , the discussion on the useReducer() is now moved to the Outreach/Research issue #217 . So, I'm closing this issue here. Feel free to join the discussion there, or **if you want, you can claim the issue as well** since **Outreach/Research type of issues can be assigned to more than one contributor**. We will go through contributors suggestions and select the best approach. cc @anitab-o

[2021-04-04 23:56] #139 closed, assigned to nobody

[2021-04-04 23:58] mtreacy002 commented on #128
Closing this issue now as we've selected the design for the Benefit section (issue #211).

[2021-04-04 23:58] #128 closed, assigned to nobody

[2021-04-05 00:01] mtreacy002 commented on #127
Closing this issue now as we've selected the design for the Homepage and the `About` section is no longer needed.

[2021-04-05 00:01] #127 closed, assigned to nobody

[2021-04-05 00:30] mtreacy002 commented on #163
@chinmaym07, I'm closing this issue now as I believe the issue is now addressed through issue #214.

[2021-04-05 00:30] #163 closed, assigned to nobody

[2021-04-05 00:37] mtreacy002 commented on #33
@rkraeher , any updates on this issue?

[2021-04-05 02:17] stableapple commented on #168
I apologize for the mistake. It won't happen again.

[2021-04-05 03:49] #204 closed, assigned to battuAshita

[2021-04-05 03:49] #205 closed, assigned to mtreacy002

[2021-04-05 03:49] #187 closed, assigned to sanjay270899

[2021-04-05 03:49] #192 closed, assigned to stableapple

[2021-04-05 03:49] #143 closed, assigned to nlok5923

[2021-04-05 05:10] Rahulm2310 commented on #174
@mtreacy002 Isn't that for backend? We need a linter for frontend as well

[2021-04-05 06:01] Frenzyritz13 commented on #186
I am stuck at the last step I think. Give me a couple of more days. I should be able to tell you exactly what's going wrong.

[2021-04-05 06:05] mtreacy002 commented on #174
Oops, you're right, @Rahulm2310 . Sorry for the confusion. Reopening this again 😊.

[2021-04-05 20:39] rkraeher commented on #33
@mtreacy002 I now have successfully set up both servers and have the frontend site up locally. Starting today I can begin working on writing the test.

[2021-04-06 14:35] Vuyanzi commented on #215
@epicadk There's still a lot of design issues so if someone wants to work on the code I have no problem if they get assigned the sections I designed :)

[2021-04-06 14:37] Vuyanzi commented on #215
Hello @naveen8801 I have assigned the issue to you and I'd be more than happy to jump on a call with you if you need any clarification on whats required :)

[2021-04-06 14:39] Vuyanzi commented on #215
@mtreacy002 feel free to assign the sections I designed to other members, there're definitely other design tasks I could pick up.

[2021-04-06 14:45] Vuyanzi commented on #213
@shades-7 are you done with the PR you were working on?

[2021-04-06 14:47] naveen8801 commented on #215
Thanks @Vuyanzi 👍

[2021-04-06 15:20] Rahulm2310 commented on #215
@naveen8801 Please do the changes requested on [#254](https://github.com/anitab-org/bridge-in-tech-backend/pull/254) before working on this.

[2021-04-06 15:58] naveen8801 commented on #215
sure @Rahulm2310  , 👍

[2021-04-07 08:34] shades-7 commented on #213
No, sorry for not being active for 3 days I was unwell. I am fine today will resume the work soon.

[2021-04-07 09:51] shades-7 commented on #214
should I make this section in the home component and can I get Figma link too?

[2021-04-07 14:34] naveen8801 commented on #215
Hi @Rahulm2310  , I have made changes to [#254](https://github.com/anitab-org/bridge-in-tech-backend/pull/254) , please review :-)

[2021-04-07 17:23] Rahulm2310 commented on #214
@shades-7 Please create a seperate component for it and then add it to the homepage. Link to the figma file is available in the issue description.

[2021-04-09 08:38] stableapple commented on #208
Can I work on this issue?

[2021-04-09 08:55] decon-harsh commented on #208
You have one PR which is still not approved and is in discussion phase however it doesn't have `Changes Requested` Tag. So, I have asked about this issue on Zulip. I ll get back to this when someone answers it.

[2021-04-09 14:52] Frenzyritz13 commented on #186
Progress update: Sorting the documents in the right hierarchy.

[2021-04-10 00:51] #203 closed, assigned to shades-7

[2021-04-10 04:50] naveen8801 commented on #215
Hi @mtreacy002  @Vuyanzi , how to get icons similar to those used in figma designs and also how to import font family ' Meta Pro'
? :)

[2021-04-10 06:21] decon-harsh commented on #208
@epicadk please assign @stableapple

[2021-04-10 08:24] mtreacy002 commented on #215
@naveen8801 , you can export the icon on Figma as .svg to be used in your code. [Here](https://anitab-org.zulipchat.com/#narrow/stream/237630-bridge-in-tech/topic/BridgeInTech.20Redesign/near/230133523) is my zulip post explaining how this can be done. Let me know if you have any further question 😉

[2021-04-10 08:26] naveen8801 commented on #215
Thanks @mtreacy002 👍

[2021-04-10 08:27] mtreacy002 commented on #215
In regard to `Meta Pro` font, I think you can find it on the doc pointed out by @annabauza on her zulip post [here](https://anitab-org.zulipchat.com/#narrow/stream/225705-STEM-diverse-tv/topic/design/near/212972418)

[2021-04-10 08:51] naveen8801 commented on #215
@mtreacy002 , ok 👍

[2021-04-10 14:25] naveen8801 commented on #215
Hi @mtreacy002   , i have completed designing of footer component in desktop view as shown below , can you please tell me , what should be the behavior when screen size decreases (on mobile view or tablet view ) , should i use custom media queries for it ?

![Screenshot (53)](https://user-images.githubusercontent.com/54985099/114273366-61d28f00-9a37-11eb-93fe-9177b9402e22.png)

[2021-04-10 15:16] decon-harsh commented on #215
@Rahulm2310 I guess you can help him with this.

[2021-04-10 19:51] Rahulm2310 commented on #215
@naveen8801 for mobile/tablet view, you can try stacking the sections one over the other using media queries.

[2021-04-11 05:41] naveen8801 commented on #215
ok @Rahulm2310

[2021-04-11 16:43] sidrakshe28 commented on #212
hey,can you assign me this rask?

[2021-04-12 03:42] shruti1421 commented on #213
Can I work on this issue?

[2021-04-12 03:45] shruti1421 commented on #212
I would also like to work on this issue.

[2021-04-12 03:52] shruti1421 commented on #207
I would like to work on this issue.

[2021-04-12 11:26] shades-7 commented on #214
@Rahulm2310 can't find the font "meta pro" what to do?
for how many dimensions I have to write a media query?

[2021-04-12 11:50] shades-7 commented on #214
![Screenshot from 2021-04-12 17-19-21](https://user-images.githubusercontent.com/58786336/114389934-41c7da80-9bb3-11eb-8762-f6b5fd521e75.png)
This is how it looks right now with the font

[2021-04-12 13:37] mtreacy002 commented on #214
@shades-7 , the file to download the font `Meta Pro` was referred to in the zulip discussion [here](https://anitab-org.zulipchat.com/#narrow/stream/225705-STEM-diverse-tv/topic/design/near/212972418).

[2021-04-12 13:40] mtreacy002 commented on #213
@shruti1421 , have you completed the compulsory setup task for OSH (issue #218)? If not, please complete that one first 😉

[2021-04-12 15:13] naveen8801 commented on #215
Hii @Rahulm2310  , @mtreacy002  , I have made a PR , please have a look , and provide some suggestions for more attractive UI :)

[2021-04-13 09:10] shades-7 commented on #216
Hey, i would like to work on this.

[2021-04-13 15:25] Frenzyritz13 commented on #186
Working on the linking of the right documents and checking for any systers reference. Should be able to create a pull request before my next update.

[2021-04-14 14:19] shades-7 commented on #216
@isabelcosta may I work on this?

[2021-04-14 14:21] jalajcodes commented on #216
Assigned you. Good luck!

[2021-04-16 05:36] shades-7 commented on #216
here it's written about hosting on gh-pages, but I have an idea about hosting on other platform, i.e netlify can I add this too in the research or I have to stick strictly to gh-pages only?

[2021-04-16 07:40] Rahulm2310 commented on #216
@shades-7 You can include points about how `netlify` would be a better option than `github-pages`. This is the reason we want to research on it to find the best possible solution.🙂

[2021-04-16 13:27] Aryamanz29 commented on #166
I would like to work on this issue @Rahulm2310 @chinmaym07

[2021-04-16 13:43] Rahulm2310 commented on #166
@Aryamanz29 Sure, Go ahead with the fix 🙂

[2021-04-16 17:35] devkapilbansal commented on #166
@Aryamanz29 just to make sure, did you complete required setup first?

[2021-04-16 18:28] Aryamanz29 commented on #166
Yup, I'll setup this repo  tomorrow first before proceeding to this issue.

[2021-04-17 05:20] mtreacy002 commented on #186
Thank you @Frenzyritz13 for your updates, can you tell us roughly how close you are to submit a pull request?

[2021-04-17 06:00] Rahulm2310 commented on #166
@Aryamanz29 Yes please complete #218 before starting to work on this 🙂

[2021-04-17 14:32] aditisingh2412 commented on #213
Hey! Can I work on this issue?

[2021-04-17 14:38] aditisingh2412 commented on #212
Hey! Can I work on this issue?

[2021-04-17 17:49] shades-7 commented on #216
how to submit PR for this?

[2021-04-17 19:26] mtreacy002 commented on #213
@aditisingh2412 , have you completed the #218 and submitted a pr for that? If not, please do that first 😉

[2021-04-17 19:59] #199 closed, assigned to naveen8801

[2021-04-17 20:28] Rahulm2310 commented on #216
@shades-7 you can create a google doc explaining all your findings, create a pull request and add the link to the doc in the PR description. Also,  please update the link with `Edit` access for everyone, so that anyone can add comment and continue with the discussions on the document you've shared. 🙂
For more, refer [here](https://github.com/anitab-org/bridge-in-tech-web/pull/225).

[2021-04-17 20:50] #177 closed, assigned to sachinsom93

[2021-04-18 02:37] sachinsom93 commented on #202
@mtreacy002 can I work on this issue ?

[2021-04-18 04:50] Rahulm2310 commented on #202
Sure @sachinsom93. Go ahead with the fix ☺️

[2021-04-19 02:54] Aryamanz29 commented on #166
I have raised PR for env setup, Kindly look into it #234
Should I start working on this issue now? @Rahulm2310 @devkapilbansal

[2021-04-19 04:43] Rahulm2310 commented on #166
@Aryamanz29 the PR looks fine. You can now work on this ☺️

[2021-04-19 20:49] mtreacy002 commented on #212
@sidrakshe28 and anyone else interested on this issue, you must complete and submit a pr for issue #218 first for picking up any OSH issues. Once you've done that you can comeback here and request to be assigned to this issue 😉

[2021-04-19 20:52] mtreacy002 commented on #211
I'm making this issue available as @Vuyanzi had stated she's happy for other contributors to work on this.

[2021-04-19 20:53] mtreacy002 commented on #210
@GloriaOsoro , do you want to work on this issue? If not I'll make it available for other contributors.

[2021-04-19 20:54] mtreacy002 commented on #209
@GloriaOsoro , same here, do you want to work on this issue now? Else I'll open it for other contributors to work on 😉

[2021-04-19 20:56] mtreacy002 commented on #207
@shruti1421 or anyone else who's interested to work on this issue, please make sure you've completed the OSH compulsory task #218 and submit the pr for that issue beforehand 😉

[2021-04-19 20:59] mtreacy002 commented on #186
@Frenzyritz13 , can you please update us on this? If you have other issues you're working on at the moment and unable to submit the pull request for this, we can open the issue for other contributors to claim.

[2021-04-21 11:03] GloriaOsoro commented on #210
@mtreacy002 Hi, I am so engaged right now, I wish I could. Please make it available for other contributors.

[2021-04-21 11:05] GloriaOsoro commented on #209
@mtreacy002 Please make it available to other contributors. Thank you.

[2021-04-21 11:53] mtreacy002 commented on #210
No worries, @GloriaOsoro . Thanks for letting us know. Will make it available for others now 😉.

[2021-04-21 11:54] mtreacy002 commented on #209
Thank you for letting us know, @GloriaOsoro . Will make this available for others now 😉

[2021-04-21 19:49] Frenzyritz13 commented on #186
Hey, no. I am just having trouble with the last part. I will create a pull request tomorrow and keep completing it.

[2021-04-23 05:13] #173 closed, assigned to aditmehta9

[2021-04-23 11:20] mtreacy002 opened #237 "Dev: Add alternative homepage for remote deployment | URGENT"
## Description
As a contributor,
I need to add BIT web remote gh pages url `https://anitab-org.github.io/bridge-in-tech-web/` as alternative to `homepage` in package.json
so that contributors can chose to use either local or remote server as BIT frontend

## Acceptance Criteria
### Update [Required]
- [ ] add the remote gh url above as alternative to `homepage` and comment out option for `localhos

[2021-04-23 11:44] shades-7 commented on #237
can i work on this?

[2021-04-23 11:44] CIPHERTron commented on #237
Heyy @mtreacy002 , just saw the text in Zulip. I would like to take up this issue. Is it cool?

[2021-04-23 11:44] CIPHERTron commented on #237
Heyy @mtreacy002 , just saw the text in Zulip. I would like to take up this issue. Is it cool?

[2021-04-23 11:50] jalajcodes commented on #237
@shades-7 This is a first timers issue and as you have contributed to the repo before, I'll assign this to @CIPHERTron .

[2021-04-23 11:59] mtreacy002 commented on #237
@CIPHERTron , I really appreciate your swift response for this urgent issue. Just a reminder, if you also want to claim this as your Open Source Hack contribution, please don't forget to complete the compulsory task #218 beforehand 😉 . cc @jalajcodes

[2021-04-23 12:10] CIPHERTron commented on #237
Damn! Do we really need to set up the environment?
I just changed the two lines that's mentioned in the issue.
Setting up the environment would take up much time though ;)

[2021-04-23 12:13] CIPHERTron commented on #237
I thought it was a small issue. NVM
Heyy @shades-7 if you're up, you can take up the issue since you already have the environment already set up.

[2021-04-23 12:27] shades-7 commented on #237
Yes will send the PR soon

[2021-04-23 12:33] CIPHERTron commented on #237
Thanks @shades-7
Also, apologies for the inconvenience ;(

[2021-04-23 12:35] shades-7 commented on #237
Hey @CIPHERTron you don't have to apologies for anything and you can submit your PR without setting up the environment. It will just not be included in OSH but your PR will get merged if it will fulfill the task.

[2021-04-23 12:36] shades-7 commented on #237
@CIPHERTron since you have made the changes I will insist you to send PR.

[2021-04-23 12:42] CIPHERTron commented on #237
Thanks but I'm cool. Go on, send a PR @shades-7
I'm kinda running on a deadline too. If time wouldn't have been an issue, I would've set up the environment.
Also, it's against the ethics of open-source. As you know, a small change might also introduce various bugs. haha

[2021-04-23 13:07] mtreacy002 commented on #237
Sorry for the inconvenience, @CIPHERTron . I do understand setting up can take up sometimes for new contributors. Unfortunately, it is part of the Open Source Hack requirements. Thank you for your honesty. Hopefully once the remote deployment is sorted, it'll help cut down some portion of the lengthy process of local setup.
@jalajcodes , I'll remove `First-timers only` issue for this issue as this

[2021-04-23 13:10] shades-7 commented on #237
Yes I have PRs they are under review and I can take this task

[2021-04-23 13:25] jalajcodes commented on #237
Its nice to see people aware of Open Source ethics and giving each other chances. Kudos to both of you @shades-7 and @CIPHERTron  👏👏

[2021-04-24 00:03] mtreacy002 opened #239 "Bug: Test failed after Link tag is used to replace anchor tag in Register.jsx and Login.jsx"
### Describe the bug
Recent commit #231 which refactored `anchor <a> tag` to `<Link>` causes tests to fail for Login.test.jsx and Register.test.jsx.

### To Reproduce
Steps to reproduce the behavior:
1. Run test
2. See errors

### Screenshots
<img width="565" alt="Screen Shot 2021-04-24 at 9 58 22 am" src="https://user-images.githubusercontent.com/29667122/115940072-9d636380-a4e3-11eb-9b3b-a3c52e8

[2021-04-24 00:06] mtreacy002 commented on #239
@Rahulm2310 , the errors indicates that `<Link> tag` which replaced `<a>  tag` [here](https://github.com/anitab-org/bridge-in-tech-web/pull/190#discussion_r589071561) was causing the error. Any suggestion on how we can fix this?

[2021-04-24 01:08] #168 closed, assigned to stableapple

[2021-04-24 08:04] Rahulm2310 commented on #239
@mtreacy002 Found the fix. This is happening because when we render our react component (`<Register/>` or `<Login/>`) in the test cases, they are not wrapped with `<Router/>` due to which this `Error: Uncaught [Error: Invariant failed: You should not use <Link> outside a <Router>]` is shown. I tried wrapping the components `<Router><Register/></Router>` and all test cases passed.
![image](https://

[2021-04-25 10:15] mtreacy002 commented on #239
That makes sense to me. Thank you @Rahulm2310 for the solution. Would you be able to submit a pr for this? Or should I open it for Open Source Hack?

[2021-04-25 10:17] naveen8801 commented on #217
Hi @mtreacy002  @Rahulm2310  , can you assign this issue to me also ? :-)

[2021-04-25 10:19] #214 closed, assigned to shades-7

[2021-04-25 10:45] Rahulm2310 commented on #239
@mtreacy002 If someone is interested in submitting a PR as a contribution for Open Source Hack, they can surely claim it. 5 more days to go for the wrap up of OSH. If it remains unassigned, I will submit a PR for the fix.

[2021-04-25 10:54] Rahulm2310 commented on #217
Hello @naveen8801, thanks for showing interest. Actually, @HarshKumarChoudary has researched on this and submitted a google doc with his findings which you can find in our github wiki [here](https://docs.google.com/document/d/1rQIwS6z5xqiRy-il5rkJeghvvIDpA1MYSAcEkihaVOc/edit?usp=sharing). This doc is open for all so feel free to add your findings to this doc so that everything related to this rema

[2021-04-25 10:57] shades-7 commented on #239
hey i would like to work on this, since all my PR are under review, I am free

[2021-04-25 11:15] isabelcosta commented on #186
@Frenzyritz13 we'll make this available due to inactivity. Feel free to later contribute to other issues if you wish, for now, this is a blocking issue we want to solve to make our projects processes consistent.

[2021-04-25 11:33] mtreacy002 commented on #239
Sure, @shades-7 will assign you to this now 😉. Thank you for picking up the issue.

[2021-04-25 11:37] #237 closed, assigned to shades-7

[2021-04-25 11:41] codesankalp commented on #186
As this is not an OSH issue. Can I work on it?

[2021-04-25 12:56] mtreacy002 commented on #186
Sure, @codesankalp . I'm assigning you now 😉

[2021-04-25 18:41] shades-7 commented on #239
![Screenshot from 2021-04-26 00-06-47](https://user-images.githubusercontent.com/58786336/116005160-59777800-a623-11eb-92d1-63e2bb2353cf.png)
### Followed you instructions got 2 test case pass but Getting an error
node_modules/react-dom/cjs/react-dom.development.js:88
      ### Warning: Can't perform a React state update on an unmounted component. This is a no-op, but it indicates a memory leak in

[2021-04-27 05:01] mtreacy002 commented on #239
@shades-7 , I wonder why it shows only 2 tests since we have 3 tests altogether 🤔

[2021-04-27 05:12] mtreacy002 commented on #239
@jalajcodes and @Rahulm2310., can you please give some suggestions to why [this](https://github.com/anitab-org/bridge-in-tech-web/issues/239#issuecomment-826370296) happens?

[2021-04-27 05:15] mtreacy002 commented on #217
Closing this issue as @HarshKumarChoudary had proposed the suggested solution [here]https://github.com/anitab-org/bridge-in-tech-web/pull/225)

[2021-04-27 05:15] #217 closed, assigned to HarshKumarChoudary

[2021-04-27 05:17] mtreacy002 commented on #33
@rkraeher , any updates on this issue?

[2021-04-27 16:42] naveen8801 commented on #155
hi @mtreacy002 , is this issue open ?

[2021-04-27 16:50] decon-harsh commented on #155
It's still on hold , if you wish to propose a way to solve this, write it here.

cc @mtreacy002

[2021-04-27 19:19] Rahulm2310 commented on #155
Hi @naveen8801, we need the endpoints `GET /users/{userId}/additional-info` and  ` GET /users/{userId}/personal-background` created on the backend to work on this issue. There are open issues for these on the backend ([#215](https://github.com/anitab-org/bridge-in-tech-backend/issues/215) and [#216](https://github.com/anitab-org/bridge-in-tech-backend/issues/216)). Till then we need to put this is

[2021-04-28 01:48] mtreacy002 commented on #155
@naveen8801 , the issue [#215](https://github.com/anitab-org/bridge-in-tech-backend/issues/215) that @Rahulm2310 mentioned above is still waiting for contributors to claim it. Would you be interested to wok on it?

[2021-04-28 02:14] naveen8801 commented on #155
sure @mtreacy002 ,

[2021-04-28 10:13] #215 closed, assigned to naveen8801

[2021-04-29 04:19] codesankalp commented on #186
@mtreacy002 As GitHub-pages is already active for this repository, how can I deploy the docusaurus docs on this repo github-pages?
My work is almost done.
Do I have to deploy it on surge?

[2021-04-29 04:30] Rahulm2310 commented on #186
@codesankalp for now you can deploy it to surge (similar to how it is done for backend) as the frontend is already using gh-pages.

[2021-04-29 20:41] #166 closed, assigned to Aryamanz29

[2021-04-29 21:07] mtreacy002 commented on #216
Closing this issue now since the suggested solution by @shades-7  (with issue #240) had already been accepted and added to BIT web wiki sidebar.

<img width="284" alt="Screen Shot 2021-04-30 at 7 06 31 am" src="https://user-images.githubusercontent.com/29667122/116618595-9aa0bc80-a982-11eb-9852-d109a3667b53.png">

[2021-04-29 21:07] #216 closed, assigned to shades-7

[2021-04-29 21:10] mtreacy002 commented on #33
Putting this on hold following discussion with the contributor on [zulip](https://anitab-org.zulipchat.com/#narrow/stream/237630-bridge-in-tech/topic/help/near/236730451)

[2021-04-30 05:29] #186 closed, assigned to codesankalp

[2021-05-07 09:50] naveen8801 commented on #212
Hi @mtreacy002  , can i work on this issue ?   :))

[2021-05-07 21:01] mtreacy002 commented on #218
Closing this now since Open Source Hack has ended.

[2021-05-07 21:01] #218 closed, assigned to nobody

[2021-05-07 21:03] mtreacy002 commented on #212
Sure, @naveen8801 . Assigning you now. Thank you for picking up this issue 😉

[2021-05-08 04:10] naveen8801 commented on #212
Hi @mtreacy002  , what should be the positioning of ' Read About Us '  section ? :))

[2021-05-08 07:05] mtreacy002 commented on #212
Can you help me understand what you mean by 'positioning', @naveen8801?

[2021-05-08 07:07] naveen8801 commented on #212
@mtreacy002  i mean , where it should be placed on home page , currently its above footer component :))

[2021-05-08 09:02] mtreacy002 commented on #212
HI @naveen8801. I think you need to update your fork by pulling the latest commits from upstream. We already have the `Get  In Touch` section on top of the footer in the develop branch. You can put the `Read about us` section on top of that `Get In Touch` section 😉 .

[2021-05-10 13:07] Harshita-Kanal commented on #207
Can I take this up?

[2021-05-15 09:03] mtreacy002 commented on #207
@Harshita-Kanal , sure, I'll assign you to this now 😉

[2021-05-15 17:26] DhaneshShetty commented on #211
@mtreacy002 Can I take this up?

[2021-05-16 05:26] mtreacy002 commented on #211
Sure, @DhaneshShetty . I'll assign you to this 😉

[2021-05-18 04:44] naveen8801 commented on #213
Hi @mtreacy002 , i'd like to work on this , can you please assign it to me :)

[2021-05-18 04:45] devkapilbansal commented on #213
Sure @naveen8801 you can work on this issue. Happy Coding

[2021-05-18 09:41] DhaneshShetty commented on #209
@mtreacy002 Can I work on this?

[2021-05-18 14:54] reachaadrika commented on #209
@mtreacy002  Can I work on this issue ?

[2021-05-18 22:59] mtreacy002 commented on #209
@reachaadrika , since @DhaneshShetty claim it first, I'll assign it to @DhaneshShetty 😉

[2021-05-19 11:31] reachaadrika commented on #209
@mtreacy002 no issues !I'll find some other issue to work on :)

[2021-05-21 04:26] battuAshita commented on #210
Hi @mtreacy002. May I work on this issue?

[2021-05-22 07:20] Anmollenka commented on #195
I would like to work on this issue.

[2021-05-22 07:27] Anmollenka commented on #194
I would like to work on this issue.

[2021-05-22 07:45] Amulya-coder commented on #194
Assigning @Anmollenka.

[2021-05-22 08:26] mtreacy002 opened #248 "UI: Develop Sign Up page"
## Description
As a maintainer,
I need to see BIT Sign Up page gets redesigned,
so that I can make sure they meet AnitaB guidelines.

## Mocks
Approved design idea for Sign Up page (Designer Gloria Osoro)
<img width="691" alt="Screen Shot 2021-05-22 at 6 25 02 pm" src="https://user-images.githubusercontent.com/29667122/119219876-095cda00-bb2b-11eb-8740-f7b024643f12.png">

## Acceptance Criteria
##

[2021-05-22 08:30] mtreacy002 opened #249 "UI: Develop Sign In page"
## Description
As a maintainer,
I need to see BIT Sign Up page gets redesigned,
so that I can make sure they meet AnitaB guidelines.

## Mocks
Approved design idea for Sign In page (Designer Gloria Osoro)
<img width="691" alt="Screen Shot 2021-05-22 at 6 30 22 pm" src="https://user-images.githubusercontent.com/29667122/119220040-c6e7cd00-bb2b-11eb-8433-2e4e113ace58.png">

## Acceptance Criteria
##

[2021-05-22 10:11] #212 closed, assigned to naveen8801

[2021-05-22 12:56] reachaadrika commented on #249
@mtreacy002  Can I work on this issue ?

[2021-05-22 14:18] aakankshaagr commented on #248
@mtreacy002  Can I work on this issue?

[2021-05-23 05:21] mtreacy002 commented on #248
sure, @aakankshaagr . I'll assign you to this now. Thanks for picking up the issue 😉

[2021-05-23 05:23] mtreacy002 commented on #249
sure, @reachaadrika . I'll assign you to this now. Thanks for picking up the issue 😉

[2021-05-23 05:42] reachaadrika commented on #249
Thank you @mtreacy002 :)

[2021-05-23 09:09] reachaadrika commented on #249
@mtreacy002  Do I also have to implement the footer as well as the navigation section along with Sign In page ?

[2021-05-23 12:28] mtreacy002 opened #250 "UI: Temporary side navigation for protected pages"
### Is your feature request related to a problem? Please describe.
Currently we have PR #230 for Main Navigation that address new design of top navigation as part of BIT redesign project. However, merging the pr will break existing features like viewing members and organizations list, creating/updating organization and program as well as creating/updating users info (all comes under protected page

[2021-05-24 04:01] naveen8801 commented on #249
No @reachaadrika  , footer and nav components have already implemented , just implement the sign in form and use existing footer and navigation components 😉

[2021-05-24 07:46] reachaadrika commented on #249
Thank you @naveen8801

[2021-05-24 14:56] naveen8801 commented on #250
hi @mtreacy002 , can i work on this :)

[2021-05-29 00:34] #239 closed, assigned to shades-7

[2021-05-29 01:10] mtreacy002 commented on #250
Sure, @naveen8801 . But can you please first pull the latest update I just requested on #246 before working on this issue? Thanks 😉

[2021-06-02 17:29] arkumari2000 commented on #250
If this issue is not taken, can I work on this issue? (Also is the project uses material-ui?)

[2021-06-03 02:35] mtreacy002 commented on #250
@naveen8801 , since you're still fixing PR #246, I'll assign this to @arkumari2000 . Thanks for your understanding 😉

[2021-06-03 03:25] naveen8801 commented on #250
No problem @mtreacy002, go ahead @arkumari2000, Happy coding 👍

[2021-06-03 04:07] arkumari2000 commented on #250
@mtreacy002 can I use styled-components or material-ui?

[2021-06-05 08:17] Anmollenka commented on #194
@mtreacy002  just wanted to confirm if medium severity vulnerabilities should be removed too?

[2021-06-07 09:44] Anmollenka commented on #194
@Amulya-coder  Can you just confirm so that I can create a pull request.

[2021-06-07 13:22] Amulya-coder commented on #194
@Anmollenka, Yes you can go ahead and create a pull request no need to worry about medium severity vulnerabilities.

[2021-06-09 13:44] mtreacy002 commented on #250
@arkumari2000 , I'm pretty sure you can use either of those two here, but perhaps we can confirm with @Rahulm2310 since he's more experience in this 😉

[2021-06-09 14:57] mtreacy002 opened #253 "Dev: Move GetInTouch files into home folder"
### Describe the bug
Currently the `GetInTouch` related files (jsx and css) are placed in the `getInTouch` folder outside `home` folder.

### To Reproduce
NA

### Expected behavior
To be consistent, all sections on the Homepage need to be placed under the `home` folder.

### Screenshots
<img width="485" alt="Screen Shot 2021-06-10 at 12 34 42 am" src="https://user-images.githubusercontent.com/2966

[2021-06-09 16:15] Rahulm2310 commented on #250
@mtreacy002  @arkumari2000 I don't think we need any of those libraries to achieve this. This component should be implemented similar to how other designs have been implemented so far.

[2021-06-11 01:11] arkumari2000 commented on #250
Can you please help me with some tutorial or content suggestion for this design implementation without styled component or material ui component? As I can see in this project only bootstrap is used and I am unable to find such a design implementation in react-bootstrap. And I think this design is quite complex to implement with pure css.

[2021-06-11 01:13] arkumari2000 commented on #250
Either if the mentor agrees we can have a fixed non-collapsible navbar on the computer screen or a fully collapsible navbar on both the screen.
Please consider my suggestion @mtreacy002

[2021-06-11 03:02] arkumari2000 commented on #250
okay, It is almost done.

[2021-06-13 03:05] naveen8801 commented on #253
Hi @mtreacy002, I'd like to work on it, please assign :))

[2021-06-13 10:03] #213 closed, assigned to naveen8801

[2021-06-13 10:04] mtreacy002 commented on #253
Sure, @naveen8801 . I'm assigning you to this now. Thanks for picking up the issue 😉.

[2021-06-17 12:34] mtreacy002 commented on #202
Making this available again for others to work on.

[2021-06-17 13:40] vj-codes commented on #249
@reachaadrika any updates here?

[2021-06-17 13:41] vj-codes commented on #248
@aakankshaagr any updates here?

[2021-06-17 13:41] vj-codes commented on #207
@Harshita-Kanal any updates here?

[2021-06-17 13:42] vj-codes commented on #194
@Anmollenka any updates here?

[2021-06-17 13:46] Anmollenka commented on #194
Will create a pr within an hour

[2021-06-17 14:06] #253 closed, assigned to naveen8801

[2021-06-17 14:24] reachaadrika commented on #249
@vj-codes   I have done the complete think , I am just facing problem with media queries , ie making the page responsive

[2021-06-17 14:27] aakankshaagr commented on #248
@vj-codes It's almost done. I am facing some issues. After solving them I will create a PR. ,probably within 2 days. I saw that there is some issues with navigation bar that's why I didn't make a PR earlier.

[2021-06-19 12:21] naveen8801 commented on #202
Hi @mtreacy002, I'd like to work on it, please assign :)

[2021-06-19 13:33] mtreacy002 commented on #202
Sure, @naveen8801. Will assign you to this now. Thanks for picking this up 😉.

[2021-06-20 09:14] Anmollenka commented on #194
@vj-codes After manually changing the versions 2 high vulnerabilities are still there.

[2021-06-25 01:17] #202 closed, assigned to naveen8801

[2021-06-25 01:20] #208 closed, assigned to stableapple

[2021-06-25 02:27] mtreacy002 commented on #194
@Anmollenka , can you please show us steps you've done along with the log on a gist of npm audit report? This will help us better understand the issue you are facing. Thanks 😉

[2021-06-25 02:28] mtreacy002 commented on #249
can you submit the pr so we can see the cause of the issue then give you feedback accordingly, @reachaadrika ?

[2021-06-25 02:34] mtreacy002 commented on #248
@aakankshaagr , can you please give us update on this?

[2021-06-25 03:50] naveen8801 commented on #210
Hi @mtreacy002, can i work on this one :)

[2021-06-25 11:48] mtreacy002 commented on #210
Sorry for the delay in response. @naveen8801 , perhaps we should check if @battuAshita is still interested on this? If not, I'll assign this to you 😉. @battuAshita , do you still want to work on this?

[2021-06-25 11:50] #250 closed, assigned to arkumari2000

[2021-06-25 11:55] battuAshita commented on #210
Hi. I am presently caught up in some other work. You can assign it to others :)

[2021-06-25 12:34] mtreacy002 opened #260 "Bug: Sidebar icons on minimized/closed position are not linked to relevant pages"
### Describe the bug
Atm the Sidebar icons are not linked to the relevant pages.

### To Reproduce
Steps to reproduce the behavior:
1. Run the web application locally and login as an existing user
2. see the Sidebar in its default position (closed/minimized)
3. Noticed the icons did not direct users to the relevant pages
4. Now open the Sidebar and click on the icons. The icons on this maximize po

[2021-06-25 12:39] mtreacy002 commented on #210
Thank you, @battuAshita for letting us know. @naveen8801 , I'll assign this to you now 😉. Thank you for picking this up ❤️

[2021-06-25 14:08] naveen8801 commented on #210
@mtreacy002, can you please provide the information about the video which should be present in this section, also am confused about complete design of Video section, it involves only  part shown in issue description or complete section like this one below

![Screenshot (95)](https://user-images.githubusercontent.com/54985099/123451738-67358380-d5fb-11eb-93c5-f4eb33517b2d.png)

[2021-06-25 15:00] aakankshaagr commented on #248
Sorry  @mtreacy002 I was sick due to vaccination and I completely forgot about linking PR. I will make a PR by tmr.
I didn't find left image in image section so earlier I took snap from figma and adjusted that, later I forgot to ask  about this.
Can you please tell me what's the destination of image?

[2021-06-25 22:18] mtreacy002 commented on #86
Closing this issue since it appears to no longer be an issue (possibly had been fixed through #118 as well)

[2021-06-25 22:18] #86 closed, assigned to nobody

[2021-06-25 22:26] mtreacy002 commented on #195
@Anmollenka , you can come back to claim this issue after you complete #194 😉

[2021-06-25 22:28] mtreacy002 commented on #207
Making this issue available again since no response from the contributor.

[2021-06-25 22:31] mtreacy002 commented on #201
Making the issue available since now we have [BIT frontend docusaurus](https://bridge-in-tech-web.surge.sh/)

[2021-06-25 22:40] mtreacy002 commented on #210
Hi @naveen8801 , since atm we don't have a professional video made from AnitaB.Org, we can temporarily use my [final demo video of GSOC20](https://youtu.be/7J6PPxX4sCI) for now. @isabelcosta, perhaps the @anitab-org/advocates can help with the video creation later down the track 😉? cc @Vuyanzi

[2021-06-25 22:46] mtreacy002 commented on #248
Sorry to hear you had reactions to the vaccine. Hope you're all well now, @aakankshaagr. As for the image, it can be found on the [figma file](https://www.figma.com/file/V22SXBLzMd9bqnita6hfMp/Bridge_in_tech?node-id=0%3A1) under the `high_fidelity` section which has all designs from Sign-In/Sign-Up and Homepage.
<img width="1042" alt="Screen Shot 2021-06-26 at 8 45 56 am" src="https://user-images.

[2021-06-26 04:27] naveen8801 commented on #210
Ok @mtreacy002, for now, I'll start with your video 👍

[2021-06-26 12:32] reachaadrika commented on #249
Yes sure , will do that

[2021-06-27 02:58] IC1101Virgo commented on #201
Hello, can I work on this?

[2021-06-27 03:38] Rahulm2310 commented on #201
Sure @IC1101Virgo. Assigning you ☺️

[2021-06-27 09:40] IC1101Virgo commented on #201
I have a doubt regarding the task what needs to be done?
I can see the badges here https://github.com/anitab-org/bridge-in-tech-backend/blob/develop/docs/docs/Home.md
Do I need to add any more? Or need to add them somewhere else?

Thank you in advance

[2021-06-27 17:35] Rahulm2310 commented on #201
@IC1101Virgo you need to add the badges here on this repo i.e. `bridge-in-tech-web`. The link you are using is for the backend repo.

[2021-06-27 22:16] aakankshaagr commented on #248
Thanks @mtreacy002 I have linked PR for follow up. There are some changes yet to be done
  1. Show password icon
  2. terms and conditions,mentor,mentees availability and checkboxes layout
  3. Responsive page
  4.side-image

I have tried 3 methods to load side_image but still it's not showing up.Can you please point out where I am going wrong?
  1.Using background-image in css
  2. Importing imag

[2021-06-28 13:28] arkumari2000 commented on #260
I can work on this and try to fix this issue.

[2021-06-28 13:28] arkumari2000 commented on #260
Please just provide me with the credentials of existing user.

[2021-06-28 23:18] mtreacy002 commented on #260
@arkumari2000 , we have no remote environment atm. This means to work on this you need to setup your own BIT backend locally. Once you've setup the backend, you can register as a new user and login to see the Sidebar issue. Let me know if you still want to pick up the issue so I can assign you 😉

[2021-06-29 11:25] arkumari2000 commented on #260
@mtreacy002 yes sure, please assign me this I will do the setup

[2021-06-29 12:03] mtreacy002 commented on #260
Great 👍. I'm assigning you, @arkumari2000 😉

[2021-06-29 13:55] arkumari2000 commented on #207
If no one is working on this issue, I would like to work on it.

[2021-06-30 06:07] Anmollenka commented on #194
sure @mtreacy002

[2021-06-30 13:53] naveen8801 commented on #210
@mtreacy002, I have made a PR please review :)

[2021-06-30 18:21] reachaadrika commented on #249
@mtreacy002  I am not able to make the pull request here

[2021-07-01 09:02] Anmollenka commented on #194
@mtreacy002  I updated the react version to 4.0.3 and ran npm audit.Here is the  [gist](https://gist.github.com/Anmollenka/71bb711062be542deb52655d2e93ea0d) of the npm audit report.

[2021-07-06 13:44] mtreacy002 opened #266 "Dev: Add BIT backend heroku servers to BIT frontend as REST endpoints"
### Is your feature request related to a problem? Please describe.
At the moment contributors must setup locally if they want to contribute to BIT project. Unfortunately with the current architecture (partial integration of MS and BIT backend), setting up locally could become a challenge/a bit complex to some contributors.

### Describe the solution you'd like
Having frontend application (BIT web)

[2021-07-07 10:25] mtreacy002 commented on #194
@Anmollenka , when you said you've manually changed the versions, which versions you're talking about? for example, I can't see how you've updated react version to 4.0.3 while the version stated inside package.json is 16.3.1.
<img width="581" alt="Screen Shot 2021-07-07 at 8 23 00 pm" src="https://user-images.githubusercontent.com/29667122/124743693-51ac4c00-df61-11eb-9469-51eed9e8aea9.png">

can

[2021-07-07 12:10] Anmollenka commented on #194
Yes @mtreacy002 as I have not submitted my pull request you will not be able to see my changes.Sorry for the inconvenience caused by not explaining my approach properly.

[2021-07-07 14:10] mtreacy002 opened #268 "Chore: Update package.lock-json to match the dependencies inside package.json"
### Is your feature request related to a problem? Please describe.
Currently package.lock-json does not match the package.json dependencies

### Describe the solution you'd like
Update package.lock-json

### Describe alternatives you've considered
NA

### Additional context
NA

[2021-07-07 14:31] #210 closed, assigned to naveen8801

[2021-07-13 09:15] kushal98 opened #271 "SignIn and SignUp page UI inconsistency"
### Describe the bug
It is not exactly a bug but some UI inconsistency.

I can see the signin and signup pages having very big checkboxes and that should be aligned and should not be that big.

### To Reproduce
Steps to reproduce the behavior:
1. Please visit either signin or signup page

### Expected behavior
The expected behaviour is to have that inline with the chechbox text and reduced in size

[2021-07-13 09:16] kushal98 commented on #271
Please assign this to me.

Thank you

[2021-07-14 06:45] stableapple commented on #271
@kushal98 Thanks for bringing this up.  As we are redesigning the website, this issue won't be relevant in the new Sign In(#249) and Sign Up page(#248). I think we can close this issue?

[2021-07-16 03:00] mtreacy002 commented on #271
I agree with @stableapple , @kushal98 . We just need to make sure the check boxes inconsistency won't happen in the new designs. So, I'm closing this issue now 😉.

[2021-07-16 03:00] #271 closed, assigned to nobody

[2021-07-30 10:23] Sristi27 commented on #207
Can I work on this issue?

[2021-07-30 19:00] vj-codes commented on #207
Assigning you @Sristi27
Happy coding!

[2021-07-30 21:46] mtreacy002 commented on #207
Sorry, @arkumari2000 , I missed your post. Do you still want to work on this? @Sristi27 , let's wait for @arkumari2000 response first 😉

[2021-07-30 21:48] mtreacy002 commented on #207
@Sristi27 , sure, you can work on this since @arkumari2000 still working on #264. Thanks for picking up the issue 😉

[2021-07-30 21:49] Sristi27 commented on #207
Thanks @mtreacy002  😀

[2021-07-30 21:54] Sristi27 commented on #207
Where can I find the carousel images?

[2021-07-30 22:05] mtreacy002 commented on #207
You can find it in the Figma file in this issue description, @Sristi27 . Hope this helps 😉

[2021-08-05 15:48] aakankshaagr commented on #249
@reachaadrika any updates?

[2021-08-22 06:22] naveen8801 commented on #195
Hey @mtreacy002, I'd like to work on this, please assign 😃

[2021-08-22 10:52] isabelcosta commented on #195
I just assigned to you @naveen8801 :)

[2021-09-18 13:56] #268 closed, assigned to mtreacy002

[2021-09-25 06:15] KholoodS commented on #249
Hello I wanted to know if this issue is still up for grab?

[2021-10-01 16:40] satyaarthchhabra commented on #174
hi @mtreacy . can i work on this issue

[2021-10-01 17:37] satyaarthchhabra commented on #249
Hi @mtreacy002 and @reachaadrika  is this issue still not resolved .if yes please assign it to me

[2021-10-10 21:10] vj-codes commented on #174
@satyaarthchhabra hey are you still interested to work on this?

[2021-10-15 15:26] harsh7in commented on #201
@Rahulm2310, I want to contribute to the project, can i work on this issue?

[2021-10-15 15:39] harsh7in commented on #207
hey @mtreacy002, this issue isn't solved till now, can I work on this?

[2021-10-15 16:25] vj-codes commented on #207
Unassigning you @Sristi27 due to inactivity

[2021-10-15 16:25] vj-codes commented on #207
Assigning you @harsh-9in
Happy coding!

[2021-10-17 11:39] rkraeher commented on #33
hey there @mtreacy002. i'm feeling better and was interested in getting involved again on the project during hacktober. Can I get back to work on this issue? Or if there are other areas where contribution would be more helpful im flexible and open to suggestion :)

[2021-10-17 11:57] vj-codes commented on #33
@rkraeher welcome back 🎉
Removing the issue from 'hold' and you can work on it, have a great start :)

[2021-10-17 12:59] isabelcosta commented on #201
@harsh-9in will assign to you since there are no updates for a while from @IC1101Virgo

@IC1101Virgo if I got this wrong and you are still interested in contributing, let us know :)

[2022-01-01 16:30] ritik307 commented on #174
@vj-codes I would like yo work on this issue

[2022-01-01 18:39] vj-codes commented on #174
Assigning you @ritik307
Happy coding!

[2022-01-02 12:05] ritik307 commented on #174
@vj-codes I have made a PR regarding the issue but the build is failing bcz of the below-mentioned issue. The issue is forcing me to install an older version of eslint which in my perspective should not be so.
Kindly look into the issue.
![error](https://user-images.githubusercontent.com/22374829/147875169-3f5f2630-e8d0-47e5-89ac-78f754c6ad83.png)

[2022-01-14 08:12] nawed2611 commented on #249
Hi! Is this issue open? I would like to work on it.

[2022-03-03 19:37] darkknight20032001 commented on #249
hello is this project opened??? I would like to contribute

[2022-03-04 22:36] rkraeher commented on #33
hi @vj-codes and @mtreacy002 I finally managed to open the PR for this. sorry for the delay. Tagging you both here since the zulip stream seems a bit stale.

[2022-06-09 10:48] Esther-Wavinya commented on #260
Can I work on this @mtreacy002

[2022-06-09 10:50] Esther-Wavinya commented on #201
Hello. Is this issue still open? @isabelcosta @Amulya-coder . If yes. Can I work on it?

[2022-06-10 20:34] vj-codes commented on #260
Assigning you @Esther-Wavinya
Happy coding!

[2022-10-17 18:03] aditi5050 opened #297 "the logo has been crashed"
![logo_is](https://user-images.githubusercontent.com/102579070/196249891-a5acd4b3-24a4-447a-b520-dd3ac959f06f.jpg)